<nav class="navbar navbar-custom navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header pull-left page-scroll">
			<a class="navbar-brand" href="#page-top">
				<%= image_tag(asset_path('logo_alpha.png')) %>
			</a>
	</div>

	<div class="pull-right">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="#page-top" class="btn btn-primary sign-in-btn" data-toggle="modal" data-target="#SignIn">Sign in</a>
	</div>

	<div class="collapse navbar-collapse navbar-ex1-collapse navbar-right">
		<ul class="nav navbar-nav visible-xs">
			<li class="page-scroll">
				<a href="#what-it-is">What it is</a>
			</li>
			<li class="page-scroll">
				<a href="#how-it-works">How it works</a>
			</li>
			<li class="page-scroll">
				<a href="#what-it-costs">What it costs</a>
			</li>
			<li class="page-scroll">
				<a href="#crowdfunding">Crowdfunding</a>
			</li>
		</ul>
	</div>

	</div>
</nav>

<nav class="navbar navbar-custom-links navbar-fixed-bottom hidden-xs">
	<div class="container">
    <ul class="nav navbar-nav">
    	<li class="page-scroll hide">
        <a href="#page-top"></a>
      </li>
      <li class="page-scroll">
        <a href="#what-it-is">What it is</a>
      </li>
      <li class="page-scroll">
        <a href="#how-it-works">How it works</a>
      </li>
      <li class="page-scroll">
        <a href="#what-it-costs">What it costs</a>
      </li>
      <li class="page-scroll">
        <a href="#crowdfunding">Crowdfunding</a>
      </li>
    </ul>
	</div>
</nav>

<%= render 'sign_in' %>

<div class="modal fade" id="video" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body"></div>
    </div>
  </div>
</div>

<section id="page-top" class="landing-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
      	<a href="#" id="video-btn" data-toggle="modal" data-target="#video">
      		<%= image_tag(asset_path('landing/play-logo.png')) %>
				</a>
        <h1 class="brand-heading">Learn to play music with a real music game</h1>
        <br /><br />
        <%= link_to facebook_signin_path, id: "facebook_signin", class: 'fb_button' do %>
        	<div class="Spinner"></div>
				  <span class="separator"></span>
				  <span class="text">Continue</span>
        <% end %>
        <br />
        Or sign up with your <%= link_to "email", signup_path, {id: "btn_email_signup_top_slide", class: "btn_email_signup"} %>
      </div>
    </div>
  </div>
</section>

<section id="what-it-is" class="landing-section">
	<div class="container">
	  <div class="row">
  		<div class="col-lg-6">
	      <h2>A real music game</h2>
	      <p>
	        InstrumentChamp is a music game service for learning to play music and playing with your friends online. Play with real instruments like acoustic guitar, piano, and drums but you can also sing along.
	      </p>
	      <br /><br />
        <%= link_to facebook_signin_path, id: "facebook_signin_1", class: 'fb_button' do %>
        	<div class="Spinner"></div>
				  <span class="separator"></span>
				  <span class="text">Continue</span>
        <% end %>
        <br />
        Or sign up with your <%= link_to "email", signup_path, {id: "btn_email_signup_what_it_is_slide", class: "btn_email_signup"} %>
	    </div>
	  </div>
  </div>
</section>

<section id="how-it-works" class="landing-section">
	<div class="container">
	  <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2>Wireless sound recognition</h2>
        <p>
					InstrumentChamp is a new music innovation enabled by music sound recognition. It turns your computer into a digital music teacher that listens, analyzes, and gives real-time feedback on how you play.
				</p>
        <p>
        	InstrumentChamp also introduces a new graphic interface that makes it possible for anyone to learn to play songs without reading sheet music.
        </p>
        <br /><br />
        <%= link_to facebook_signin_path, id: "facebook_signin_2", class: 'fb_button' do %>
        	<div class="Spinner"></div>
				  <span class="separator"></span>
				  <span class="text">Continue</span>
        <% end %>
        <br />
        Or sign up with your <%= link_to "email", signup_path, {id: "btn_email_signup_how_it_works_slide", class: "btn_email_signup"} %>
      </div>
	  </div>
  </div>
</section>

<section id="what-it-costs" class="landing-section">
	<div class="container">
	  <div class="row">
	  	<div class="col-lg-6 col-lg-offset-6 text-right">
	      <h2>Forever Free</h2>
	      <p>
	        InstrumentChamp offers a free service to everyone, where you can learn basic music skills and songs. This is powered by ads from our partners.
	      </p>
	      <p>
	      	You can choose to upgrade to premium, giving you a multiplayer game to play with family and friends - with no advertising. More and more songs will become available on InstrumentChamp.com and can be purchased on demand.
	      </p>
	      <br /><br />
        <%= link_to facebook_signin_path, id: "facebook_signin_3", class: 'fb_button' do %>
        	<div class="Spinner"></div>
				  <span class="separator"></span>
				  <span class="text">Continue</span>
        <% end %>
        <br />
        Or sign up with your <%= link_to "email", signup_path, {id: "btn_email_signup_what_it_costs_slide", class: "btn_email_signup"} %>
	    </div>
	  </div>
  </div>
</section>

<section id="crowdfunding" class="landing-section">
	<div class="container">
	  <div class="row">
	  	<div class="col-lg-8 col-lg-offset-2 text-center">
	      <h2>Join the crowdfunding campaign</h2>
	      <p>
	        After popular demand, InstrumentChamp will now open a new crowdfunding campaign where you can become a shareholder in InstrumentChamp. Read more about the company and our mission at the FundedByMe campaign page.
	      </p>
	      <br /><br /><br />
        <a href="http://bit.ly/1nSjX6q" target="_blank" id="btn_crowdfunding_campaign_landing" class="btn_crowdfunding_campaign">
      		<%= image_tag(asset_path('landing/fbm-logo.png')) %>
				</a>
	    </div>
	  </div>
  </div>
</section>

<%= render 'shared/footer' %>
