<ul class="media-list group-posts" id="group_posts">
  <li class="media">
    <a class="pull-left" href="<%= person_path(group_post.publisher) %>">
      <div class="thumbnail">
      	<%= image_avatar(group_post.publisher) %>
      </div>
    </a>
    <div class="media-body">
      <h4 class="media-heading"><%= link_to group_post.publisher.username, person_path(group_post.publisher) %></h4>
      <div class="small spacer-md text-muted"><%= time_ago_in_words(group_post.created_at) %> ago</div>
      <%= group_post.message %>
    </div>
  </li>
</ul>

<% unless current_user.likes?(group_post) %>
  <%= link_to 'Like', [group_post.group, group_post, PostLike.new], { method: :post } %>
<% else %>
  <%= link_to 'Unlike', [group_post.group, group_post, PostLike.by_user_and_likeable(current_user, group_post)], { method: :delete } %>
<% end %>
