<ul class="media-list group-posts" id="group_posts">
  <li class="media">
    <a class="pull-left" href="<%= person_path(group_post.publisher) %>">
      <div class="thumbnail">
      	<%= image_avatar(group_post.publisher) %>
      </div>
    </a>
    <div class="media-body">
      <h4 class="media-heading"><%= link_to group_post.publisher.username, person_path(group_post.publisher) %></h4>
      <div class="small spacer-md text-muted"><%= time_ago_in_words(group_post.created_at) %> ago</div>
      <%= group_post.message %>
    </div>
  </li>
</ul>

<%= render 'post_likes/new', likeable: group_post, likeable_parent: group_post.group %>
