<div class="masonry-img col-md-3 col-sm-6 col-xs-6">
  <%= content_tag :div, {class: "thumbnail", id: "user_#{user_groupie.id}"} do %>
    <%= link_to person_path(user_groupie) do %>
      <%= image_avatar(user_groupie) %>
    <% end %>

    <div class="overlay-actions">
      <div class="thumb-info">
        <h4><%= link_to user_groupie.username, person_path(user_groupie) %></h4>
      </div>
      <div class="btn-group-vertical">
        <% if current_user.following?(user_groupie) %>
          <%= render 'unfollow', user: user_groupie %>
        <% else %>
          <%= render 'follow', user: user_groupie %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
