<%= render 'shared/header_page', title: 'Change Password' %>

<div class="row">
	<div class="col-lg-4 col-md-4">
		<%= simple_form_for @user, url: reset_password_reset_path(params[:id]), validate: true do |f| %>
		  <%= f.input :password, input_html: { id: 'password_reset_1' } %>
		  <%= f.input :password_confirmation, input_html: { id: 'password_reset_2' } %>	
			<br />	
			<%= f.button :submit, "Save" %>
		<% end %>
	</div>
</div>

<%= content_for(:js_scripts) do %>
	<script type="text/javascript">
		window.onload = function () {
	    document.getElementById("password_reset_1").onchange = validatePassword;
	    document.getElementById("password_reset_2").onchange = validatePassword;
		}
		function validatePassword(){
			var pass2=document.getElementById("password_reset_2").value;
			var pass1=document.getElementById("password_reset_1").value;
			if(pass1!=pass2)
			    document.getElementById("password_reset_2").setCustomValidity("Password doesn't match");
			else
			    document.getElementById("password_reset_2").setCustomValidity('');  
		}
  </script>
<% end %>