<h1 class="page-header"><small><i class="glyphicon glyphicon-user"></i></small> Invitations</h1>

<%= link_to "Invite facebook friends", "#", {class: "btn btn-primary", id: "invite_fb_friends"} %>

<div id="fb-root"></div>

<hr />

<div class="row">
	<div class="col-md-6">
		<%= simple_form_for @user_invitation do |f| %>
	    <%= f.input :friend_email, label: "Invite a friend via email" %>
	    <%= f.button :submit, "Invite!" %>
		<% end %>
	</div>
</div>

<hr />

<%= link_to "Share on facebook", "#", {class: "btn btn-primary", id: "share_on_facebook"} %>

<%= content_for(:js_scripts) do %>

  <script src="https://connect.facebook.net/en_US/all.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      $("#invite_fb_friends").click(function(e) {
        FB.init({
          appId: '563800430326433',
          cookie: true,
          status: true,
          xfbml: true
        });

        FB.ui({
          method: 'apprequests',
          action_type: 'turn',
          message: 'Join InstrumentChamp...'
        }, requestCallback);

        e.preventDefault();
      });

      function requestCallback(response) {
        $.post("<%= user_facebook_invitations_path %>", {user_facebook_invitations: {facebook_user_ids: response.to}});
      }

      $("#share_on_facebook").click(function(e) {
        FB.init({
          appId: '563800430326433',
          cookie: true,
          status: true,
          xfbml: true
        });

        FB.ui({
          method: 'share',
          href: 'https://www.instrumentchamp.com',
        }, function(response){});

        e.preventDefault();
      });
    });
  </script>

<% end %>
