<h1 class="page-header"><small><i class="glyphicon glyphicon-bullhorn"></i></small> Invitations</h1>

<h3 class="page-header"><span class="margin-right"><i class="glyphicon glyphicon-user text-muted"></i></span> Facebook</h3>
<a class="fb_button xs" href="#" id="invite_fb_friends">
  <span class="separator"></span>
  <span class="text">Invite facebook friends</span>
</a>

<a class="fb_button xs" href="#" id="share_on_facebook">
  <span class="separator"></span>
  <span class="text">Share on facebook</span>
</a>

<div id="fb-root"></div>

<h3 class="page-header"><span class="margin-right"><i class="glyphicon glyphicon-user text-muted"></i></span> Twitter</h3>
<div class="row">
	<div class="col-md-6">
		<%= form_tag "/auth/twitter", {method: :get} do %>
		  <div class="form-group">
		    <%= text_area_tag "tweet_text", "Accept my invitation and start playing InstrumentChamp!", {class: 'form-control', rows: 3} %>
		    <%= hidden_field_tag "tweet", 'true' %>
		  </div>
		    <%= submit_tag "Share on Twitter", {class: "btn btn-primary"} %>
		<% end %>
	</div>
</div>

<% if @tweet %>
  <!-- Modal -->
  <div class="modal fade" id="tweet_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">This is the tweet</h4>
        </div>
        <div class="modal-body">
          <iframe border=0 frameborder=0 height=250 width=600 src="https://twitframe.com/show?url=https://twitter.com/<%= @user_twitter_account.username %>/status/<%= @tweet.id %>">
          </iframe>
        </div>
      </div>
    </div>
  </div>

  <%= content_for(:js_scripts) do %>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#tweet_modal').modal('toggle');
      });
    </script>
  <% end %>
<% end %>

<h3 class="page-header"><span class="margin-right"><i class="glyphicon glyphicon-envelope text-muted"></i></span> Email</h3>
<div class="row">
	<div class="col-md-6">
		<%= simple_form_for @user_invitation do |f| %>
	    <%= f.input :friend_email, label: "Invite a friend via email" %>
	    <%= f.button :submit, "Invite" %>
		<% end %>
	</div>
</div>

<%= content_for(:js_scripts) do %>

  <script src="https://connect.facebook.net/en_US/all.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      $("#invite_fb_friends").click(function(e) {
        FB.init({
          appId: "<%= FACEBOOK_APP_ID %>",
          cookie: true,
          status: true,
          xfbml: true
        });

        FB.ui({
          method: 'apprequests',
          action_type: 'turn',
          message: 'Join InstrumentChamp...'
        }, requestCallback);

        e.preventDefault();
      });

      function requestCallback(response) {
        $.post("<%= user_facebook_invitations_path %>", {user_facebook_invitations: {facebook_user_ids: response.to}});
      }

      $("#share_on_facebook").click(function(e) {
        FB.init({
          appId: "<%= FACEBOOK_APP_ID %>",
          cookie: true,
          status: true,
          xfbml: true
        });

        FB.ui({
          method: 'share',
          href: 'https://www.instrumentchamp.com',
        }, function(response){});

        e.preventDefault();
      });
    });
  </script>

<% end %>
