<div class="masonry-img col-md-2 col-sm-4 col-xs-6">
	<div class="overflow_thumb">
		<%= artist.image %>
	</div>
	<div class="actions-content">
		<div class="spacer-sm">
			<div class="link_header"><%= link_to artist.title, artist_path(artist) %></div>
		</div>
		<%= artist.edit_button %>
    <div class="spacer-sm">
      <%= artist.decorate.display_follow_button %>
      <%= artist.decorate.challenge_button(params[:song_id]) %>
    </div>
  </div>
</div>

<% if artist.twitter.present? %>
  <%= render "twitter_challenge_modal", artist: artist, modal_id: "twitter_artist_#{artist.id}", element_id: "challenge_#{artist.user.id}" %>
<% end %>

