<%= render 'shared/header_page', title: 'Artists' %>

<% unless @artists.blank?%>

	<div class="thumbnail-grid row">
		<% @artists.each do |artist| %>		
			<div class="masonry-img col-md-2 col-sm-4 col-xs-6">	
				<div class="overflow_thumb">
					<%= link_to artist_path(artist), class: 'thumbnail' do %>
						<% if artist.imagename_url != artist.imagename.default_url %>
							<%= image_tag(artist.imagename_url, {alt: artist.title}) %>
						<% elsif artist.public_image_url %>
							<%= image_tag(artist.public_image_url.url, {alt: artist.title}) %>												
						<% else %>		
							<%= image_tag(artist.imagename_url, {alt: artist.title}) %>
						<% end %>
					<% end %>					
				</div>
				<div class="actions-content">
					<div class="spacer-sm">
						<div class="link_header"><%= link_to artist.title, artist_path(artist) %></div>
					</div>
					<%= artist.edit_button %>
			  </div>
			</div>
		<% end %>
	</div>	

<% end %>

<br />

<%= render 'shared/header_page', title: 'Most Popular Artists', sub_header: true, view_more: 'View more', view_more_path: most_popular_artists_path %>

<% unless @top_artists.blank?%>

	<div class="thumbnail-grid row">
		<% @top_artists.each do |artist| %>
			<div class="masonry-img col-md-2 col-sm-4 col-xs-6">
				<div class="thumbnail">
					<div class="overflow_thumb">
						<%= link_to artist_path(artist.name.parameterize) do %>
				      <% if !artist.images.empty? %>
								<%= image_tag artist.images.first.url, style: 'width: 100%' if artist.images.first.url %>
							<% else %>
								<%= image_tag(asset_path('default_artist.png')) %>
							<% end %>
						<% end %>
					</div>
					<div class="actions-content">
						<div class="spacer-sm">
							<div class="link_header"><%= link_to artist.name, artist_path(artist.name.parameterize) %></div>
						</div>
		  		</div>
		  	</div>
	  	</div>  	
		<% end %>
	</div>	

<% end %>