<%= set_meta_description "Challenge #{@artist.title} with InstrumentChamp. The best way to learn to play music." %>
<%= set_page_title "Challenge #{@artist.title} with InstrumentChamp" %>

<%= content_for(:detail_header_thumb) do %>
	<%= image_tag @artist.image_url %>
<% end %>

<%= content_for(:detail_header_primary_info) do %>
	<h3>Artist</h3>
	<h2><%= @artist.title %></h2>
	<br class="hidden-xs" />
	<%= link_to "Challenge", new_challenge_path(challenged_id: @artist.user.id), class: "btn btn-primary", id: "challenge_artist", data: {artist_id: @artist.id} %>
	<% if signed_in? %>
  	<div class="display-inline artist-show-follow">
  	 <%= render 'users/follow_unfollow', user: @artist.user, css_classes: "" %>
  	</div>
  <% end %>
<% end %>

<%= content_for(:detail_header_secondary_info) do %>
	<div>Following: <%= link_to @artist.user.followed_users.count, following_path(@artist.user) %></div>
	<div>Followers: <%= render "users/followers_count", user: @artist.user %></div>
<% end %>

<%= content_for(:detail_header_nav_left) do %>
	<ul>
		<li class="active"><a href="#overview_tab" data-toggle="tab">Overview</a></li>
	  <li><a href="#challenges_tab" data-toggle="tab">Challenges</a></li>
	  <li><a href="#songs_tab" data-toggle="tab">Songs</a></li>
	</ul>
<% end %>

<%= content_for(:detail_header_nav_right) do %>
	<%= @artist.edit_button %>
<% end %>

<%= content_for(:detail_right_col) do %>
	<h2>Biography</h2>
	<% if @artist.bio %>
		<p><%= truncate(@artist.bio, length: 500, separator: ' ') { link_to "Read more", @artist.bio_read_more_link, {class: 'margin-left', target: '_blank'} } %></p>
	<% else %>
		<p>No biography available</p>
	<% end %>

	<% unless @artist.user.followers.blank? %>
    <hr />
  	<div class="top_scores_songs">
      <h2>Fans leaderboard</h2>
      <table width="100%" class="datagrid">
        <tr class="head">
          <td>User</td>
          <td>MP</td>
        </tr>
        <% @artist.user.followers.by_xp.limit(10).each do |follower| %>
          <tr class="<%= cycle("odd", "even") %>">
            <td><%= link_to follower.username, person_path(follower), class: 'btn-secondary-color' %></td>
            <td><%= follower.xp %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>

<% end %>

<div class="tab-content">
	<div class="tab-pane active" id="overview_tab">
		<% unless @activity_feeds.empty? %>
		  <br />
		  <%= render @activity_feeds %>
		  <br />
		  <% unless @activity_feeds.last_page? %>
		    <div id="more_posts"></div>
		    <%= link_to 'View more', activities_artist_path(@artist, page: 2), { remote: true, id: "show_more_posts_link" } %>
		  <% end %>
		<% end %>
	</div>
	<div class="tab-pane" id="challenges_tab">
		<% if !@challenges.blank? %>
	  	<%= render 'shared/header_page', title: 'Challenges', sub_header: true, view_more: 'View more', view_more_path: challenges_path %>

			<table width="100%" class="datagrid">
				<% @challenges.each do |challenge| %>
					<tr class="<%= cycle("odd", "even") %>">
						<td class="thumb"><%= image_tag challenge.cover_url, class: "avatar-xs" %></td>
						<td><%= link_to challenge.song.title, song_path(challenge.song) %>
			    	by <%= link_to challenge.song.artist.title, artist_path(challenge.song.artist)%></td>
						<td><%= challenge.display_results %></td>
					</tr>
				<% end %>
			</table>
		<% else %>
			<p>No challenges</p>
		<% end %>
	</div>
	<div class="tab-pane" id="songs_tab">
		<% if !@songs.blank? %>
			<section>
				<table width="100%" class="datagrid">
					<tr class="head">
						<td>Song</td>
						<td>Rating</td>
						<td></td>
					</tr>
					<% @songs.each do |song| %>
						<tr class="<%= cycle("odd", "even") %>">
							<td><%= link_to song.title, song_path(song), class: 'btn-secondary-color' %></td>
							<td><%= song.display_rating %></td>
							<td align="right">
								<%= link_to song.play_url, class: "btn btn-primary btn-sm" do %>
									<i class="glyphicon glyphicon-play"></i> Play
								<% end %>
								<%= link_to "Challenge", new_challenge_path(song_id: song.id), class: "btn btn-primary btn-sm" %>
							</td>
						</tr>
					<% end %>
				</table>
			</section>
		<% else %>
			<p>No songs</p>
		<% end %>
	</div>
</div>

<%= render "login_modal" %>

<% if @artist.twitter.present? %>
  <%= render "twitter_challenge_modal", artist: @artist, modal_id: "twitter_artist_#{@artist.id}", element_id: "challenge_artist" %>
<% end %>
