<%= render 'shared/header_page', title: @artist.title %>

<div class="row">
	<div class="col-lg-4">
		<p><%= image_tag(@artist.imagename_url, {alt: @artist.title, class: 'thumbnail'}) %></p>
		<p><%= @artist.edit_button %></p>
	</div>
	<div class="col-lg-8">		
		<ul class="nav nav-tabs">
		  <li><a href="#songs" data-toggle="tab">Songs</a></li>
		  <li><a href="#challenges_tab" data-toggle="tab">Challenges</a></li>
		</ul>
		<br />
		<div class="tab-content">
		  <div class="tab-pane active" id="songs">
		  	<% if !@songs.blank? %>
					<section>
						<%= render 'shared/header_page', title: 'Songs', sub_header: true, view_more: 'View more', view_more_path: songs_path %>
		
						<table width="100%" class="datagrid">
							<% @songs.each do |song| %>
								<tr class="<%= cycle("odd", "even") %>">
									<td><%= link_to song.title, song_path(song), class: 'btn-secondary-color' %></td>
									<td>
										<i class="glyphicon glyphicon-star primary-text-color"></i>
										<i class="glyphicon glyphicon-star primary-text-color"></i>
										<i class="glyphicon glyphicon-star primary-text-color"></i>
										<i class="glyphicon glyphicon-star primary-text-color"></i>
										<i class="glyphicon glyphicon-star primary-text-color"></i>
									</td>
									<td align="right">
										<%= link_to song.play_url, class: "btn btn-primary btn-sm" do %>
											<i class="glyphicon glyphicon-play"></i> Play
										<% end %>			
										<%= link_to "Challenge", new_challenge_path(song_id: song.id), class: "btn btn-primary btn-sm" %>
									</td>
								</tr>
							<% end %>
						</table>
						
					</section>
				<% else %>
					<p>No songs</p>
				<% end %>
		  </div>
		  <div class="tab-pane" id="challenges_tab">
		  	<% if !@challenges.blank? %>
			  	<%= render 'shared/header_page', title: 'Challenges', sub_header: true, view_more: 'View more', view_more_path: challenges_path %>
			
					<table width="100%" class="datagrid">
						<% @challenges.each do |challenge| %>
							<tr class="<%= cycle("odd", "even") %>">
								<td class="thumb"><%= image_tag challenge.cover_url, class: "avatar-xs" %></td>
								<td><%= link_to challenge.song.title, song_path(challenge.song) %>
					    	by <%= link_to challenge.song.artist.title, artist_path(challenge.song.artist)%></td>
								<td><%= challenge.display_results %></td>
							</tr>
						<% end %>
					</table>
				<% else %>
					<p>No challenges</p>
				<% end %>
		  </div>
		</div>
		
	</div>
</div>

<!--
<br /><br />

<%= render 'shared/header_page', title: 'More songs', sub_header:true, view_more: 'View more', view_more_path: songs_path %>

<div class="thumbnail-grid row">
  <%= render @more_songs %>
</div>

<%= render 'shared/banner_ad' %>

-->
