<h1 class="page-header"><small><i class="glyphicon glyphicon-star"></i></small> <%= @artist.title %></h1>

<p><img src="http://placehold.it/300x300" class="thumbnail"></p>

<% if @artist.bio %>
<section>
	<h2>Bio</h2>
	<p><%= @artist.bio %></p>
</section>
<% end %>

<% if @artist.country%><p class="subtitle"><%= @artist.country%></p><% end %>

<% unless @songs.blank? %>
<section>
	<p><h2><%= pluralize @songs.count, "song"%></h2></p>
	<div class="thumbnail-grid row">
		<%= render partial: "songs/song", collection: @songs %>
	</div>
</section>
<% end %>
