<h1 class="page-header"><small><i class="glyphicon glyphicon-star"></i></small> <%= @artist.title %></h1>

<p><img class="img-responsive" src="http://placehold.it/1024x300" alt=""></p>

<% if @artist.bio %>
<section>
	<h2>Bio</h2>
	<p><%= @artist.bio %></p>
</section>
<% end %>

<% if @artist.country%><p class="subtitle"><%= @artist.country%></p><% end %>

<% unless @artist.songs.blank? %>
<section>
	<p><h2><%= pluralize @artist.songs.count, "song"%></h2></p>
	<div class="thumbnail-grid row">
		<%= render partial: "songs/song", collection: @artist.songs %>
	</div>
</section>
<% end %>
