<nav class="navbar navbar-custom navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header pull-left page-scroll">
      <a class="navbar-brand logo" href="#page-top"> <%= image_tag(asset_path('logo_alpha.png')) %> </a>
    </div>

    <div class="pull-right">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

		<div class="pull-left nav-secondary-top-landing hidden-xs">
			<a href="<%= root_path %>" class="btn btn-link <%= 'active' if current_page?(root_path) %>">Learn to Play</a>
    	<a href="<%= music_teachers_path %>" class="btn btn-link <%= 'active' if current_page?(music_teachers_path) %>">Music Teachers</a>
    	<a href="<%= music_artists_path %>" class="btn btn-link <%= 'active' if current_page?(music_artists_path) %>">Music Artists</a>
    	<a href="<%= guitar_path %>" class="btn btn-link <%= 'active' if current_page?(guitar_path) %>"><i class="icon-instrument guitar-sm"></i></a>
    	<a href="<%= piano_path %>" class="btn btn-link <%= 'active' if current_page?(piano_path) %>"><i class="icon-instrument keyboard-sm"></i></a>
    	<a href="<%= drums_path %>" class="btn btn-link <%= 'active' if current_page?(drums_path) %>"><i class="icon-instrument drums-sm"></i></a>
    </div>

    <div class="pull-right nav-helper-top-landing hidden-sm hidden-xs">
      <a href="<%= help_path %>" class="btn btn-link" target="_blank">Help</a>
      <a href="#" class="btn btn-link authentication-btn login-modal-btn" data-id="login">Log in</a>
      <a href="#" class="btn btn-primary btn-lg authentication-btn download-modal-btn" data-id="download">Download</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-right">
      <ul class="nav navbar-nav visible-xs">
      	<li><a href="<%= root_path %>" class="btn btn-link <%= 'active' if current_page?(root_path) %>">Learn to Play</a></li>
	    	<li><a href="<%= music_teachers_path %>" class="btn btn-link <%= 'active' if current_page?(music_teachers_path) %>">Music Teachers</a></li>
	    	<li><a href="<%= music_artists_path %>" class="btn btn-link <%= 'active' if current_page?(music_artists_path) %>">Music Artists</a></li>
	    	<li><a href="<%= guitar_path %>" class="btn btn-link <%= 'active' if current_page?(guitar_path) %>">Guitar</a></li>
	    	<li><a href="<%= piano_path %>" class="btn btn-link <%= 'active' if current_page?(piano_path) %>">Piano</a></li>
	    	<li><a href="<%= drums_path %>" class="btn btn-link <%= 'active' if current_page?(drums_path) %>">Drums</a></li>
				<li class="spacer-sm"><hr class="no-padding no-margin" /></li>
        <li class="page-scroll">
          <a href="#s1"><%= link1 %></a>
        </li>
        <li class="page-scroll">
          <a href="#s2"><%= link2 %></a>
        </li>
        <li class="page-scroll spacer-sm">
          <a href="#s3"><%= link3 %></a>
      	</li>
      	<li class="spacer-sm"><hr class="no-padding no-margin" /></li>
      	<li><a href="<%= help_path %>" class="btn btn-link" target="_blank">Help</a></li>
	      <li><a href="#" class="btn btn-link authentication-btn login-modal-btn" data-id="login">Log in</a></li>
	      <li><a href="#" class="btn btn-primary btn-lg authentication-btn download-modal-btn" data-id="download">Download</a></li>
      </ul>
    </div>

  </div>
</nav>

<nav class="navbar navbar-custom-links navbar-fixed-bottom hidden-xs">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="page-scroll hide">
        <a href="#page-top"></a>
      </li>
      <li class="page-scroll">
        <a href="#s1"><%= link1 %></a>
      </li>
      <li class="page-scroll">
        <a href="#s2"><%= link2 %></a>
      </li>
      <li class="page-scroll">
        <a href="#s3"><%= link3 %></a>
      </li>
    </ul>
  </div>
</nav>

<%= render 'sessions/sign_in' %>

<div class="modal fade" id="video" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body"></div>
    </div>
  </div>
</div>