<% content_for(:facebook_og_meta) do %>
<meta property="og:url" content="<%= request.original_url %>" />
<meta property="og:title" content="InstrumentChamp for Music Teachers" />
<meta property="og:type" content="website" />
<meta property="og:image" content="<%= asset_url('logo_beta.png') %>" />
<meta property="og:description" content="You're invited to start playing InstrumentChamp - the new game that teaches you to play music!" />
<% end %>

<%= render "header", link1: "What is InstrumentChamp?", link2: "The Music Mission", link3: "InstrumentChamp for Music Teachers" %>

<section id="page-top" class="landing-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="#" id="video-btn" data-toggle="modal" data-target="#video"> <%= image_tag(asset_path('landing/play-logo.png')) %> </a>
        <h1 class="brand-heading">Make music dreams come true</h1>
        <h3>Help your students become music players, join the mission to make the world play music.</h3>
        <br /><br />
        <%= render "fb_signup", id: "facebook_signin_music_teachers_top" %>
      </div>
    </div>
  </div>
</section>

<section id="s1" class="landing-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>What is InstrumentChamp?</h2>
        <h3>InstrumentChamp is a game and social network for music players</h3>
        <p>
          It is a fun, easy and social way to learn to play music. Practice alone or play with friends online. Learn to play new songs and connect with your favorite artists. The microphone in your computer listen, analyze and give realtime feedback on how you play.
        </p>
        <p>
        	<%= render "landing_pages/features_icons" %>
        </p>
        <br />
        <%= render "fb_signup", id: "facebook_signin_music_teachers_1" %>
      </div>
    </div>
  </div>
</section>

<section id="s2" class="landing-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2>The Music Mission</h2>
        <h3>Start your music career and join the music mission</h3>
        <p>
          Improve your music skills, learn to play new songs and instruments. Start today and become an InstrumentChamp. You can play the game with both acoustic and electric instruments.
        </p>
        <p>
        	<%= render "landing_pages/career_levels" %>
        </p>
        <br />
        <%= render "fb_signup", id: "facebook_signin_music_teachers_2" %>
      </div>
    </div>
  </div>
</section>

<section id="s3" class="landing-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-lg-offset-5 text-right">
        <h2>InstrumentChamp for Music Teachers</h2>
        <h3>Your students can become music players:</h3>
        <p>
        	<ul>
        		<li>Learn to play instruments</li>
        		<li>Learn to play songs</li>
        		<li>Learn to play in a band</li>
        		<li>Connect with other students, teachers and artists online</li>
        	</ul>
        </p>
        <p>
        	<%= render "landing_pages/instrument_icons" %>
        </p>
        <p>
        	Sign up now to try it out and invite your students to join with a free student account
        </p>
        <br />
        <%= render "fb_signup", id: "facebook_signin_music_teachers_3" %>
      </div>
    </div>
  </div>
</section>

<%= render 'shared/footer' %>


<% flash.each do |name, msg| %>
  <%= content_tag :div, class: "hidden" do %>
    <%= msg %>
  <% end %>
<% end %>