<%= render 'shared/header_page', title: 'Buy Song' %>

<h2> Buy <%= @user_paid_song_form.song.title %> from <%= @user_paid_song_form.song.artist.title %> </h2>
<h3> Just <%= @user_paid_song_form.song.cost %> EUR</h3>
<p>
  <%= image_tag @user_paid_song_form.song.cover_url %>
</p>

<% if current_user.can_buy_song?(@user_paid_song_form.song) %>

  <%= simple_form_for @user_paid_song_form, url: user_paid_songs_path do |f| %>

    <%= f.input :song_id, as: :hidden %>

    <div id="select_payment_type">
      <h4>Select a payment type</h4>
      <% PaymentType.default_order.each do |payment_type| %>
        <%= link_to payment_type.name, "#", {class: "btn btn-warning select_payment_type", id: payment_type.html_id, data: {payment_type_id: payment_type.id}} %>
      <% end %>
    </div>

    <div class="hide" id="credit_card_payment_form_fields">
      <h4>Fill in your credit card details</h4>
      <%= f.input :card_holdername %>
      <%= f.input :card_number %>
      <%= f.input :card_cvc %>
      <%= f.input :card_expiry_date, as: :date, discard_day: true, order: [:month, :year], start_year: Date.today.year, end_year: Date.today.year + 15, prompt: "Select..." %>

      <div id="paymill_error">
        <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
      </div>

      <p class="payment-errors alert-error span3" style="display:none;"></p>
    </div>

    <%= f.input :payment_amount, input_html: { value: @user_paid_song_form.song.cost }, as: :hidden %>
    <%= f.input :payment_type_id, as: :hidden %>

    <%= f.button :submit, "Buy Now", {class: "btn btn-success hide", id: "submit_buy_song_form"} %>

  <% end %>

  <%= content_for(:js_scripts) do %>

    <script type="text/javascript">
      var PAYMILL_PUBLIC_KEY = "<%= PAYMILL_PUBLIC_KEY %>";
    </script>
    <script type="text/javascript" src="https://bridge.paymill.com/"></script>

    <script type="text/javascript">
      $(document).ready(function() {
        submit_credit_card_payment();
      });
    </script>

  <% end %>

<% else %>
  <div class="alert alert-success">
    You have already purchased this song.
  </div>
<% end %>
