<div class="post-feed">
	<div class="clearfix">
		<div class="pull-left user-thumb">
			<%= link_to group_challenge_path(group_id: activity.trackable.group.id, id: activity.trackable.id) do %>
	      <div class="thumbnail">
	        <%= image_tag activity.trackable.song.cover_url, class: "song-cover" %>
	      </div>
	    <% end %>
		</div>
		<div class="pull-left">
      <div class="spacer-sm">The challenge <%= link_to activity.trackable.song.title, group_challenge_path(activity.trackable.group, activity.trackable) %> has finished</div>
      <div class="small spacer-md text-muted"><%= time_ago_in_words(activity.created_at) %> ago</div>

      <% activity.trackable.song_scores.highest_scores(3).each do |high_score| %>
        <div>
          <%= link_to high_score.user.username, person_path(high_score.user) %> scored
          <%= high_score.score %> points on <%= high_score.instrument.name.downcase %>

          <% if high_score.user == activity.trackable.group_winner %>
            <span class='label label-primary'>Winner</span>
          <% end %>
        </div>
      <% end %>
		</div>
	</div>
	<%= render 'activities/actions', activity: activity %>
</div>