<div class="masonry-img col-md-2 col-sm-2 col-xs-6 song-thumb">
	<%= link_to group, class: 'thumbnail' do %>
		<%= image_group(group) %>
	<% end %>
	<div class="actions-content">
		<div class="spacer-sm">
			<div class="link_header"><%= link_to group.name, group, class: "song-title" %></div>
			<div class="link_subheader"><%= group.group_privacy.name %></div>
		</div>
		<div>
			<%= group.join_button %>
		</div>
  </div>
</div>