<div class="cover-group">
	<%= image_tag @group.cover_url, alt: @group.name, class: 'cover-img' %>
	<%= image_tag @group.imagename_url, alt: @group.name, class: 'profile-group-img hidden-xs hidden-sm' %>
</div>

<div class="clearfix group-nav">
	<div class="pull-left">
		<ul class="group-nav-list clearfix">
			<li><h4><%= link_to @group.name, @group %></h4></li>
			<li><%= link_to "Members", members_group_path(@group) %></li>
			<li><%= link_to "Challenges", challenges_group_path(@group) %></li>
		</ul>
	</div>
	<div class="pull-right">
		<%= link_to 'Create new group', new_group_path, class: 'btn btn-primary btn-sm' %>
		<% if UserGroupsManager.new(current_user).belongs_to_group?(@group) %>
  		<div class="dropdown">
  		  <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
  		    <i class="glyphicon glyphicon-cog"></i>

  		  </button>
  		  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
  		    <li role="presentation"><a href="<%= group_group_invitations_path(@group) %>" role="menuitem", tabindex="-1">Add people</a></li>
  		    <!--<li role="presentation"><a href="#" role="menuitem", tabindex="-1">Share group</a></li>-->
  		    <!--<li role="presentation"><a href="#" role="menuitem", tabindex="-1">Send message</a></li>-->
  		    <li role="presentation"><a href="<%= new_group_challenge_path(@group) %>" role="menuitem", tabindex="-1">Create new challenge</a></li>
  		    <li role="presentation"><a href="<%= new_group_path %>" role="menuitem", tabindex="-1">Create new group</a></li>
  		    <!--<li role="presentation"><a href="#" role="menuitem", tabindex="-1">Create subgroup</a></li>-->
  		    <li role="presentation"><%= @group.leave_group_button %></li>
  		    <li role="presentation"><%= @group.edit_button %></li>
  		  </ul>
  		</div>
  	<% end %>
	</div>
</div>