<% if !signed_in? %>
  <%= content_for(:js_scripts) do %>
    <script type="text/javascript">
      $(document).ready(function() {
       $("#section_login_modal").modal({
          show: true,
          backdrop: 'static'
        });
      });
    </script>
  <% end %>
<% end %>

<div class="modal fade" id="section_login_modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header text-center">
        <%= image_tag(asset_path('logo_beta.png')) %><br /><br />
        <h2>Make your music dream come true</h2>
        <h3>Sign up for free</h3>
      </div>
      <div class="modal-body">
        <div class="row row-eq-height">
          <div class="col-md-5 left-side col-md-offset-1">
            <%= image_tag @group.imagename_url, class: "cover" %>
            <div class="info-content">
              <div class="primary">Group</div>
              <div class="secondary"><span class="primary-text-color"><%= @group.name %></span></div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="login-title">
              InstrumentChamp is a game and social network for music players
            </div>
            <%= render "sessions/modal_sign_in"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>