<%= render 'shared/header_page', title: 'Groups' %>

<%= link_to "Create new group", new_group_path, {class: "btn btn-primary"} %>

<br /><br />

<% if !@group_invitations.blank? %>
	<%= render 'shared/header_page', title: 'Invitations', sub_header: true %>
	<div class="row">
		<%= render @group_invitations %>
	</div>
<% end %>

<%= render "groups_list", groups_list: @my_groups %>
<%= render "groups_list", groups_list: @new_groups %>
<%= render "groups_list", groups_list: @most_popular_groups %>
