<%= render "group_header" %>

<div class="row">
	<div class="col-lg-8">
		<% if signed_in? and @group.user_can_post?(current_user) %>
			<h2>New post</h2>
			<%= render "group_posts/form", group: @group %>
			<hr />
	 <% end %>
	 <% if signed_in? and @group.user_can_see_posts?(current_user) %>
			<h2>Posts</h2>
				<ul class="media-list group-posts" id="group_posts">
				<%= render @posts.reverse %>
			</ul>
		<% end %>
	</div>
	<div class="col-lg-4">
		<h2>About</h2>
		<p>
			<%= @group.show_description %>
		</p>
		<hr />
		<%= @group.add_members_button %>
		<%= @group.join_button %>
    <%= @group.create_challenge_button %>
    <hr /
    <%= render "leaderboard", group_leaders: @group_leaders %>
	</div>
</div>