<%= render "group_header" %>

<div class="row">
	<div class="col-lg-8">
		<% if signed_in? and @group.user_can_post?(current_user) %>
			<h2>Status</h2>
			<%= render "group_posts/form", group: @group %>
	  <% end %>

    <% if !@group_activities.blank? and signed_in? and @group.user_can_see_posts?(current_user) %>
      <hr />
      <div id="group_activities">
        <%= render @group_activities %>
        <div>
          <%= link_to "View more", group_group_activities_path(@group) %>
        </div>
      </div>
    <% end %>
	</div>
	<div class="col-lg-4">
		<h2>About</h2>
		<p>
			<%= @group.show_description %>
		</p>
		<hr />
			<%= render "members", group: @group %>
		<hr />
		<%= @group.add_members_button %>
		<%= @group.join_button %>
    <%= @group.create_challenge_button %>
    <hr />
    <%= render "leaderboard", group_leaders: @group_leaders %>
	</div>
</div>