<% if defined? modal %>
	<div class="masonry-img col-md-3 col-sm-4 col-xs-6 user-thumb">	
<% else %>
	<div class="masonry-img col-md-2 col-sm-4 col-xs-6 user-thumb">
<% end %>
	<%= link_to person_path(user), class: 'thumbnail' do %>
		<%= image_avatar(user) %>
	<% end %>
	
	<div class="actions-content">
		<div class="spacer-sm">
			<div class="link_header"><%= link_to user.username, person_path(user) %></div>
		</div>
		
		<%= user.display_follow_button %>
		<%= user.challenge_button(params[:song_id]) %>
	</div>
</div>

