<% if users_list and !users_list.users.blank? %>

	<% if users_list.display_more? %>
		<%= render 'shared/header_page', title: users_list.title, sub_header: true, view_more: 'View more', view_more_path: users_list.display_more_link %>
  <% else %>
  	<%= render 'shared/header_page', title: users_list.title, sub_header: true %>
  <% end %>

  <div class="thumbnail-grid row">
  	<% if defined? modal %>
  		<%= render users_list.users, modal: true %>
  	<% else %>
  		<%= render users_list.users %>
  	<% end %>
  </div>

	<hr />
  <% if users_list.paginate? %>
    <%= paginate users_list.users %>
  <% end %>

<% end %>
