<h1 class="huge light">Edit profile</h1>

<%= flash.alert %>

<%= simple_form_for @user, url: person_path(@user) do |f| %>

  <div>
    <%= f.input :username, label_html: { class: 'large' } %>
    <%= f.input :email, label_html: { class: 'large' } %>
  </div>

  <div>
    <%= f.submit "Save", {class: "btn-accent large block"} %>
  </div>

<% end %>
