
<h1><i class="icon-users"></i> People</h1>

<% unless @categories.blank?%>
<ul class="user-categories horizontal-menu large">
	<li class="<%= current_category(nil, :type)%>"><%= link_to "All", people_path %></li>
	<% @categories.each do |category| %>
	<li class="<%= current_category(category, :type)%>"><%= link_to category.title, people_path(type: category.id)%></li>
	<% end %>
</ul>
<% end %>

<% unless @users.blank? %>

<% if @fb_friends %>

  <ul class="block-grid">

  <% @fb_friends.each do |fb_friend| %>

    <li>
      <%= image_tag "https://graph.facebook.com/" + fb_friend['id'] + "/picture?type=large" %>
      <div class="overlay username">
        <%= fb_friend['name'] %>
      </div>
      <ul class="overlay-actions list">
        <li><%= link_to "Follow", "http://www.facebook.com/dialog/send?app_id=563800430326433&to=#{fb_friend['id']}&name=Music360%20Dialogs&link=https://music360-prototype.herokuapp.com/login&redirect_uri=#{people_url}", {class: "follow_fb_user"} %></li>
        <li><%= link_to "Challenge", "#" %></li>
      </ul>
    </li>

  <% end %>

  </ul>

<% end %>

<%= content_for :js_scripts do %>

  <div id="fb-root"></div>

  <script src="https://connect.facebook.net/en_US/all.js"></script>

  <script type="text/javascript">
    $("a#follow_fb_user").click(function() {

      FB.init({appId: '563800430326433', cookie: true});

      FB.ui({
        app_id:'563800430326433',
        method: 'send',
        name: "Music360",
        link: 'https://music360-prototype.herokuapp.com/login',
        to: "546331814",
        description: 'Join Music360!'

      });

      return false;
    });
  </script>

<% end %>


<ul class="block-grid">
<% @users.each do |user| %>

	<li>
		<%= link_to people_path(user) do %>
			<%= image_avatar(user) %>

			<div class="overlay username">
				<%= user.username%>
			</div>
		<% end %>

		<ul class="overlay-actions list">

      <li>
        <% if current_user.following?(user) %>
          <%= render 'unfollow', user: user %>
        <% else %>
          <%= render 'follow', user: user %>
        <% end %>
      </li>

			<li><%= link_to "Challenge", new_challenge_path(song_id: params[:song_id], challenged_id: user.id), {id: "challenge_#{user.id}"} %></li>
		</ul>
	</li>


<% end %>
</ul>
<% end %>

<%= paginate @users %>
