
<h1><i class="icon-users"></i> People</h1>

<%= link_to "Invite facebook friends", "#", {id: "invite_fb_friends"}%>

<%= content_for :js_scripts do %>

  <div id="fb-root"></div>

  <script src="https://connect.facebook.net/en_US/all.js"></script>

  <script type="text/javascript">
    $("a#invite_fb_friends").click(function() {

      FB.init({
        appId: "563800430326433",
        cookie: true,
        status: true
      });

      FB.ui({method: "apprequests", message: "Invite your friends to Music360"}, requestCallback);

      function requestCallback(response) {
        $.post("<%= user_sent_facebook_invitations_path %>", {user_sent_facebook_invitations: {facebook_user_ids: response.to}});
      }

      return false;
    });
  </script>

<% end %>

<% unless @categories.blank?%>
<ul class="user-categories horizontal-menu large">
	<li class="<%= current_category(nil, :type)%>"><%= link_to "All", peoples_path %></li>
	<% @categories.each do |category| %>
	<li class="<%= current_category(category, :type)%>"><%= link_to category.title, peoples_path(type: category.id)%></li>
	<% end %>
</ul>
<% end %>

<% unless @users.blank? %>

<ul class="block-grid">
<% @users.each do |user| %>

	<li>
		<%= link_to people_path(user) do %>
			<%= image_avatar(user) %>

			<div class="overlay username">
				<%= user.username%>
			</div>
		<% end %>

		<ul class="overlay-actions list">
			<li><%= link_to "Add as friend", "#" %></li>
			<li><%= link_to "Challenge", new_challenge_path(user: user.id)%></li>
		</ul>
	</li>


<% end %>
</ul>
<% end %>
