<h1 class="page-header"><small><i class="glyphicon glyphicon-user"></i></small> People</h1>

<!--<% unless @categories.blank?%>
<ul class="user-categories horizontal-menu large">
	<li class="<%= current_category(nil, :type)%>"><%= link_to "All", people_path %></li>
	<% @categories.each do |category| %>
	<li class="<%= current_category(category, :type)%>"><%= link_to category.title, people_path(type: category.id)%></li>
	<% end %>
</ul>
<% end %>-->

<%= form_tag params.merge( :controller => "users", :action => "index" ), method: :get do %>
  <%= label_tag "Username or email" %>
  <%= text_field_tag "Username or email", params[:username_or_email], {name: "username_or_email"} %>
  <%= hidden_field_tag "song_id", params[:song_id] %>
  <%= submit_tag "Search" %>
<% end %>

<%= render "users_list", users: @users_search, title: "Search results", show_view_more: false, view_more_link: "" %>
<% if @users_search %>
  <%= paginate @users_search %>
<% end %>

<%= render "users_list", users: @fb_top_friends, title: "Facebook friends on InstrumentChamp", show_view_more: true, view_more_link: facebook_users_path %>

<%= render "users_list", users: @regular_users, title: "InstrumentChamp Friends", show_view_more: true, view_more_link: instrument_champ_users_path %>

