<h1 class="page-header"><small><i class="glyphicon glyphicon-user"></i></small> People</h1>

<!--<% unless @categories.blank?%>
<ul class="user-categories horizontal-menu large">
	<li class="<%= current_category(nil, :type)%>"><%= link_to "All", people_path %></li>
	<% @categories.each do |category| %>
	<li class="<%= current_category(category, :type)%>"><%= link_to category.title, people_path(type: category.id)%></li>
	<% end %>
</ul>
<% end %>-->


<% if @fb_top_friends %>

	<h3 class="clearfix">
		Facebook friends on InstrumentChamp	
		<% if @users_fb_count > 4 %>			
			<%= link_to facebook_users_path, {class: 'btn btn-primary pull-right'} do %>
	    	View more
	    <% end %>
    <% end %>
	</h3>

  <div class="thumbnail-grid row">
  	<%= render :partial => 'list', :collection => @fb_top_friends, :as => :user %>
  </div>

	<hr />

<% end %>


<% unless @users.blank? %>
	
	<h3 class="clearfix">
		InstrumentChamp Friends
		<% if @users_count > 4 %>			
			<%= link_to instrument_champ_users_path, {class: 'btn btn-primary pull-right'} do %>
	    	View more
	    <% end %>
    <% end %>
	</h3>

  <div class="thumbnail-grid row">
  	<%= render :partial => 'list', :collection => @users, :as => :user %>
  </div>

<% end %>
