
<h1><i class="icon-users"></i> People</h1>

<!--<% unless @categories.blank?%>
<ul class="user-categories horizontal-menu large">
	<li class="<%= current_category(nil, :type)%>"><%= link_to "All", people_path %></li>
	<% @categories.each do |category| %>
	<li class="<%= current_category(category, :type)%>"><%= link_to category.title, people_path(type: category.id)%></li>
	<% end %>
</ul>
<% end %>-->

<% unless @users.blank? %>

<!--
<% if @fb_top_friends %>

  <ul class="block-grid">

  <% @fb_top_friends.each do |fb_friend| %>

    <li>
      <%= image_tag "https://graph.facebook.com/" + fb_friend['uid'].to_s + "/picture?type=large" %>
      <div class="overlay username">
        <%= fb_friend['name'] %>
      </div>
      <ul class="overlay-actions list">
        <li><%= link_to "Follow", "https://graph.facebook.com/me/og.follows?start_time=#{Time.now}&end_time=#{Time.now}&access_token=#{current_user.facebook.access_token}&profile=#{fb_friend['uid'].to_s}", {method: :post} %></li>

        <li><%= link_to "Challenge", "https://graph.facebook.com/me/instrumentchamp:challenge?start_time=#{Time.now}&end_time=#{Time.now}&access_token=#{current_user.facebook.access_token}&profile=#{fb_friend['uid'].to_s}&tags=#{fb_friend['uid'].to_s}", {method: :post} %></li>
      </ul>
    </li>

  <% end %>

  </ul>

<% end %>
-->

<ul class="block-grid">
<% @users.each do |user| %>

	<li>
		<%= link_to person_path(user) do %>
			<%= image_avatar(user) %>

			<div class="overlay username">
				<%= user.username%>
			</div>
		<% end %>

		<ul class="overlay-actions list">

      <li>
        <% if current_user.following?(user) %>
          <%= render 'unfollow', user: user %>
        <% else %>
          <%= render 'follow', user: user %>
        <% end %>
      </li>

			<li><%= link_to "Challenge", new_challenge_path(song_id: params[:song_id], challenged_id: user.id), {id: "challenge_#{user.id}"} %></li>
		</ul>
	</li>


<% end %>
</ul>
<% end %>

<%= paginate @users %>
