<%= render 'shared/header_page', title: 'People' %>

<!--<% unless @categories.blank?%>
<ul class="user-categories horizontal-menu large">
	<li class="<%= current_category(nil, :type)%>"><%= link_to "All", people_path %></li>
	<% @categories.each do |category| %>
	<li class="<%= current_category(category, :type)%>"><%= link_to category.title, people_path(type: category.id)%></li>
	<% end %>
</ul>
<% end %>-->

<div class="row">
	<div class="col-lg-4 spacer-md"><%= render 'search_form', action: "index", controller: "users" %></div>
	<div class="col-lg-8 text-right-sm-left"><%= link_to 'Invite friends', new_user_invitation_path, class: 'btn btn-primary', data: { toggle: "modal", target: "#inviteFriends" } %></div>
</div>

<br />

<% unless current_user.is_facebook_user? %>
	<%= link_to facebook_signin_path, id: "facebook_signin_people", class: 'fb_button xs' do %>
  	<div class="Spinner"></div>
	  <span class="separator"></span>
	  <span class="text">Challenge your facebook friends</span>
  <% end %>
  <br /><br />
<% end %>

<% if @users_search and !@users_search.users.empty? %>
  <%= render "users_list", users_list: @users_search %>
<% elsif @users_search and @users_search.users.empty? %>
  <div class="alert alert-warning">
    No results were found
  </div>
<% end %>

<%= render "users_list", users_list: @fb_top_friends %>

<%= render "users_list", users_list: @regular_users %>

<!--<%= render "users_list", users_list: @followed_users %>-->

<% if params[:view] == 'modal' %>
  <script type="text/javascript">
    $(document).ready(listing_hover_effects);
    $(document).on('page:load', listing_hover_effects);
  </script>
<% end %>

<div class="modal fade" id="inviteFriends" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content spacer">
      <div class="modal-body">
				Loading...
      </div>
    </div>
  </div>
</div>
