<%= render 'shared/header_page', title: 'People' %>

<!--<% unless @categories.blank?%>
<ul class="user-categories horizontal-menu large">
	<li class="<%= current_category(nil, :type)%>"><%= link_to "All", people_path %></li>
	<% @categories.each do |category| %>
	<li class="<%= current_category(category, :type)%>"><%= link_to category.title, people_path(type: category.id)%></li>
	<% end %>
</ul>
<% end %>-->

<div class="clearfix">
	<div class="pull-left">
		<%= render 'search_form' %>
	</div>
	<div class="pull-right">
		<%= link_to 'Invite friends', new_user_invitation_path, class: 'btn btn-primary' %>
	</div>
</div>
<br />

<%= render "users_list", users_list: @users_search %>

<%= render "users_list", users_list: @fb_top_friends %>

<%= render "users_list", users_list: @regular_users %>

<!--<%= render "users_list", users_list: @followed_users %>-->

<% if params[:view] == 'modal' %>
  <script type="text/javascript">
    $(document).ready(listing_hover_effects);
    $(document).on('page:load', listing_hover_effects);
  </script>
<% end %>
