<h1 class="page-header"><small><i class="glyphicon glyphicon-user"></i></small> SING UP</h1>

<%= simple_form_for @user, url: "/people" do |f| %>

  <div>
    <%= f.input :username, label_html: { class: 'large required' } %>
    <%= f.input :email, label_html: { class: 'large required' } %>
    <%= f.input :password, label_html: { class: 'large required' } %>
    <%= f.input :password_confirmation, label_html: { class: 'large required' } %>
  </div>
	<br />
  <div>
    <%= f.submit "Sign up", {class: "btn btn-primary"} %>
  </div>

<% end %>
