<h1 class="page-header"><small><i class="glyphicon glyphicon-user"></i></small> <%= @user.username%></h1>

<p>
	<%= image_tag @user.imagename_url, class: "img-responsive" %>
</p>

<p>
	<div>Email: <strong><%= @user.email %></strong></div>
	<div>Career level: <strong><%= @user.level%></strong></div>
</p>

<% if is_current_user?(@user) %>
	<p>
    <%= link_to "Upload profile image", upload_profile_image_person_path(@user), class: "btn btn-primary" %>
		<%= link_to "Edit profile", edit_person_path(@user), class: "btn btn-primary" %>
    <%= link_to "Change password", edit_user_password_path(@user), class: "btn btn-primary" %>
    <%= link_to "Delete profile", person_path(@user), :method => 'delete', class: "btn btn-primary" %>
  </p>
<% end %>

<hr />

<section>
	<h2>Open challenges</h2>

	<% unless @challenges.blank? %>
		<ol class="challenges-list">
			<%= render partial: "challenges/challenge", collection: @challenges, layout: "layouts/list_layout" %>
		</ol>
	<% else %>
	<p class="no-content">
		<%= @user.username%> has no open challenges right now
	</p>
	<% end %>
</section>
