<%= render 'shared/header_image_cover', cover: @user.cover, profile: @user.imagename_url %>

<div class="clearfix main-section-nav">
	<div class="pull-left">
		<ul class="main-section-nav-list clearfix">
			<li><h4><%= @user.username %></h4></li>
		</ul>
	</div>
</div>

<br />

<div>
	<ul class="no-style info-label">
		<li><span>Username:</span> <%= @user.username %></li>
		<li><span>Email:</span> <%= @user.email %></li>
		<li><span>Career level:</span> <%= @user.level %></li>
		<li><span>Instrument:</span>
	    <% if @user.instrument %>
	      <%= @user.instrument.name %>
	    <% else %>
	      No instrument chosen
	    <% end %>
		</li>
	  <li>
	    <span>Following:</span> <%= link_to @user.followed_users.count, following_path(@user) %>
	  </li>
		<li>
		  <span>Followers:</span> <%= link_to @user.followers.count, user_follower_path(@user) %>
		</li>
	</ul>
</div>