<%= content_for(:detail_header_thumb) do %>
	<%= image_tag @user.imagename_url %>
<% end %>

<%= content_for(:detail_header_primary_info) do %>
	<h3>User</h3>
	<h2><%= @user.username %></h2>
	<br class="hidden-xs" />
	<%= link_to "Challenge", new_challenge_path(challenged_id: @user.id), class: "btn btn-primary" %>
<% end %>

<%= content_for(:detail_header_secondary_info) do %>
	<%= render "accounts/user_level_info" %>
	<p>
		Following: <%= link_to @user.followed_users.count, following_path(@user) %> <br />
		Followers: <%= link_to @user.followers.count, user_follower_path(@user) %>
	</p>
<% end %>