<h1 class="page-header"><small><i class="glyphicon glyphicon-user"></i></small> <%= @user.username%></h1>

<div>
	<%= image_tag @user.imagename_url %>
</div>
<br />

<p>
  Email: <strong><%= @user.email %></strong>
</p>
<p class="user-level">
	Career level: <strong><%= @user.level%></strong>
</p>

<% if is_current_user?(@user) %>
	<div class="btn-group">
    <%= link_to "Upload profile image", upload_profile_image_person_path(@user), class: "btn btn-primary" %>
		<%= link_to "Edit profile", edit_person_path(@user), class: "btn btn-primary" %>
    <%= link_to "Delete profile", person_path(@user), :method => 'delete', class: "btn btn-primary" %>
  </div>
<% end %>

<br /><br />

<section>
	<h2>Open challenges</h2>

	<% unless @challenges.blank? %>
		<ol class="challenges-list">
			<%= render partial: "challenges/challenge", collection: @challenges, layout: "layouts/list_layout" %>
		</ol>
	<% else %>
	<p class="no-content">
		<%= @user.username%> has no open challenges right now
	</p>
	<% end %>
</section>
