<%= render 'shared/header_page', title: 'Cover image' %>

<%= render 'shared/header_page', title: 'Your current cover image', sub_header: true %>

<div class="row">
	<div class="col-md-3 col-sm-4 col-xs-6">
	  <div class="thumbnail">
	    <%= image_avatar(@user) %>
	  </div>
	</div>
</div>

<%= render 'shared/header_page', title: 'Upload a new cover image', sub_header: true %>

<%= form_for @user, url: person_path(@user), html: {multipart: true} do |f| %>
  <label>Select a file from your disk:</label>
  <p>
    <%= f.file_field :cover %>
  </p>
  <p>
    <label>or image URL: </label>
    <%= f.text_field :remote_cover_url %>
  </p>
  <br />
  <%= f.submit "Save", {class: 'btn btn-primary'} %>
<% end %>