<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-sm-4 col-xs-4">
				© <%= link_to "InstrumentChamp", :root %>
			</div>
			<div class="col-md-8 col-sm-4 col-xs-4 text-center">
				<a href="#" data-toggle="modal" data-target="#about_us" class="about_us">About us</a> |
				<a href="#" data-toggle="modal" data-target="#privacy_policy" class="privacy_policy">Privacy Policy</a> |
				<a href="#" data-toggle="modal" data-target="#terms_of_service" class="terms_of_service">Terms of Service</a> |
				<a href="#" data-toggle="modal" data-target="#contact_us" class="contact_us">Contact us</a> |
				<a href="#" data-toggle="modal" data-target="#press" class="press">Press</a>
			</div>
			<div class="col-md-2 col-sm-4 col-xs-4 clearfix">
				<div class="pull-right">
					<a class="twitter-btn" href="https://twitter.com/instrumentchamp" target="_blank"></a>
					<a class="fb-btn" href="https://www.facebook.com/InstrumentChamp?ref=ts&fref=ts" target="_blank"></a>
				</div>
			</div>
		</div>
	</div>
</footer>

<div class="modal fade" id="privacy_policy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <%= render "statics/privacy_policy" %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="terms_of_service" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <%= render "statics/terms_of_service" %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="about_us" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <%= render "statics/about_us" %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="press" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= render "statics/press" %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="contact_us" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= render "statics/contact_us" %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/google_analytics' %>
