<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-push-4 text-center">
				<a href="#" data-toggle="modal" data-target="#about_us" class="about_us">About us</a> |
				<a href="#" data-toggle="modal" data-target="#privacy_policy" class="privacy_policy">Privacy Policy</a> |
				<a href="#" data-toggle="modal" data-target="#terms_of_service" class="terms_of_service">Terms of Service</a> |
				<a href="#" data-toggle="modal" data-target="#contact_us" class="contact_us">Contact us</a> |
				<a href="#" data-toggle="modal" data-target="#press" class="press">Press</a>
			</div>
			<div class="col-sm-4 col-sm-pull-4 text-center">
				<div id="logo-footer">© <%= link_to "InstrumentChamp", :root %></div>
			</div>
			<div class="col-sm-4 text-center clearfix">
				<a class="twitter-btn" href="https://twitter.com/instrumentchamp" target="_blank"></a>
				<a class="fb-btn" href="https://www.facebook.com/InstrumentChamp?ref=ts&fref=ts" target="_blank"></a>
			</div>
		</div>
	</div>
</footer>

<div class="modal fade" id="privacy_policy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
        <%= render "statics/privacy_policy" %>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="terms_of_service" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <%= render "statics/terms_of_service" %>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="about_us" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <%= render "statics/about_us" %>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="press" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= render "statics/press" %>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="contact_us" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= render "statics/contact_us" %>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/google_analytics' %>
