<nav role="navigation">
  <ul>
    <%= nav_link "Home", :root, icon: "house" %>

    <%= nav_link "People", people_path, icon: "users"%>
    <%= nav_link "Friends", "#", icon: "users"%>
    <%= nav_link "Artists", artists_path, icon: "star"%>
    <%= nav_link "Teachers", "#", icon: "users"%>

    <%= nav_link "Music", songs_path, icon: "music"%>
    <%= nav_link "Popular songs", "#", icon: "music"%>
    <%= nav_link "Free songs", free_songs_path, icon: "music"%>
    <%= nav_link "Your library", "#", icon: "music"%>

    <%= nav_link "Challenges", challenges_path, icon: "challenge"%>
    <%= nav_link "Yours", yours_challenges_path, icon: "challenge"%>
    <%= nav_link "Friends", "#", icon: "challenge"%>
    <%= nav_link "Artists", "#", icon: "challenge"%>

    <%= nav_link "Instruments", apps_path, icon: "tools"%>
    <%= nav_link "Apps", apps_path, icon: "tools"%>
    <%= nav_link "Premium", "#", icon: "tools"%>
  </ul>
</nav>
