<div class="icon-level <%= position == 'left' ? 'level-currently' : 'level-next' %> level-home hidden-sm hidden-xs">
	<div class="level-num <%= level.number >= 10 ? 'big-number' : '' %>"><%= level.number %></div>
	<div class="level-label"><%= level.title %></div>
	<div class="level-points"><%= points %>MP</div>
</div>

<div class="visible-sm visible-xs">
	<div class="icon-level level<%= level.number %>-sm"></div>
	<div><b><%= level.title %></b></div>
	<div><%= points %>MP</div>
</div>