<% if defined? modal %>
	<div class="masonry-img col-md-3 col-sm-4 col-xs-6 song-thumb">
<% elsif defined? right_column %>
	<div class="masonry-img col-lg-6 col-md-4 col-sm-4 col-xs-6 song-thumb">
<% else %>
	<div class="masonry-img col-md-2 col-sm-4 col-xs-6 song-thumb">
<% end %>
	<%= link_to artist_song_path(song.artist, song), class: 'thumbnail' do %>
		<%= image_tag song.cover_url, class: "song-cover" %>
	<% end %>

	<div class="actions-content">
		<div class="spacer-sm">
			<div class="link_header"><%= link_to song.title, artist_song_path(song.artist, song), class: "song-title" %></div>
			<div class="link_subheader"><%= link_to song.artist.title, artist_path(song.artist), class: "song-artist" %></div>
		</div>
		<div>
		  <%= song.play_button %>
		  <%= song.challenge_button(params, "btn-sm") %>
		  <%= song.edit_button %>
		  <%= song.buy_button_redirect %>
	  </div>
  </div>
</div>