<div class="masonry-img col-md-3 col-sm-6 col-xs-6">
	<div class="thumbnail">
		<%= image_tag song.cover_url, class: "song-cover" %>
		<div class="overlay-actions">
			<div class="thumb-info">
				<strong><%= link_to song.title, artist_song_path(song.artist, song), class: "song-title" %></strong>
		  	<p class="spacer-sm"><%= link_to song.artist.title, artist_path(song.artist), class: "song-artist" %></p>
			</div>
		  <div class="btn-group-vertical">
		    <%= song.play_button %>
		    <%= song.challenge_button(params[:challenged_id]) %>
		    <%= song.edit_button %>
		  </div>
		</div>
	</div>
</div>