<%= image_tag song.cover_url, class: "song-cover" %>

<div class="overlay">
  <%= link_to song.title, artist_song_path(song.artist, song), class: "song-title" %>
  <br />
  <%= link_to song.artist.title, artist_path(song.artist), class: "song-artist" %>
</div>
<ul class="overlay-actions list">
  <li><%= link_to "Play", song.desktop_app_uri %></i></li>
  <li><%= link_to "Challenge", new_challenge_path(song_id: song.id, challenged_id: params[:challenged_id]), {id: "challenge_#{song.id}"} %></li>
  <li><%= link_to "Edit", edit_song_path(song) %></i></li>
</ul>
