<% if songs_list.display_more? %>
	<%= render 'shared/header_page', title: songs_list.title, sub_header: true, view_more: 'View all', view_more_path: songs_list.display_more_link(group_id: params[:group_id]) %>
<% else %>
	<%= render 'shared/header_page', title: songs_list.title, sub_header: true %>
<% end %>

<% if songs_list and !songs_list.songs.blank? %>

  <div class="thumbnail-grid row">
  	<% if defined? modal %>
  		<%= render songs_list.songs, modal: true %>
  	<% else %>
  		<%= render songs_list.songs %>
  	<% end %>
  </div>

  <% if songs_list.paginate? %>
    <hr />
    <%= paginate songs_list.songs %>
  <% end %>

<% else %>

	<p>No songs right now</p>

<% end %>