<% if defined? modal %>
	<div class="masonry-img col-md-3 col-sm-4 col-xs-6 song-thumb">
<% elsif defined? right_column %>
	<div class="masonry-img col-lg-6 col-md-4 col-sm-4 col-xs-6 song-thumb">
<% else %>
	<div class="masonry-img col-md-2 col-sm-4 col-xs-6 song-thumb">
<% end %>
	<%= link_to artist_song_path(song.artist, song), class: 'thumbnail' do %>
		<%= image_tag song.cover_url, class: "song-cover" %>
	<% end %>

  <div class="actions-content">
		<div class="spacer-md">
			<div class="link_header truncate primary-text-color" data-toggle="tooltip" title="<%= song.title %>"><%= link_to song.title, artist_song_path(song.artist, song), class: "song-title" %></div>
			<div class="link_subheader truncate primary-text-color" data-toggle="tooltip" title="<%= song.artist.title %>"><%= link_to song.artist.title, artist_path(song.artist), class: "song-artist" %></div>
		</div>
		<% if song.display_buy_button? %>
      <div class="song_actions">
        <ul class="list-inline">
          <li class="no-padding">
            <%= song.add_to_cart_button("btn-sm") %>
          </li>
          <li class="cost">
            <%= song.show_cost %>
          </li>
          <li class="no-padding">
            <%= song.add_to_wishlist_button("btn-sm") %>
          </li>
        </ul>
      </div>
		<% else %>
      <div class="song_actions">
  		  <%= song.play_button %>
  		  <%= song.challenge_button(params, "btn-sm") %>
  	  </div>
    <% end %>
	  <div class="song_edit">
	    <%= song.edit_button %>
	  </div>
  </div>
</div>