<h1 class="page-header"><small><i class="glyphicon glyphicon-music"></i></small> Edit Song</h1>

<p><h2><%= @song.title %></h2></p>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">

	<%= simple_form_for @song do |f| %>
	  <%= f.input :title %>
	  <%= f.input :writer %>
	  <%= f.input :length %>
	  <%= f.input :difficulty %>
	  <%= f.input :arranger_userid %>
	  <%= f.input :comment %>
	  <%= f.input :status %>
	  <%= f.input :onclient %>
    <%= f.input :cost %>
    <%= f.input :user_created %>
	  <%= f.input :published_at %>
	  <%= f.input :cover, label: false, hint: "Upload a cover image" %>

	  <%= f.button :submit, 'Save' %>
	<% end %>

</div>
