<%= render 'shared/header_page', title: 'Songs' %>

<div class="thumbnail-grid row">
  <%= render partial: "song", collection: @songs %>
</div>

<%= render "songs_list", songs_list: @my_songs %>

<%= render "songs_list", songs_list: @most_popular_songs %>

<%= render "songs_list", songs_list: @new_songs %>
