<%= render 'shared/header_page', title: 'Songs' %>

<div class="thumbnail-grid row">
  <%= render partial: "song", collection: @songs %>
</div>

<% if @my_songs and !@my_songs.songs.blank? %>
	<%= render "songs_list", songs_list: @my_songs %>
<% end %>

<% if @most_popular_songs %>
  <%= render "songs_list", songs_list: @most_popular_songs %>
<% end %>

<% if @new_songs %>
  <%= render "songs_list", songs_list: @new_songs %>
<% end %>
