<%= render 'shared/header_page', title: 'Songs' %>

<%= render 'search_form' %>

<% if @categories.blank? and !@songs.blank? %>

  <div class="thumbnail-grid row">
  	<%= render partial: "song", collection: @songs %>
  </div>

  <%= paginate @songs %>

<% else %>

	<% @categories.each do |category| %>
		<section>
			<h3 class="clearfix"><%= category.title%> <small><%= link_to "View all", songs_path(category: category.id), {class: 'btn'}%></small></h3>
	
			<% unless category.songs.blank? %>
			<div class="thumbnail-grid row">
				<%= render partial: "song", collection: category.songs.limit(3) %>
			</div>
			<% else %>
			<p class="no-content">No songs</p>
			<% end %>
			<hr />
		</section>
	<% end %>

<% end %>
