<h1 class="huge light"><%= @song.title %> – <%= @song.artist.title%></h1>

<%= link_to @song.desktop_app_uri, class: "overlay-hover song-cover" do %>
	<span class="overlay"><i class="icon-play"></i></span>
	<%= image_tag @song.cover_url, alt: @song.title %>
<% end %>

<div class="list actions">
	<li><a href="<%= @song.desktop_app_uri %>" class="btn-accent large">Quick start song</a></li>
	<li><%= link_to "Create challenge", new_challenge_path(song_id: @song.id), class: "btn-confirm large" %></li>
</div>

<p>
	<%= link_to "Back to songs", songs_path %>
</p>
