<%= set_meta_description "Learn to play #{@song.title} with InstrumentChamp. The best way to learn to play music." %>
<%= set_page_title "Learn to play #{@song.title} with InstrumentChamp" %>

<%= content_for(:detail_header_thumb) do %>
	<div class="song-detail-thumb">
		<% if !@song.display_play_button? %>
			<div class="hover"><%= image_tag(asset_path('lock_icon.png'), class: "lock-icon") %></div>
		<% end %>
		<%= image_tag @song.cover_url %>
	</div>
<% end %>

<%= content_for(:detail_header_primary_info) do %>
	<h3>Song by <%= link_to @song.artist.title, @song.artist %></h3>
	<h2><%= @song.title %></h2>
	<p>
		Written by <b><%= @song.writer %></b> <br />
		Published by <b><%= @song.publisher %></b>
	</p>
	<br class="hidden-xs hidden-sm" />
	<%= @song.challenge_button(params) %>
	<%= @song.practice_button %>
	<div class="display-inline"><%= @song.add_to_cart_button('btn-lg') %></div>
	<div class="display-inline"><%= @song.add_to_wishlist_button('btn-lg') %></div>
	<span class="margin-left">
	  <%= @song.show_cost %>
	</span>
<% end %>

<%= content_for(:detail_header_secondary_info) do %>
	<div><%= render "available_instruments" %></div>
	<div class="hidden-xs hidden-sm"><br /><br /><br /><br /></div>
	<div><b>Difficulty:</b> <%= @song.display_difficulty %></div>
	<div><b>Players:</b> <%= @song.players %></div>
<% end %>

<%= content_for(:detail_header_nav_left) do %>
	<ul>
		<li class="active"><a href="#overview_tab" data-toggle="tab">Overview</a></li>
	  <!--<li><a href="#challenges_tab" data-toggle="tab">Challenges</a></li>-->
	  <li><a href="#leaderboards_tab" data-toggle="tab">Leaderboards</a></li>
	</ul>
<% end %>


<div class="tab-content">
	<div class="tab-pane active" id="overview_tab">
		<% unless @activity_feeds.empty? %>
		  <br />
		  <%= render @activity_feeds %>
		  <br />
		  <% unless @activity_feeds.last_page? %>
		    <div id="more_posts"></div>
		    <%= link_to 'View more', activities_artist_song_path(@song.artist, @song, page: 2), { remote: true, id: "show_more_posts_link" } %>
		  <% end %>
		<% else %>
			<p>No activities</p>
		<% end %>
	</div>
	<div class="tab-pane" id="challenges_tab">
		Challenges
	</div>
	<div class="tab-pane" id="leaderboards_tab">
		<% unless @scores.blank? %>
			<table width="100%" class="datagrid">
				<tr class="head">
					<td>User</td>
					<td>Points</td>
					<td>Instrument</td>
					<td></td>
				</tr>
				<% @scores.each do |score| %>
					<% if score.user and score.score > 0 %>
						<tr class="<%= cycle("odd", "even") %>">
							<td>
								<%= image_tag score.user.imagename, class: 'avatar-xs' %>
								<%= link_to score.user.username, person_path(score.user), class: 'btn-secondary-color' %>
							</td>
							<td><%= score.score %></td>
							<td><i class="icon-instrument <%= score.instrument.name.downcase %>-sm"></i></td>
							<td align="right"><%= link_to 'Challenge', new_challenge_path(song_id: score.song.id, challenged_id: score.user.id), class: 'btn btn-primary btn-sm' %></td>
						</tr>
					<% end %>
				<% end %>
			</table>
		<% else %>
			<p>No records</p>
		<% end %>
	</div>
</div>

<%= content_for(:detail_right_col) do %>
	<div class="top_scores_songs">
		<h2>Top Scores</h2>
		<% unless @top_scores.blank? %>
			<table width="100%" class="datagrid">
				<tr class="head">
					<td>User</td>
					<td>Points</td>
					<td>Instrument</td>
				</tr>
				<% @scores.each do |score| %>
					<% if score.user and score.score > 0 %>
						<tr class="<%= cycle("odd", "even") %>">
							<td><%= link_to score.user.username, person_path(score.user), class: 'btn-secondary-color' %></td>
							<td><%= score.score %></td>
							<td><i class="icon-instrument <%= score.instrument.name.downcase %>-sm"></i></td>
						</tr>
					<% end %>
				<% end %>
			</table>
		<% else %>
			<p>No records</p>
		<% end %>
	</div>
<% end %>

<% if !signed_in? %>
  <%= content_for(:js_scripts) do %>
    <script type="text/javascript">
      $(document).ready(function() {
        show_modal_authentication("", true)
      });
    </script>
  <% end %>
<% end %>

<div class="modal fade" id="song_modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Sign up and play this song</h2>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-5 text-center">
            <%= image_tag @song.cover_url, class: "cover" %>

            <% if @song.cost %>
              <h3 class="display-inline">Buy this song</h3>

              <%= link_to "#", class: "btn btn-info btn-big-icon btn-lg" do %>
                <%= content_tag :i, nil, class: "glyphicon glyphicon-shopping-cart" %>
              <% end %>
              <%= link_to "#", class: "btn btn-danger btn-big-icon btn-lg" do %>
                <%= content_tag :i, nil, class: "glyphicon glyphicon-heart" %>
              <% end %>
              <span class="cost">$ <%= @song.cost %></span>
            <% end %>

          </div>
          <div class="col-lg-7">
            <div class="login-view">
              <%= link_to facebook_signin_path, id: "facebook_signin", class: 'fb_button sm' do %>
                <div class="Spinner"></div>
                <span class="text">Log in with Facebook</span>
              <% end %>
              <p class="text-divider"><span>or</span></p>
              <%= form_tag sessions_path, id: "login-form", remote: true do %>
                <%= hidden_field_tag :action_modal, "" %>
                <div class="spacer-sm">
                  <%= text_field_tag :username, "", placeholder: "Username", class: "form-control input-lg", required: true, autofocus: true %>
                </div>
                <%= password_field_tag :password, "", placeholder: "Password", class: "form-control input-lg", required: true %>
                <div class="pull-right remember_check">
                  <%= check_box_tag :remember_me, 1, false %> Remember me?
                </div>
                <%= submit_tag "Sign in", {class: "btn btn-primary btn-lg", id: "sign_in"} %>
                <%= hidden_field_tag 'action_modal', '' %>
              <% end %>

              <%= content_tag :div, class: "credentials-invalid alert alert-danger text-center", style: 'display: none' do %>
                Username or password invalid
              <% end %>

              <br />
              <div class="text-center">
                <div class="spacer-sm"><%= link_to 'Forgot your password?', new_password_reset_path %></div>
                <div>Don't have an account? <a href="#" id="sign-up-slide-btn"><%= link_to 'Sign up', new_person_path %></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<br /><br />

<%= render 'shared/header_page', title: 'More songs', sub_header:true, view_more: 'View more', view_more_path: songs_path %>

<div class="thumbnail-grid row">
  <%= render @more_songs %>
</div>

<%= render 'shared/banner_ad' %>
-->