<%= set_meta_description "Learn to play #{@song.title} with InstrumentChamp. The best way to learn to play music." %>
<%= set_page_title "Learn to play #{@song.title} with InstrumentChamp" %>

<%= render 'shared/header_image_cover', cover: @song.artist.cover, profile: @song.cover_url %>

<div class="clearfix main-section-nav">
	<div class="pull-left">
		<ul class="main-section-nav-list clearfix">
			<li><h4><%= @song.title %></h4></li>
		</ul>
	</div>
</div>

<!--<iframe width="300" height="380"  scrolling="no" frameborder="0" allowtransparency="true" style="border:none; overflow:hidden; height:380px;" src="http://www.musicnodes.com/widget/public/view?wid=2105&id=538dbb91f51e46ff6f0008ce&services=spotify,youtube,deezer"></iframe>-->

<div class="row">
	<div class="col-lg-3">
		<p>
			<div class="spacer-sm">By: <%= link_to @song.artist.title, @song.artist %></div>
			Writer: <%= @song.writer %>
		</p>
		<p>
			<%= link_to @song.play_url, class: "btn btn-primary" do %>
				<i class="glyphicon glyphicon-play"></i> Play
			<% end %>
			<%= link_to "Create challenge", new_challenge_path(song_id: @song.id), class: "btn btn-primary" %>
		</p>
	</div>

	<% unless @scores.blank? %>
		<div class="col-lg-9">
			<%= render 'shared/header_page', title: 'Top Scores', sub_header: true %>

			<table width="100%" class="datagrid">
				<tr class="head">
					<td>User</td>
					<td>Points</td>
					<td>Instrument</td>
					<td></td>
				</tr>
				<% @scores.each do |score| %>
					<% if score.user and score.score > 0 %>
						<tr class="<%= cycle("odd", "even") %>">
							<td><%= link_to score.user.username, person_path(score.user), class: 'btn-secondary-color' %></td>
							<td><%= score.score %></td>
							<td><%= score.instrument.name %></td>
							<td align="right"><%= link_to 'Challenge', new_challenge_path(song_id: score.song.id, challenged_id: score.user.id), class: 'btn btn-primary btn-sm' %></td>
						</tr>
					<% end %>
				<% end %>
			</table>
		</div>
	<% end %>

</div>
<!--
<br /><br />

<%= render 'shared/header_page', title: 'More songs', sub_header:true, view_more: 'View more', view_more_path: songs_path %>

<div class="thumbnail-grid row">
  <%= render @more_songs %>
</div>

<%= render 'shared/banner_ad' %>
-->