<h1 class="page-header"><small><i class="glyphicon glyphicon-music"></i></small> <%= @song.title %> – <%= @song.artist.title%></h1>

<p>
	<%= image_tag @song.cover_url, alt: @song.title, class: "thumbnail" %>
</p>

<p>
	<%= link_to "Quick start song", @song.desktop_app_uri, class: "btn btn-primary" %>
	<%= link_to "Create challenge", new_challenge_path(song_id: @song.id), class: "btn btn-primary" %>
</p>

<br /><br />

<p>
	<%= link_to "Back to songs", songs_path, class: "btn btn-default" %>
</p>
