<div class="modal fade email-modal" id="email-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>
          Add email
        </h4>
      </div>
      <div class="modal-body">
        <%= form_for(current_user, :url => finish_signup_path(current_user), :html => { role: 'form'}) do |f| %>
          <% flash.each do |name, msg| %>
            <%= content_tag :div, class: "alert alert-#{name} #{alert_class(name)} alert-dismissable" do %>
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
              </button>
              <%= msg %>
            <% end %>
          <% end %>
          <% if current_user.errors.any? %>
            <div id="error_explanation">
              <% current_user.errors.full_messages.each do |msg| %>
                <%= msg %>
              <% end %>
            </div>
          <% end %>
          <div class="form-group">
            <div>Please add your email to receive game notifications.</div>
            <br />
            <div class="controls">
              <%= f.text_field :email, :autofocus => true, :value => '', :required => true, class: 'form-control input-lg', placeholder: 'Example: email@me.com' %>
            </div>
          </div>
          <div class="actions text-right">
            <%= f.submit 'Continue', :class => 'btn btn-primary' %>
            <%= link_to "Skip", getting_started_path, class: "btn btn-default" %>
          </div>
        <% end %>
			</div>
    </div>
  </div>
</div>

<% if params[:add_email] %>
  <%= content_for(:js_scripts) do %>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#email-modal").modal({
          backdrop: "static",
          keyboard: false,
          show: true
        })
      });
    </script>
  <% end %>
<% end %>