<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="modal fade welcome-modal" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      	<div class="text-center">
      		<%= image_tag(asset_path('logo.png')) %>
      	</div>
				<div id="welcome_wizard">
					<div class="navbar hide">
					  <div class="navbar-inner">
					    <div class="container">
								<ul>
									<li><a href="#tab1" data-toggle="tab"></a></li>
									<li><a href="#tab2" data-toggle="tab"></a></li>
									<li><a href="#tab3" data-toggle="tab"></a></li>
									<li><a href="#tab4" data-toggle="tab"></a></li>
									<li><a href="#tab5" data-toggle="tab"></a></li>
									<li><a href="#tab6" data-toggle="tab"></a></li>
									<li><a href="#tab7" data-toggle="tab"></a></li>
									<li><a href="#tab8" data-toggle="tab"></a></li>
									<li><a href="#tab9" data-toggle="tab"></a></li>
									<li><a href="#tab10" data-toggle="tab"></a></li>
								</ul>
					 		</div>
						</div>
					</div>
					<div class="tab-content">
				    <div class="tab-pane text-center active" id="tab1">
				    	<h2>The Music Mission</h2>
				      <p>Join the mission to make the world play music</p>
				      <div class='video-container'><iframe width='560' height='315' src='//www.youtube.com/embed/pSBiT91e5nk?rel=0' frameborder='0' allowfullscreen></iframe></div>
				    	<a href="#" class="btn btn-link btn-skip">End Tour</a>
				    </div>
				    <div class="tab-pane text-center" id="tab2">
				      <h2>Become a Music Player</h2>
				      <p>Start your music career and become a music player</p>
				      <div class="hidden-xs hidden-sm">
				      </div>
				      <div><div class="levels-lnd"><div class="icon-landing l-lvl1"></div> <span>Anonymous</span></div></div>
							<div><div class="levels-lnd"><div class="icon-landing l-lvl2"></div> <span>Dreamer</span></div></div>
							<div><div class="levels-lnd"><div class="icon-landing l-lvl3"></div> <span>Beginner</span></div></div>
							<div><div class="levels-lnd"><div class="icon-landing l-lvl4"></div> <span>Music Student</span></div></div>
							<div><div class="levels-lnd"><div class="icon-landing l-lvl5"></div> <span>Band Member</span></div></div>
							<div><div class="levels-lnd"><div class="icon-landing l-lvl6"></div> <span>Indie Artist</span></div></div>
							<div><div class="levels-lnd"><div class="icon-landing l-lvl7"></div> <span>Rockstar</span></div></div>
							<div><div class="levels-lnd"><div class="icon-landing l-lvl8"></div> <span>Headliner</span></div></div>
							<div><div class="levels-lnd"><div class="icon-landing l-lvl9"></div> <span>Hall of Fame</span></div></div>
							<div><div class="levels-lnd"><div class="icon-landing l-lvl10"></div> <span>InstrumentChamp</span></div></div>
				      <a href="<%= edit_user_instrument_path(current_user) %>" class="btn btn-link btn-skip">End tour</a>
				    </div>
						<div class="tab-pane" id="tab3">
							<h2>Music Points &amp; Career Progress</h2>
				      <p>Play and win music points that build your music career</p>
				      <div class="hidden-xs hidden-sm">
				      	<br /><br /><br />
				      </div>
				      <%= image_tag(asset_path('modal_img1.png')) %>
				      <a href="<%= edit_user_instrument_path(current_user) %>" class="btn btn-link btn-skip">End Tour</a>
					  </div>
						<div class="tab-pane" id="tab4">
							<h2>Play music</h2>
				      <p>Play new songs in practice mode or challenge your friends online</p>
				      <div class="hidden-xs hidden-sm">
				      	<br />
				      </div>
				      <%= image_tag(asset_path('modal_img2.png')) %>
				      <a href="<%= edit_user_instrument_path(current_user) %>" class="btn btn-link btn-skip">End Tour</a>
					  </div>
						<div class="tab-pane" id="tab5">
							<h2>Select song</h2>
				      <p>Start with one of the songs for beginners or find more songs in our music catalogue online</p>
				      <div class="hidden-xs hidden-sm">
				      	<br /><br />
				      </div>
							<div class="row thumbnail-grid">
				      	<% tour_songs.each do |song| %>
				      		<div class="col-md-3 col-sm-3 col-xs-6 song-thumb">
										<%= content_tag :div, class: 'thumbnail' do %>
											<%= image_tag song.cover_url, class: "song-cover" %>
										<% end %>

										<div class="actions-content">
											<div class="spacer-sm">
												<div class="link_header"><%= song.title %></div>
												<div class="link_subheader"><%= song.artist.title %></div>
											</div>
									  </div>
									</div>
				      	<% end %>
				      </div>
				      <a href="<%= edit_user_instrument_path(current_user) %>" class="btn btn-link btn-skip">End Tour</a>
					  </div>
						<div class="tab-pane" id="tab6">
							<h2>Select Instrument</h2>
				      <p>You can play with both acoustic and digital instruments</p>
				      <div class="hidden-xs hidden-sm">
				      	<br /><br />
				      </div>
				      <%= image_tag asset_path('modal_img4.png'), class: 'img4' %><br /><br />
				      <p>The microphone in the computer listen, analyze and give feedback on how you play</p>
				      <%= image_tag asset_path('modal_img5.png'), class: 'img5' %>
				      <a href="<%= new_user_premium_path %>" class="btn btn-link btn-skip">End Tour</a>
					  </div>
						<div class="tab-pane" id="tab7">
							<h2>Recruit more players to the music mission</h2>
				      <p>Connect with your friends, teachers and favorite artists online</p>
				      <div class="hidden-xs hidden-sm">
				      	<br /><br /><br />
				      </div>
				      <%= image_tag asset_path('modal_img6.png'), class: 'img6' %>
				      <a href="<%= new_user_premium_path %>" class="btn btn-link btn-skip">End Tour</a>
					  </div>
					  <div class="tab-pane" id="tab8">
							<h2>Groups</h2>
				      <p>Connect with your local and online music community</p>
				      <%= image_tag(asset_path('modal_img3.png')) %>
				      <a href="<%= new_user_premium_path %>" class="btn btn-link btn-skip">End Tour</a>
					  </div>
					  <div class="tab-pane" id="tab9">
							<h2>InstrumentChamp Memberships</h2>
				      <div class="row">
								<div class="col-md-6 col-sm-6">
									<div class="well text-center well-plan">
							    	<div class="plan-title">
							    		<h3>Premium</h3>
							    	</div>
							      <div class="plan-descripction">
							      	<p>
							      		Play in a band with your friends <br />
												Unlock all instruments
							      	</p>
							      	<p>
							      		<div class="icon-instrument piano-active"></div>
												<div class="icon-instrument guitar-active"></div>
												<div class="icon-instrument guitar2-active"></div>
												<div class="icon-instrument saxophone-active"></div>
												<div class="icon-instrument trumpet-active"></div>
												<div class="icon-instrument drums-active"></div>
							      	</p>
											<p>
												<h4>Ad-free</h4>
											</p>
											<div>
							          <a href="<%= new_user_premium_path %>" data-no-turbolink='true' class="btn btn-primary btn-lg premium_plan_selected free">
							          	Premium
							          </a>
							        </div>
							      </div>
							    </div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="well text-center well-plan">
							    	<div class="plan-title">
							    		<h3>Free</h3>
							    	</div>
							      <div class="plan-descripction">
							      	<p>
												Become a music player<br />
												Choose one instrument
							      	</p>
							      	<p>
							      		<div class="icon-instrument piano-active"></div>
												<div class="icon-instrument guitar-disabled"></div>
												<div class="icon-instrument guitar2-disabled"></div>
												<div class="icon-instrument saxophone-disabled"></div>
												<div class="icon-instrument trumpet-disabled"></div>
												<div class="icon-instrument drums-disabled"></div>
							      	</p>
											<p>
							      		<h4>Made possible by ads</h4>
							      	</p>
							        <div>
							          <a href="<%= apps_path(auto_download: true) %>" data-no-turbolink='true' class="btn btn-primary btn-lg premium_plan_selected free">
							          	Free
							          </a>
							        </div>
							      </div>
							    </div>
								</div>
							</div>
				     	<a href="<%= apps_path %>" class="btn btn-link btn-skip">End Tour</a>
					  </div>
					  <div class="tab-pane" id="tab10">
							<h2>Make your music dream come true</h2>
				      <div class="hidden-xs hidden-sm">
				      	<br /><br /><br /><br />
				      </div>
				      <p><a href="<%= apps_path(auto_download: true) %>" data-no-turbolink='true' class="btn btn-primary btn-lg">Install InstrumentChamp Free</a></p>
							<p><%= link_to "I've already installed", home_path, { class: "btn btn-link cancel_welcome_modal", id: "modal_app_already_installed", data: {'ajax-href' => apps_path(installed: true)} } %></p>
					  	<div class="hidden-xs hidden-sm">
				      	<br /><br /><br /><br /><br /><br /><br />
				      </div>
					  	<div class="fb-facepile" data-href="https://www.facebook.com/instrumentchamp" data-width="560" data-height="60" data-max-rows="1" data-colorscheme="light" data-size="medium" data-show-count="true"></div>
					  	<a href="<%= apps_path %>" class="btn btn-link btn-skip">End Tour</a>
					  </div>
						<ul class="pager wizard">
							<li class="previous first" style="display:none;"><a href="#">First</a></li>
							<li class="previous"><a href="#">Previous</a></li>
							<li class="next last" style="display:none;"><a href="#">Last</a></li>
						  <li class="next"><a href="#">Next</a></li>
						</ul>
					</div>
				</div>
			</div>
    </div>
  </div>
</div>

<% if params[:welcome_msg] %>
	<%= content_for(:js_scripts) do %>
		<script type="text/javascript">
			$(document).ready(function() {
				$("#welcomeModal").modal({
					backdrop: "static",
			    keyboard: false,
			    show: true
				})
			});
	  </script>
	<% end %>
<% end %>