<% content_for(:facebook_og_meta) do %>
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:title" content="InstrumentChamp - Learn to play guitar, learn to play piano, learn to play drums" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="<%= asset_url('logo_alpha.png') %>" />
  <meta property="og:description" content="You're invited to start playing InstrumentChamp - the new game that teaches you to play music!" />
<% end %>

<%= render 'home_welcome_modal' %>

<div class="row">
	<div class="col-lg-8">
		<div class="hide">
			<%= render 'shared/header_page', sub_header: true, title: 'My InstrumentChamp Career' %>
			<br />
		</div>
		<div class="row hide">
			<div class="col-lg-8">
				<div class="pos-relative career-progress">
					<div class="progress progress-xp">
					  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= current_user.completion_percentage_level %>%;">
					    <span><%= current_user.completion_percentage_level %>%</span>
					  </div>
					</div>
					<div class="btn-group">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					  	<i class='glyphicon glyphicon-plus'></i>
					  </button>
					  <ul class="dropdown-menu" role="menu">
					    <li><a href="#"><span>+ 1000MP</span> Install game </a></li>
					    <li class="divider"></li>
					    <li><a href="#"><span>+ 1000MP</span> Play a song</a></li>
					    <li class="divider"></li>
					    <li><a href="#"><span>+ 1000MP</span> Create a challenge</a></li>
					  </ul>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="spacer-sm"><h3 class="no-margin"><%= current_user.level %></h3></div>
				<p>Currently points: <b><%= current_user.xp %></b></p>
			</div>
		</div>
		<br />
		<% unless @activity_feeds.empty? %>
		  <%= render @activity_feeds %>
		  <br />
		  <% unless @activity_feeds.last_page? %>
  		  <div id="more_posts"></div>
  		  <%= link_to 'View more', personal_activities_path(page: 2), { remote: true, id: "show_more_posts_link" } %>
  		<% end %>
		<% end %>
	</div>
	<div class="col-lg-4">
		<%= render 'shared/header_page', sub_header: true, title: 'Songs', view_more: 'View more', view_more_path: songs_path %>
		<div class="thumbnail-grid row">
		  <%= render @songs, right_column: true %>
		</div>
		<%= render 'shared/header_page', sub_header: true, title: 'Challenge', view_more: 'View more', view_more_path: people_path %>
		<div class="thumbnail-grid row">
		  <%= render @users, right_column: true %>
		</div>
	</div>
</div>

<div class="row hide">

	<div class="col-lg-4">
		<%= render 'shared/header_page', title: 'Top Songs', sub_header: true, view_more: 'View more', view_more_path: list_songs_path(view: "top") %>

		<table width="100%" class="datagrid">
			<% @top_songs.each do |song| %>
				<tr class="<%= cycle("odd", "even") %>">
					<td><%= link_to song.title, song_path(song), class: 'btn-secondary-color' %></td>
					<td class="rating-value"><%= song.display_rating %></td>
					<td align="right">
						<%= link_to song.play_url, class: "btn btn-primary btn-sm" do %>
							<i class="glyphicon glyphicon-play"></i> Play
						<% end %>
					</td>
				</tr>
			<% end %>
		</table>
	</div>

	<div class="col-lg-4">
		<%= render 'shared/header_page', title: 'Top Artists', sub_header: true, view_more: 'View more', view_more_path: top_list_artists_path %>

		<table width="100%" class="datagrid">
			<% @top_artist.each do |artist| %>
				<tr class="<%= cycle("odd", "even") %>">
					<!--<td class="thumb"><%= image_tag(asset_path('default_artist.png'), class: 'avatar-xs') %></td>-->
					<td><%= link_to artist.title, artist_path(artist), class: 'btn-secondary-color' %></td>
					<td></td>
					<!--<td align="right"><%= link_to 'Challenge', "#", class: 'btn btn-primary btn-sm' %></td>-->
				</tr>
			<% end %>
		</table>
	</div>

	<div class="col-lg-4">
		<%= render 'shared/header_page', title: 'Top Users', sub_header: true, view_more: 'View more', view_more_path: list_people_path(view: "top") %>

		<table width="100%" class="datagrid">
			<% @top_users.each do |user| %>
				<tr class="<%= cycle("odd", "even") %>">
					<td><%= link_to user.username, person_path(user), class: 'btn-secondary-color' %></td>
					<!--<td><%= user.level %></td>-->
					<td align="right"><%= link_to 'Challenge', new_challenge_path(challenged_id: user.id), class: 'btn btn-primary btn-sm' %></td>
				</tr>
			<% end %>
		</table>
	</div>

</div>
