<% content_for(:facebook_og_meta) do %>
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:title" content="InstrumentChamp - Learn to play guitar, learn to play piano, learn to play drums" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="<%= asset_url('logo_alpha.png') %>" />
  <meta property="og:description" content="You're invited to start playing InstrumentChamp - the new game that teaches you to play music!" />
<% end %>

<% if params[:welcome_tour] %>
  <div class="modal fade welcome-modal" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-body text-center">
	      	<div>
		      	<h2>Welcome <%= current_user.username %>!</h2>
		      	<br />
		        <p>Thanks for signing up <!--We are launching in May and will send you a
	        	backstage pass to the alpha test very soon!--></p>

	        	<% if is_mobile? %>
	        		<p class="alert alert-info"><strong>Mobile version:</strong> Please use Windows or Mac OS to download and install InstrumentChamp software.</p>
	        	<% end %>

	        	<p class="alert alert-success"><strong>Signup Bonus:</strong> We have upgraded you to a Premium account for 3 months.</p>
        	</div>
        	<hr />
        	<h3>Click the instrument you want to play to start the tour</h3><br />

      		<%= simple_form_for current_user, url: user_instrument_path(current_user.id, next: 'instrument') do |f| %>
					  <div class="row">
					    <% @instruments.each do |instrument| %>
					    	<div class="col-md-4 col-sm-4 col-xs-4">
					      	<%= link_to(image_tag(instrument.image_url, class: "thumbnail"), "#", {class: "select_instrument", data: {"instrument-id" => instrument.id}}) %>
					  		</div>
					    <% end %>
					    <%= f.hidden_field :instrument_id %>
					  </div>
					<% end %>

					<div class="text-right">
						<%= link_to skip_tour_link, {class: "btn"} do %>
		          <i class="glyphicon glyphicon-log-out"></i> Skip the tour
		        <% end %>
					</div>
	      </div>
	    </div>
	  </div>
	</div>
<% end %>

<%= render 'shared/header_page', title: 'Quick start song', view_more: 'View more', view_more_path: songs_path %>

<div class="thumbnail-grid row">
  <%= render @songs %>
</div>

<br />

<%= render 'shared/header_page', title: 'Quick start challenge', view_more: 'View more', view_more_path: people_path %>

<div class="thumbnail-grid row">
  <%= render @users %>
</div>
