<% if params[:welcome_tour] %>
  <div class="modal fade welcome-modal" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-body text-center">
	      	<div>
		      	<h2>Welcome <%= current_user.username %>!</h2>
		      	<br />
		        <p>Thanks for signing up <!--We are launching in May and will send you a
	        	backstage pass to the alpha test very soon!--></p>
	        	<p class="alert alert-success"><strong>Signup Bonus:</strong> We have upgraded you to a Premium account for 3 months.</p>
        	</div>
        	<hr />
        	<h3>Click the instrument you want to play to start the tour</h3><br />

      		<%= simple_form_for current_user, url: user_instrument_path(current_user.id, next: 'instrument') do |f| %>
					  <div class="row">
					    <% @instruments.each do |instrument| %>
					    	<div class="col-md-4 col-sm-4 col-xs-4">
					      	<%= link_to(image_tag(instrument.image_url, class: "thumbnail"), "#", {class: "select_instrument", data: {"instrument-id" => instrument.id}}) %>
					  		</div>
					    <% end %>
					    <%= f.hidden_field :instrument_id %>
					  </div>
					<% end %>

					<div class="text-right">
						<%= link_to skip_tour_link, {class: "btn"} do %>
		          <i class="glyphicon glyphicon-log-out"></i> Skip the tour
		        <% end %>
					</div>
	      </div>
	    </div>
	  </div>
	</div>
<% end %>

<h1 class="page-header clearfix"><small><i class="glyphicon glyphicon-music"></i></small> Quick start song
	<%= link_to songs_path, {class: 'btn btn-primary pull-right'} do %>
  	View more
  <% end %>
</h1>

<div class="thumbnail-grid row">
  <%= render @songs %>
</div>

<h1 class="page-header clearfix"><small><i class="glyphicon glyphicon-user"></i></small> Quick start challenge
	<%= link_to people_path, {class: 'btn btn-primary pull-right'} do %>
  	View more
  <% end %>
</h1>

<div class="thumbnail-grid row">
  <%= render @users %>
</div>
