<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
      	<div>
	      	<h2>Welcome!</h2>
	        <p>Thanks for signing up. We are launching in May and will send you a
        	backstage pass to the alpha test very soon!</p>
        	<p><strong>Signup reward:</strong> We have upgraded you to a Premium account for 3 months.</p>
      	</div>
      	<hr />
      	<div><a href="http://bit.ly/1nSjX6q" target="_blank">Read about our crowdfunding campaign on FundedByMe</a></div><br />
      	<div><a href="http://bit.ly/1nSjX6q" target="_blank"><%= image_tag(asset_path('FundedByMeLogo.jpg')) %></div>
				<br />
				<div class="text-right">
					<%= link_to logout_path, {class: "btn", id: "sign_out"} do %>
	          <i class="glyphicon glyphicon-log-out"></i> Sign out
	        <% end %>
				</div>
      </div>
    </div>
  </div>
</div>

<h1 class="page-header clearfix"><small><i class="glyphicon glyphicon-music"></i></small> Quick start song
	<%= link_to songs_path, {class: 'btn btn-primary pull-right'} do %>
  	View more
  <% end %>	
</h1>

<div class="thumbnail-grid row">
	<% @songs.each do |song| %>
	
	<div class="masonry-img col-md-3 col-sm-6 col-xs-6">
		<div class="thumbnail">
			<%= image_tag song.cover_url, class: "song-cover" %>
			<div class="overlay-actions">
				<div class="thumb-info">
					<strong><%= link_to song.title, artist_song_path(song.artist, song), class: "song-title" %></strong>
			  	<p class="spacer-sm"><%= link_to song.artist.title, artist_path(song.artist), class: "song-artist" %></p>
				</div>
			  <div class="btn-group-vertical">
			  	<%= link_to "Play", song.desktop_app_uri, {class: 'btn btn-sm btn-default'} %>
	  			<!--<%= link_to "Challenge", new_challenge_path(song_id: song.id, challenged_id: params[:challenged_id]), {id: "challenge_#{song.id}", class: 'btn btn-sm btn-default'} %>-->
	  			<% if current_user.admin? %>
	          <%= link_to "Edit", edit_song_path(song), {class: 'btn btn-sm btn-default'} %>
	        <% end %>
			  </div>
			</div>
		</div>
	</div>
	<% end %>
</div>

<h1 class="page-header clearfix"><small><i class="glyphicon glyphicon-user"></i></small> Quick start challenge
	<%= link_to people_path, {class: 'btn btn-primary pull-right'} do %>
  	View more
  <% end %>
</h1>

<div class="thumbnail-grid row">
	<% @regular_users.each do |user| %>
		<div class="masonry-img col-md-3 col-sm-6 col-xs-6">
			<div class="thumbnail">
				<%= link_to person_path(user) do %>
					<%= image_avatar(user) %>
				<% end %>
		
				<div class="overlay-actions">
					<div class="thumb-info">
						<h4><%= link_to user.username, person_path(user) %></h4>
					</div>
		      <div class="btn-group-vertical">
						<%= link_to "Challenge", new_challenge_path(song_id: params[:song_id], challenged_id: user.id), {id: "challenge_#{user.id}", class: 'btn btn-sm btn-default'} %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>
