<% unless cart.line_items.empty? %>
  <div class="shopping-cart-popover">
    <% cart.line_items.each do |line_item| %>
      <ul class="list-inline">
        <% if line_item.has_song? %>
          <li><%= image_tag line_item.buyable.cover_url, class: "avatar-xs" %></li>
          <li class="title primary-text-color"><%= link_to line_item.buyable.title, line_item.buyable %></li>
        <% else %>
          <li><%= line_item.buyable.title %> Suscription</li>
        <% end %>
        <li><%= number_to_currency(line_item.buyable.cost) %></li>
      </ul>
      <hr />
    <% end %>
  </div>
  <div class="text-right">
    <%= link_to cart_path(current_user.current_cart), {class: "btn btn-default btn-sm"} do %>
      View cart
    <% end %>
    <%= link_to cart_path(current_user.current_cart), {class: "btn btn-info btn-sm"} do %>
      Checkout
    <% end %>
  </div>
<% else %>

  <p>
    Your shooping cart is empty.
  </p>

<% end %>