<% unless cart.line_items.empty? %>
  <div class="shopping-cart-popover">
    <% cart.line_items.each do |line_item| %>
      <div class="items">
        <div class="clearfix">
          <% if line_item.has_song? %>
            <div class="pull-left"><%= image_tag line_item.buyable.cover_url, class: "avatar-xs" %></div>
            <div class="pull-left primary-text-color title"><%= link_to line_item.buyable.title, line_item.buyable %></div>
          <% else %>
            <div class="pull-left"><%= image_tag(asset_path('logo_icon.png'), class: "avatar-xs") %></div>
            <div class="pull-left primary-text-color title"><%= line_item.buyable.title %></div>
          <% end %>
          <div class="pull-right price"><%= number_to_euro(line_item.buyable.cost) %></div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="text-right">
    <p>
      <b>Total: &nbsp;&nbsp;&nbsp; <%= number_to_euro(cart.subtotal) %></b>
    </p>
    <%= link_to cart_path(current_user.current_cart), {class: "btn btn-default"} do %>
      View cart
    <% end %>
    <%= link_to cart_path(current_user.current_cart), {class: "btn btn-info"} do %>
      Checkout
    <% end %>
  </div>
<% else %>

  <p>
    Your shopping cart is empty.
  </p>

<% end %>