<%= render 'shared/header_page', title: 'Shopping cart and Checkout' %>

<% unless @cart.line_items.empty? %>

  <div class="row">
    <div class="col-lg-6 shopping-cart-cont">
      <h2>Shopping cart</h2>

      <table width="100%" class="shopping-cart-datagrid">
        <tr class="head">
          <td>Product description</td>
          <td>Price</td>
          <td></td>
        </tr>
        <% @cart.line_items.each do |line_item| %>
          <tr>
            <td>
              <% if line_item.has_song? %>
                <%= image_tag line_item.buyable.cover_url, class: "avatar-sm" %>
                <%= link_to line_item.buyable.title, line_item.buyable %>
              <% else %>
                <%= line_item.buyable.title %>
              <% end %>
            </td>
            <td><%= number_to_euro(line_item.buyable.cost) %></td>
            <td align="right">
              <%= link_to line_item_path(line_item), {method: :delete, class: 'btn btn-sm btn-default'} do %>
                <i class="glyphicon glyphicon-trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>

      <br /><br />

      <div>
        <%= simple_form_for @cart, html: {class: "form-inline"} do |f| %>
          <div class="well well-sm well-gift-card">
            <%= f.input :mark_as_gift, label: false %>
            <%= f.label :mark_as_gift, "This purchase is a gift to someone" %>
          </div>

          Discount code
          <%= f.input :discount_code_code, label: false %>
          <%= f.submit "ok", {class: 'btn btn-primary'} %>
        <% end %>
      </div>

      <br />

      <div class="text-right total-price">
        Subtotal <span><%= number_to_euro(@cart.subtotal) %></span>
        <br />
        <% if @cart.discount_code %>
          Discount<span>-<%= number_to_euro(@cart.discount_price) %></span>
          <br />
        <% end %>
        Taxes <span><%= number_to_euro(@cart.taxes) %></span>
        <br /><br />
        <b>Grand Total <span><%= number_to_euro(@cart.total_price) %></span></b>
      </div>

    </div>
    <div class="col-lg-6 checkout-cont">
      <h2>Checkout</h2>

      <%= simple_form_for @payment_form, url: payments_path, html: {id: "user_purchase_form", class: "checkout-form"} do |f| %>
        <div id="credit_card_payment_form_fields">
            <div class="form-group string optional">
              <label class="control-label">Accepted Cards</label>
              <div class="wrap-content">
                <%= image_tag(asset_path('credit_cards.png')) %>
              </div>
            </div>

            <%= f.input :paymill_token, input_html: {id: "paymill_token"}, as: :hidden %>
            <%= f.input :card_holdername, input_html: {id: "credit_card_holdername", required: "required"} %>
            <%= f.input :card_number, input_html: {id: "credit_card_number", required: "required"} %>
            <%= f.input :card_cvc, input_html: {id: "credit_card_cvc", required: "required"} %>
            <%= f.input :card_expiry_date, as: :date, discard_day: true, order: [:month, :year], use_month_numbers: true, start_year: Date.today.year, end_year: Date.today.year + 15, prompt: ['Month', 'Year'], input_html: {class: "credit_card_expiry_date"} %>

          <div id="paymill_error">
            <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
          </div>

          <div class="payment-errors alert alert-warning" style="display:none"></div>
        </div>

        <%= f.input :payment_method_id, input_html: { value: PaymentMethod::CREDIT_CARD_ID }, as: :hidden %>
        <%= f.input :amount, input_html: { value: @cart.total_price, id: "amount" }, as: :hidden %>
        <%= f.input :currency, input_html: { value: "EUR", id: "currency" }, as: :hidden %>

        <br />
        <div>
          <%= f.button :submit, "Buy Now", {class: "btn btn-primary btn-lg btn-buy", id: "submit_purchase_form"} %>
        </div>
        <br />
        <div class="text-center">
          <%= image_tag(asset_path('secure_form_white.jpg')) %>
        </div>
        <br />
        <div class="text-center">
          <div class="spacer-sm">This payment will be billed to the card you specified. The name on the statement will be instrumentchamp.com</div>
          Submit a question to our <a href="mailto: support@instrumentchamp.com">support team</a>.
        </div>
      <% end %>
    </div>
  </div>

  <%= content_for(:js_scripts) do %>
    <script type="text/javascript">
      var PAYMILL_PUBLIC_KEY = "<%= PAYMILL_PUBLIC_KEY %>";

      $(document).ready(function() {
        submit_credit_card_payment();
      });
    </script>
    <script type="text/javascript" src="https://bridge.paymill.com/"></script>
  <% end %>

<% else %>

  <div class="alert alert-warning">
    Your shooping cart is empty.
  </div>

<% end %>

<div class="modal fade" id="progress_checkout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content spacer">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Checkout</h4>
      </div>
      <div class="modal-body">
        <p>Your transaction is being processed. Please wait.</p>
        <div class="progress progress-striped active">
          <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
