<%= render 'shared/header_page', title: 'Shopping cart and Checkout' %>

<% unless @cart.line_items.empty? %>

  <div class="row">
    <div class="col-lg-6">
      <h2>Shopping cart</h2>

      <table width="100%" class="shopping-cart-datagrid">
        <tr class="head">
          <td>Product description</td>
          <td>Price</td>
          <td></td>
        </tr>
        <% @cart.line_items.each do |line_item| %>
          <tr>
            <td>
              <% if line_item.has_song? %>
                <%= image_tag line_item.buyable.cover_url, class: "avatar-sm" %>
                <%= link_to line_item.buyable.title, line_item.buyable %>
              <% else %>
                <%= line_item.buyable.title %> Suscription
              <% end %>
            </td>
            <td><%= number_to_currency(line_item.buyable.cost) %></td>
            <td align="right">
              <%= link_to line_item_path(line_item), {method: :delete, class: 'btn btn-sm btn-default'} do %>
                <i class="glyphicon glyphicon-trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>

      <br /><br />

      <div>
        <%= simple_form_for @cart, html: {class: "form-inline"} do |f| %>
          Discount code
          <%= f.input :discount_code_code, label: false %>
          <%= f.submit "ok", {class: 'btn btn-primary'} %>
        <% end %>
      </div>

      <div class="text-right">
        <div>
          Subtotal &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= number_to_currency(@cart.subtotal) %>
        </div>
        <% if @cart.discount_code %>
          <div>
            Discount &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -<%= number_to_currency(@cart.discount_code.discount_price) %>
          </div>
        <% end %>
        <div>
          Taxes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= number_to_currency(@cart.taxes) %>
        </div>
        <br />
        <div>
          <b>Grand Total &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= number_to_currency(@cart.total_price) %></b>
        </div>
      </div>

    </div>
    <div class="col-lg-6">
      <h2>Checkout</h2>
    </div>
  </div>

<% else %>

  <div class="alert alert-warning">
    Your shooping cart is empty.
  </div>

<% end %>