<% if group_leaders %>

  <h2>Leaderboard</h2>

  <table width="100%" class="datagrid">
    <tr class="head">
      <td>User</td>
      <td>Instrument</td>
      <td>Points</td>
      <td></td>
    </tr>
    <% group_leaders.each do |group_challenge_leader| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td>
        	<%= image_tag group_challenge_leader.user.imagename, class: 'avatar-xs' if thumbnail %>
        	<%= link_to group_challenge_leader.user.username, person_path(group_challenge_leader.user.username) %>
        </td>
        <td><%= group_challenge_leader.instrument.name %></td>
        <td><%= group_challenge_leader.max_score %> points</td>
        <td></td>
      </tr>
    <% end %>
  </table>

<% end %>
