<% if @group_challenge_leaders %>

  <table width="100%" class="datagrid">
    <tr class="head">
      <td>User</td>
      <td>Instrument</td>
      <td>Points</td>
      <td></td>
    </tr>
    <% @group_challenge_leaders.each do |group_challenge_leader| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td>
        	<%= image_tag group_challenge_leader.user.imagename, class: 'avatar-xs' %>
        	<%= link_to group_challenge_leader.user.username, person_path(group_challenge_leader.user.username) %>
        </td>
        <td><%= group_challenge_leader.instrument.name %></td>
        <td><%= group_challenge_leader.max_score %></td>
        <td></td>
      </tr>
    <% end %>
  </table>

<% end %>
