<%= render 'shared/header_image_cover', cover: @challenge.group.cover_url, profile: @challenge.group.imagename_url %>

<div class="clearfix group-nav">
	<div class="pull-left">
		<ul class="group-nav-list clearfix">
			<li>Challenge by: <%= link_to @challenge.group.name, @challenge.group %></li>
			<li>Host: <%= link_to @challenge.group.initiator_user.username, person_path(@challenge.group.initiator_user) %></li>
		</ul>
	</div>
	<div class="pull-right">
		<%= @group.add_members_button %>
		<%= @challenge.display_start_group_challenge_button %>
	</div>
</div>

<div class="row">
	<div class="col-lg-8">
		<h2>Challenge</h2>
		<ul class="media-list">
		  <li class="media media-item no-border no-padding">
		    <%= image_tag @challenge.cover_url, class: "song-cover pull-left" %>
		    <div class="media-body">
		      <div class="spacer-md"><h2 class="no-margin"><%= link_to @challenge.song.title, song_path(@challenge.song) %></h2></div>
		      <div class="spacer-md"><%= @challenge.display_start_group_challenge_button %></div>
		      <div class="spacer-sm">
		      	By: <%= link_to @challenge.song.artist.title, artist_path(@challenge.song.artist) %> <br />
		        <time datetime="<%= @challenge.created_at%>" pubdate><%= time_ago_in_words(@challenge.created_at)%> ago</time>
		      </div>
		    </div>
		  </li>
		</ul>
		<br />
		<ul class="nav nav-tabs" role="tablist">
		  <li class="active"><a href="#status" role="tab" data-toggle="tab">Status</a></li>
		  <li><a href="#leaderboard" role="tab" data-toggle="tab">Leaderboard</a></li>
		  <!--<li><a href="#players" role="tab" data-toggle="tab">Players</a></li>-->
		</ul>

		<br />

		<div class="tab-content">
		  <div class="tab-pane active" id="status">
				<% if signed_in? and @group.user_can_post?(current_user) %>
					<%= render "challenge_posts/form", challenge: @challenge %>
					<hr />
				<% end %>
				<% if signed_in? and @group.user_can_see_posts?(current_user) %>
					<div id="challenge_activities">
						<%= render @challenge_activities %>
					</div>
				<% end %>
		  </div>
		  <div class="tab-pane" id="leaderboard">
		  	<% if !@group_challenge_leaders.blank? %>
		  		<%= render "leaderboard" %>
		  	<% else %>
		  		<p>No records</p>
		  	<% end %>
		  </div>
		  <!--
		  <div class="tab-pane" id="players">
		  	<h2>Players</h2>

				<% if !@results.blank? %>
					<table width="100%" class="datagrid">
						<tr class="head">
							<td>User</td>
							<td>Points</td>
							<td></td>
						</tr>
						<% @results.each do |result| %>
							<tr class="<%= cycle("odd", "even") %>">
								<td><%= link_to result.user.username, person_path(result.user), class: 'btn-secondary-color' %></td>
								<td><%= result.score %> points</td>
								<td></td>
							</tr>
						<% end %>
					</table>
				<% else %>
					<p>No records</p>
				<% end %>
		  </div>
		  -->
		</div>
	</div>
	<div class="col-lg-4">
		<h2>About</h2>
		<p>
			<%= @group.show_description %>
		</p>
		<hr />
		<!--<%= render "groups/members", group: @group %>
		<hr />-->
		<% if !@resumed_group_challenge_leaders.blank? %>
    	<%= render "top_scores" %>
   	<% end %>
	</div>
</div>