<% content_for(:facebook_og_meta) do %>
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:title" content="Group challenge by <%= @group.name %>. Play music with your friends online with InstrumentChamp" />
  <meta property="og:image" content="<%= asset_url(@challenge.cover_url) %>" />
  <meta property="og:description" content="Learn to play guitar, learn to play piano, learn to play drums and more on InstrumentChamp" />
<% end %>

<%= set_page_title "Group challenge by #{@group.name}. Play music with your friends online with InstrumentChamp" %>

<%= content_for(:detail_header_thumb) do %>
	<%= image_tag @challenge.cover_url %>
<% end %>

<%= content_for(:detail_header_primary_info) do %>
	<h3>Group Challenge by <%= link_to @group.name, @group %></h3>
	<h2><%= @challenge.song.title %></h2>
	<p>By: <%= link_to @challenge.song.artist.title, artist_path(@challenge.song.artist) %></p>
	<p><%= @group.join_button %></p>
	<br class="hidden-xs" />
	<%= @challenge.display_start_group_challenge_button('Accept challenge', '') %>
	<%= @group.add_members_button %>
<% end %>

<%= content_for(:detail_header_secondary_info) do %>
	<b>Players: </b><%= @group.users.count %>
<% end %>

<%= content_for(:detail_header_nav_left) do %>
	<ul>
		<li class="active"><a href="#status" role="tab" data-toggle="tab">Overview</a></li>
		<li><a href="#leaderboard" role="tab" data-toggle="tab">Leaderboard</a></li>
	</ul>
<% end %>

<% if signed_in? %>

  <%= content_for(:detail_header_nav_right) do %>
    <%= refresh_button('btn-sm') %>
  	<%= link_to 'Create new group', new_group_path, class: 'btn btn-primary btn-sm' %>
  	<!--
  	<% if UserGroupsManager.new(current_user).belongs_to_group?(@group) %>
  		<div class="dropdown">
  		  <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
  		    <i class="glyphicon glyphicon-cog"></i>
  		  </button>
  		  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
  		    <li role="presentation"><a href="<%= group_group_invitations_path(@group) %>" role="menuitem", tabindex="-1">Invite members</a></li>
  		    <li role="presentation"><a href="<%= new_group_challenge_path(@group) %>" role="menuitem", tabindex="-1">Create new challenge</a></li>
  		    <li role="presentation"><a href="<%= new_group_path %>" role="menuitem", tabindex="-1">Create new group</a></li>
  		    <li role="presentation"><%= @group.leave_group_button %></li>
  		    <li role="presentation"><%= @group.edit_button %></li>
  		    <li role="presentation"><%= @group.membership_requests_pending_approval_button %></li>
  		  </ul>
  		</div>
  	<% end %>
  	-->
  	<%= @challenge.display_edit_button %>
  <% end %>

<% end %>

<div class="tab-content">
  <div class="tab-pane active" id="status">
		<% if signed_in? and @group.user_can_post?(current_user) %>
			<h2>Status</h2>
			<%= render "challenge_posts/form", challenge: @challenge %>
			<hr />
		<% end %>
		<% if signed_in? and @group.user_can_see_posts?(current_user) %>
			<div id="challenge_activities">
				<%= render @challenge_activities %>
			</div>
		<% end %>
  </div>
  <div class="tab-pane" id="leaderboard">
  	<% if !@group_challenge_leaders.blank? %>
  		<%= render "leaderboard" %>
  	<% else %>
  		<p>No records</p>
  	<% end %>
  </div>
</div>

<%= content_for(:detail_right_col) do %>
	<h2>About the challenge <%= link_to @challenge.song.title, [@group, @challenge] %></h2>
	<p>
		<%= simple_format @challenge.show_description %>
	</p>
	<hr />
	<% if !@resumed_group_challenge_leaders.blank? %>
		<%= render "top_scores" %>
		<hr />
	<% end %>
	<%= render "groups/members", group: @group %>
  <hr />
  <%= render "groups/leaderboard_table", group_leaders: @group_leaders %>

<% end %>

<div class="modal fade" id="invite_new_members_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content spacer">
      <div class="modal-body">
        Loading...
      </div>
    </div>
  </div>
</div>

<%= render "login_modal" %>