<div class="post-feed">
	<div class="clearfix">
		<div class="pull-left user-thumb">
			<%= link_to group_challenge_path(group_id: activity.trackable.challenge.group.id, id: activity.trackable.challenge.id) do %>
	      <div class="thumbnail">
	        <%= image_tag activity.trackable.challenge.song.cover_url, class: "song-cover" %>
	      </div>
	    <% end %>
		</div>
		<div class="pull-left">
			<h4 class="media-heading"><%= link_to activity.owner.username, person_path(activity.owner) if activity.owner %></h4>
      <div class="small spacer-md text-muted"><%= time_ago_in_words(activity.created_at) %> ago</div>
      <div class="spacer-md">
        played
        <%= link_to activity.trackable.song.title, artist_song_path(activity.trackable.song.artist, activity.trackable.song) %>
        by
        <%= link_to activity.trackable.song.artist.title, artist_path(activity.trackable.song.artist) %>
        in a group challenge by
        <%= link_to activity.trackable.challenge.group.name, group_path(activity.trackable.challenge.group) %>.
        The score was
        <b><%= activity.trackable.score %></b>
        giving
        <b><%= activity.trackable.position_in_challenge %> position</b>
        in the challenge.
      </div>
      <%= GroupChallengeDecorator.decorate(activity.trackable.challenge).display_start_group_challenge_button('Accept challenge') %>
    	<%= link_to 'View challenge', group_challenge_path(group_id: activity.trackable.challenge.group.id, id: activity.trackable.challenge.id), class: 'btn btn-primary btn-sm' %>
		</div>
	</div>
</div>