<div class="post-feed">
	<div class="clearfix">
		<div class="pull-left user-thumb">
			<%= link_to challenge_path(activity.trackable) do %>
	      <div class="thumbnail">
	        <%= image_tag activity.trackable.song.cover_url, class: "song-cover" %>
	      </div>
	    <% end %>
		</div>
		<div class="pull-left">
			<h4 class="media-heading"><%= link_to activity.owner.username, person_path(activity.owner) if activity.owner %></h4>
      <div class="small spacer-md text-muted"><%= time_ago_in_words(activity.created_at) %> ago</div>
      <div class="spacer-md">
        played
        <%= link_to activity.trackable.song.title, artist_song_path(activity.trackable.song.artist, activity.trackable.song) %>
        by
        <%= link_to activity.trackable.song.artist.title, artist_path(activity.trackable.song.artist) %>
        with
        <%= activity.trackable.instrument.name %>
        and scored
        <b><%= activity.trackable.score %></b>
        for
        <b><%= activity.trackable.position_in_the_world %> position</b>
        in the world
      </div>
		</div>
	</div>
	<%= render 'activities/actions', activity: activity %>
</div>