<div id="search-box">
	<%= form_tag searches_path, {class: "form-inline main-search-box"} do %>
	  <div class="form-group form-control-sm">
	    <% if params[:controller] == "groups" %>
        <%= hidden_field_tag "search[group_id]", params[:id] %>
	    <% end %>
      <% if params[:controller] == "group_challenges" %>
        <%= hidden_field_tag "search[group_id]", params[:group_id] %>
      <% end %>
	    <%= text_field_tag "search[value]", nil, {class: "form-control input-sm", placeholder: "Search for friends, artists, songs...", method: :post} %>
	  </div>
	  <%= button_tag(type: 'submit', class: "btn btn-primary btn-sm input-sm") do %>
	    <i class="glyphicon glyphicon-search"></i>
	  <% end %>
	<% end %>
</div>
