<div class="header-page sub-header">
  <%= content_tag :h2 do %>
    <%= title %>
  <% end %>

  <% if !values.blank? %>
    <%= content_tag 'div', class: 'header-page-btn' do %>
      <%= link_to "View more", view_more_link %>
    <% end %>
  <% end %>
</div>

<% if !values.blank? %>
	<div class="thumbnail-grid row">
  	<%= render values %>
  </div>
<% else %>
  <p>
    No search results
  </p>
<% end %>

<br />
