<% if !current_user.installed_desktop_app? %>
	<p>Your InstrumentChamp download should start within seconds. If it doesn't, <a href="#" class="restart_download">restart the download.</a></p>
  <section>
    <%= link_to "I already installed the app", apps_path(installed: true) %>
  </section>
<% else %>
	<br />
	<div id="download-btn"></div>
	<br />
<% end %>

<%= content_for(:js_scripts) do %>
	<script type="text/javascript">
		$(document).ready(function() {
			var node = $("#download-btn");
			if (navigator.appVersion.indexOf("Mac")!=-1){
				//node.html('<a class="download_btn mac" href=""><img src="http://blog.instrumentchamp.com/wp-content/uploads/2014/01/download_ic_osx.png" alt="Download InstrumentChamp for Windows" class="downloadbutton"/></a>');
				node.html('<a class="btn btn-primary btn-huge download_btn mac" href="#">Download InstrumentChamp Free</a>');
			} else {
		  	node.html('<a class="btn btn-primary btn-huge download_btn win" href="#">Download InstrumentChamp Free</a>');
		  }

			function download_action() {
				$("#getReady").modal("show");
			  if (navigator.appVersion.indexOf("Mac")!=-1){
					window.location = "<%= mac_download_link %>";
				} else {
			  	window.location = "<%= windows_download_link %>";
			  }
			  window.focus();
			}

	  	$(".download_btn").click(function(e) {
			  download_action();
			});
			
			$(".restart_download").click(function(e) {
			  e.preventDefault();
			  download_action();
			});

			<% if params[:auto_download] or !current_user.installed_desktop_app? %>
				$(window).load(function() {
					download_action();
				});
			<% end %>
	  });

  </script>
<% end %>

<div class="modal fade" id="getReady" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="text-center">Install InstrumentChamp and get your <%= display_instrument %> ready</h3>
      </div>
    </div>
  </div>
</div>