<%= render 'shared/header_page', title: 'Download' %>

<h2>Thanks for downloading InstrumentChamp</h2>

<% if signed_in? %>
	<%= render 'download_button', auto_download: params[:auto_download] %>
<% else %>
	<%= content_for(:js_scripts) do %>
		<script type="text/javascript">
			$(document).ready(function() {				
				show_modal_authentication('download', true)
			});
	  </script>
	<% end %>
<% end %>

<ul class="download-step">
	<li>
		<%= image_tag(asset_path('download_step1.png')) %>
		<h5>Download InstrumentChamp</h5>
	</li>
	<li>
		<%= image_tag(asset_path('download_step2.png')) %>
		<h5>Run the installer</h5>
	</li>
	<li>
		<%= image_tag(asset_path('download_step3.png')) %>
		<h5>Login</h5>
	</li>
	<li>
		<%= image_tag(asset_path('download_step4.png')) %>
		<h5>Have fun!</h5>
	</li>
</ul>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Click here for step by step instructions and system requirements
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <h3>Step by step instructions:</h3>
				<ol>
					<li>Download the InstrumentChamp software for PC or MAC.</li>
					<li>Install InstrumentChamp on your computer.</li>
					<li>Connect your keyboard or digital drumset. Make sure your microphone is activated on your computer to play with acoustic instruments.</li>
					<li>Start InstrumentChamp.</li>
				</ol>
				
				<div class="bs-callout bs-callout-info">
					<h4>System requirements:</h4>
					<p>
						<ul class="no-style">
							<li>Operating system: Windows XP/Vista/7. OSX7+</li>
							<li>Operating system version (bit/SP): SP 3 (XP)</li>
							<li>Memory: 1 GB</li>
							<li>Hard drive (GB): 0,5</li>
							<li>Sound Card.</li>
							<li>Microphone.</li>
						</ul>
					</p>
					<h4>You can play with one or more musical instruments:</h4>
					<p>
						<ul class="no-style">
							<li><strong>Guitar requirements:</strong> Play with any acoustic or electric guitar.</li>
							<li><strong>Piano requirements:</strong> Recommended digital piano. You can also play with acoustic piano, but it needs to be perfectly in tune.</li>
							<li><strong>Drums:</strong> Play with digital drumset with usb or midi-port.</li>
						</ul>
					</p>
				</div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Click here to contact our help desk
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <p>You can get help to install and get started with InstrumentChamp on our <a href="https://instrumentchamp.zendesk.com" target="_blank">Zendesk</a> or by sending an email to the <a href="mailto: support@instrumentchamp.com">support team</a>.</p>
      </div>
    </div>
  </div>
</div>