<li class="media media-item">
  <%= image_tag challenge.cover_url, class: "song-cover pull-left" %>
  <div class="media-body">
    <p class="spacer-sm">
    	<%= link_to challenge.song.title, song_path(challenge.song) %>
    	by <%= link_to challenge.song.artist.title, artist_path(challenge.song.artist)%>
		</p>
		<p class="spacer-sm">
	    Created by <%= link_to challenge.challenger.username, person_path(challenge.challenger)%>
	    <time datetime="<%= challenge.created_at%>" pubdate><%= time_ago_in_words(challenge.created_at)%> ago</time>
	    <% if challenge.challenged %>
	    	(Challenged: <%= link_to challenge.challenged.username, person_path(challenge.challenged) %>)
	    <% else %>
	    	<div>Group: <%= link_to challenge.group.name, challenge.group %></div>
	    <% end %>
	  </p>
	  <div class="clearfix">
      <%= challenge.display_start_challenge_button %>
      <!--<%= challenge.display_decline_challenge_button %>-->
    </div>
    <%= challenge.display_results %>
    <%= challenge.display_remind_button %>
  </div>
</li>