<li class="media media-item">
    <%= link_to challenge.desktop_app_uri, title: "Start challenge", class: "pull-left", id: "challenge_start_#{challenge.id}" do %>
	    <%= image_tag challenge.cover_url, class: "song-cover" %>
	  <% end %>
  <div class="media-body">
    <p class="spacer-sm">
    	<%= link_to challenge.song.title, song_path(challenge.song) %>
    	by <%= link_to challenge.song.artist.title, artist_path(challenge.song.artist)%>
		</p>
		<p class="spacer-sm">
	    Created by <%= link_to challenge.challenger.username, person_path(challenge.challenger)%>
	    <time datetime="<%= challenge.created_at%>" pubdate><%= time_ago_in_words(challenge.created_at)%> ago</time>
	    (Challenged: <%= link_to challenge.challenged.username, person_path(challenge.challenged)%>)
	  </p>
  </div>
  <%= link_to "view", challenge_path(challenge) %>
</li>