<% if challenge.song and challenge.challenger and (challenge.challenged or challenge.group) %>
	<div class="group-challenge-item masonry-img">

	  <div class="item-content">
	    <div class="clearfix spacer-md header-item">
	      <div class="pull-left item-img">
          <%= image_tag challenge.song.cover_url, class: 'song-cover spacer-sm' %>
        </div>
	      <div class="pull-left">
  	    	<h2 class="truncate primary-text-color"><%= link_to challenge.song.title, song_path(challenge.song) %></h2>
  	    	<div class="truncate">by <%= link_to challenge.song.artist.title, artist_path(challenge.song.artist)%></div>
	    	</div>
			</div>
			<div class="spacer-sm small">
		    Created by <%= link_to challenge.challenger.username, person_path(challenge.challenger)%>
		    <time datetime="<%= challenge.created_at%>" pubdate><%= time_ago_in_words(challenge.created_at)%> ago</time>
		    <% if challenge.challenged %>
		    	(Challenged: <%= link_to challenge.challenged.username, person_path(challenge.challenged) %>)
		    <% elsif challenge.group %>
		    	<div>Group: <%= link_to challenge.group.name, challenge.group %></div>
		    <% end %>
		  </div>
		  <div class="spacer-sm">
		  	<%= challenge.display_results %>
		  </div>
		  <div class="link_actions">
		    <div><%= challenge.display_remind_button %></div>
		    <%= challenge.display_start_challenge_button %>
		    <%= link_to 'View', challenge.group ? group_challenge_path(group_id: challenge.group.id, id: challenge.id) : challenge, class: 'btn btn-primary btn-sm' %>
			</div>

	  </div>
	</div>
<% end %>
