<% if challenge.song and (challenge.challenged or challenge.group) %>
	<div class="group-challenge-item masonry-img">
		<div class="pull-left item-img">
			<%= image_tag challenge.song.cover_url, class: 'song-cover spacer-sm' %>
		</div>
	  <div class="pull-left item-content">
	    <div class="spacer-md">
	    	<h2><%= link_to challenge.song.title, song_path(challenge.song) %></h2>
	    	by <%= link_to challenge.song.artist.title, artist_path(challenge.song.artist)%>
			</div>
			<div class="spacer-md small">
		    Created by <%= link_to challenge.challenger.username, person_path(challenge.challenger)%>
		    <time datetime="<%= challenge.created_at%>" pubdate><%= time_ago_in_words(challenge.created_at)%> ago</time>
		    <% if challenge.challenged %>
		    	(Challenged: <%= link_to challenge.challenged.username, person_path(challenge.challenged) %>)
		    <% elsif challenge.group %>
		    	<div>Group: <%= link_to challenge.group.name, challenge.group %></div>
		    <% end %>
		  </div>
		  <div class="spacer-md">
		  	<%= challenge.display_results %>
	    	<%= challenge.display_remind_button %>
		  </div>
		  <div class="spacer-md">
				<%= link_to 'View', challenge.group ? group_challenge_path(group_id: challenge.group.id, id: challenge.id) : challenge, class: 'btn btn-primary btn-sm' %>
		    <%= challenge.display_start_challenge_button %>
			</div>

	  </div>
	</div>
<% end %>
