<% if !@challenge.group %>
	<%= render 'shared/header_page', title: 'Create Challenge' %>
<% end %>

<% if @challenge.song %>

  <section>
  	<%= render 'shared/header_page', title: '1. Challenge chosen', sub_header: true %>
		<div class="row">
			<div class="col-md-3 col-sm-4">
				<%= image_tag @challenge.song.cover_url, class: 'thumbnail' %>
			</div>

			<div class="col-md-9 col-sm-8">
				<p>
		  		<h3><%= @challenge.song.title%></h3>
		  		<h4><%= @challenge.song.artist.title %></h4>
		  		<div>Writer: <strong><%= @challenge.song.writer %></strong></div>
		  		<div>Publisher: <strong><%= @challenge.song.publisher %></strong></div>
		  	</p>
		  	<div><%= link_to "Change your song", @challenge.change_song_link, {class: 'btn btn-primary', data: { toggle: "modal", target: "#selectSong" }} %></div>
			</div>
		</div>
  </section>

<% else %>

  <section>
    <div class="header-page sub-header">
			<%= content_tag :h2 do %>
				1. Choose the challenges
			<% end %>

			<%= content_tag 'div', class: 'header-page-btn' do %>
				<%= link_to "View more", @challenge.view_more_songs_link, {class: '', data: { toggle: "modal", target: "#selectSong" }} %>
			<% end %>
		</div>
    <p>
			<div class="thumbnail-grid row">
				<% if @challenge.group %>
					<%= render @songs, modal: true %>
				<% else %>
					<%= render partial: "songs/song", collection: @songs %>
				<% end %>
			</div>
    </p>
  </section>

<% end %>

<% if !@challenge.group %>

  <br />

  <section>
    <% if @challenge.challenged %>
      <%= render 'shared/header_page', title: '2. Opponent chosen', sub_header: true %>
      <div class="row">
        <div class="col-md-3 col-sm-4">
          <%= image_tag @challenge.challenged.imagename_url, class: "thumbnail" %>
          <h4><%= @challenge.challenged.username %></h4>
        </div>

        <div class="col-md-9 col-sm-8">
          <br />
          <br />
          <div>
            <%= @challenge.select_opponent_link("btn btn-primary") %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="header-page sub-header">
        <%= content_tag :h2 do %>
          2. Choose friend to challenge
        <% end %>

        <%= content_tag :div, class: 'header-page-btn' do %>
          <%= @challenge.select_opponent_link %>
        <% end %>
      </div>

      <div class="thumbnail-grid row">
        <%= render @users %>
      </div>
    <% end %>
  </section>

<% end %>

<hr />

<%= content_tag 'div', class: 'btn-content' do %>
	<section>
	  <%= simple_form_for path do |f| %>
	    <%= f.association :challenger, as: :hidden %>
	    <%= f.association :challenged, as: :hidden %>
	    <%= f.association :song, as: :hidden %>
	    <%= f.input :public, as: :hidden %>
	    <%= f.input :instrument, as: :hidden, input_html: { value: 'Guitar' } %>
	    <%= f.association :group, as: :hidden %>
	    <%= f.button :submit, "Create Challenge", class: 'btn btn-primary btn-lg' %>
	  <% end %>
	</section>
<% end %>

<div class="modal fade" id="selectUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content spacer">
      <div class="modal-body">
				Loading...
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="selectSong" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content spacer">
      <div class="modal-body">
				Loading...
      </div>
    </div>
  </div>
</div>
