<% if !signed_in? %>
  <%= content_for(:js_scripts) do %>
    <script type="text/javascript">
      $(document).ready(function() {
       $("#section_login_modal").modal({
          show: true,
          backdrop: 'static'
        });
      });
    </script>
  <% end %>
<% end %>

<div class="modal fade" id="section_login_modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h2>Make your music dream come true</h2>
        <h3>Sign up for free</h3>
      </div>
      <div class="modal-body">
        <div class="row row-eq-height">
          <div class="col-md-5 left-side col-md-offset-1">
            <%= image_tag @challenge.song.cover_url, class: "cover" %>
            <div class="info-content">
              <div class="primary">Challenge <%= link_to @challenge.song.title, @challenge.song, data: {no_turbolink: true} %></div>
              <div class="primary">Challenge by <%= link_to @challenge.challenger.username, person_path(@challenge.challenger), data: {no_turbolink: true} %></div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="login-title">
              InstrumentChamp is a game and social network for music players
            </div>
            <div class="login-view">
              <%= link_to facebook_signin_path, id: "facebook_signin", class: 'fb_button sm' do %>
                <div class="Spinner"></div>
                <span class="text">Log in with Facebook</span>
              <% end %>
              <p class="text-divider"><span>or</span></p>
              <%= form_tag sessions_path, id: "login-form", remote: true do %>
                <%= hidden_field_tag :action_modal, "" %>
                <div class="spacer-sm">
                  <%= text_field_tag :username, "", placeholder: "Username", class: "form-control input-lg", required: true, autofocus: true %>
                </div>
                <%= password_field_tag :password, "", placeholder: "Password", class: "form-control input-lg", required: true %>
                <div class="pull-right remember_check">
                  <%= check_box_tag :remember_me, 1, false %> Remember me?
                </div>
                <%= submit_tag "Sign in", {class: "btn btn-primary btn-lg", id: "sign_in"} %>
                <%= hidden_field_tag 'action_modal', '' %>
              <% end %>

              <%= content_tag :div, class: "credentials-invalid alert alert-danger text-center", style: 'display: none' do %>
                Username or password invalid
              <% end %>

              <br />
              <div class="text-center">
                <div class="spacer-sm"><%= link_to 'Forgot your password?', new_password_reset_path %></div>
                <div>Don't have an account? <a href="#" id="sign-up-slide-btn"><%= link_to 'Sign up', new_person_path %></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>