<div>
  <%= challenge.challenger.username %>: <strong><%= challenge.score_u1 %></strong> points
  <% if challenge.challenger_instrument %>
    on <strong><%= challenge.challenger_instrument.name %></strong>
  <% end %>
  <%= content_tag :span, 'Winner', class: 'label label-primary' if challenge.challenger_won? %>
</div>

<% if challenge.challenged %>
	<div>
	  <%= challenge.challenged.username %>: <strong><%= challenge.score_u2 %></strong> points
	  <% if challenge.challenged_instrument %>
	    on <strong><%= challenge.challenged_instrument.name %></strong>
	  <% end %>
		<%= content_tag :span, 'Winner', class: 'label label-primary' if challenge.challenged_won? %>
	</div>
<% end %>