<%= content_tag :div, {class: challenges.tab_class, id: challenges.tab_id} do %>
	<div class="page-header clearfix">
		<h2 class="pull-left" style="margin-top: 0px"><%= challenges.title %></h2>
		<%= content_tag 'div', class: 'btn-content pull-right' do %>
			<%= challenges.view_all_link %>
		<% end %>
	</div>
	
	<!--<%= render 'shared/header_page', title: challenges.title, sub_header: true, view_more: 'View more', view_more_path: 'asds' %>-->

	<% unless challenges.blank? %>
		<ul class="media-list">
			<%= render challenges %>
		</ul>
	<% else %>
		<p class="no-content hide">
		  <p><%= challenges.no_challenges_message %></p>
		</p>
	<% end %>
<% end %>
