<%= content_tag :div, {class: challenges.tab_class, id: challenges.tab_id} do %>
	<div class="page-header">
		<h3><%= challenges.title %></h3>
		<%= content_tag 'div', class: 'btn-content' do %>
			<%= challenges.view_all_link %>
		<% end %>
	</div>

	<% unless challenges.blank? %>
		<ul class="media-list">
			<%= render challenges %>
		</ul>
	<% else %>
		<p class="no-content hide">
		  <p><%= challenges.no_challenges_message %></p>
		</p>
	<% end %>
<% end %>
