<h1 class="page-header clearfix"><small><i class="glyphicon glyphicon-flag"></i></small> Challenges
  <% if signed_in? %>
    <%= link_to "New challenge", new_challenge_path, {class: "btn btn-primary pull-right"} %>
  <% end %>
</h1>

<ul class="nav nav-tabs">
  <li class="active"><a href="#<%= @my_challenges.tab_id %>" data-toggle="tab"><%= @my_challenges.tab_text %></a></li>
  <li><a href="#<%= @pending_challenges.tab_id %>" data-toggle="tab"><%= @pending_challenges.tab_text %></a></li>
  <li><a href="#<%= @challenges_results.tab_id %>" data-toggle="tab"><%= @challenges_results.tab_text %></a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <%= render "tab_results", challenges: @my_challenges %>
  <%= render "tab_results", challenges: @pending_challenges %>
  <%= render "tab_results", challenges: @challenges_results %>
</div>
