<%= render 'shared/header_page', title: 'Challenges' %>

<%= content_tag 'div', class: 'btn-content' do %>
	<%= link_to 'Create a new challenge', new_challenge_path, {class: 'btn btn-primary btn-lg activation2'} %>
<% end %>

<br /><br />

<ul class="nav nav-tabs">
  <li class="active"><a href="#<%= @my_challenges.tab_id %>" data-toggle="tab"><%= @my_challenges.tab_text %></a></li>
  <li><a href="#<%= @pending_challenges.tab_id %>" data-toggle="tab"><%= @pending_challenges.tab_text %></a></li>
  <li><a href="#<%= @challenges_results.tab_id %>" data-toggle="tab"><%= @challenges_results.tab_text %></a></li>
</ul>

<br />

<!-- Tab panes -->
<div class="tab-content">
  <%= render "tab_results", challenges: @my_challenges %>
  <%= render "tab_results", challenges: @pending_challenges %>
  <%= render "tab_results", challenges: @challenges_results %>
</div>
