<%= render 'shared/header_page', title: 'Challenges', view_more: 'Create a new challenge', view_more_path: new_challenge_path %>

<% unless @my_challenges.blank? %>

	<div class="row">
		<div class="col-md-4 text-center col-xs-4">
			<div class="thumbnail thumbnail-challenge">
				<%= image_tag current_user.imagename_url %>	
			</div>
	  	<div class="link_header"><%= @my_challenges.first.challenger.username %></div>
		</div>
		<div class="col-md-4 text-center col-xs-4">
			<h3>VS</h3>
			<br />
			<div class="thumbnail thumbnail-challenge">
				<%= image_tag @my_challenges.first.song.cover_url %>
			</div>			
			<div class="link_header"><%= link_to @my_challenges.first.song.title, artist_song_path(@my_challenges.first.song.artist, @my_challenges.first.song), class: "song-title" %></div>
			<div class="link_subheader"><%= link_to @my_challenges.first.song.artist.title, artist_path(@my_challenges.first.song.artist), class: "song-artist" %></div>
		</div>
		<div class="col-md-4 text-center col-xs-4">
			<div class="thumbnail thumbnail-challenge">
				<%= image_tag @my_challenges.first.challenged.imagename_url %>
			</div>		
			<div class="link_header"><%= link_to @my_challenges.first.challenged.username, person_path(@my_challenges.first.challenged.username) %></div>   
		</div>
	</div>
	<br />

	<%= content_tag 'div', class: 'btn-content text-center' do %>
		<%= link_to 'Start first challenge', @my_challenges.first.start_challenge_url, {class: 'btn btn-primary btn-lg activation2'} %>	
	<% end %>

	<br />
	<hr />
	
	<div class="quick-challenge-container text-center">
		<% @my_challenges.drop(1).each do |challenge| %>
			<div class="quick-challenge <%= cycle("even", "odd") %>">
				<div class="clearfix">
					<div class="challenger">
						<%= image_tag current_user.imagename_url %>
						<% current_user.username %>
						<div><%= link_to 'Start challenge', challenge.start_challenge_url, {class: 'btn btn-primary btn-sm'} %></div>
					</div>
					<div class="song">
						<%= image_tag challenge.song.cover_url %>			
						<div class="link_header"><%= link_to challenge.song.title, artist_song_path(challenge.song.artist, challenge.song), class: "song-title" %></div>
						<div class="link_subheader"><%= link_to challenge.song.artist.title, artist_path(challenge.song.artist), class: "song-artist" %></div>	
					</div>
					<div class="challenged">				
						<%= image_tag challenge.challenged.imagename_url %>
						<div class="link_header"><%= link_to challenge.challenged.username, person_path(challenge.challenged.username) %></div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	
<% else %>

	<%= content_tag 'div', class: 'btn-content' do %>
		<%= link_to 'Create a new challenge', new_challenge_path, {class: 'btn btn-primary activation2'} %>
	<% end %>
	
<% end %>

<% if @my_challenges_count > 3 %>

	<br />
	<%= content_tag 'div', class: 'btn-content text-center' do %>
		<%= link_to 'More challenges', list_challenges_path(view: "my_challenges"), {class: 'btn btn-primary'} %>
	<% end %>

<% end %>

<br /><br />

<div>	
	<ul class="nav nav-tabs">
		<li class="active"><a href="#<%= @challenges_results.tab_id %>" data-toggle="tab"><%= @challenges_results.tab_text %></a></li>
		<li><a href="#<%= @pending_challenges.tab_id %>" data-toggle="tab"><%= @pending_challenges.tab_text %></a></li>
	</ul>
	<br />

	<!-- Tab panes -->
	<div class="tab-content">
		<%= render "tab_results", challenges: @challenges_results %>
		<%= render "tab_results", challenges: @pending_challenges %>			
	</div>
</div>

