<%= render 'shared/header_page', title: 'Create Challenge' %>

<% if @challenge.song %>

  <section>
  	<%= render 'shared/header_page', title: '1. Challenge chosen', sub_header: true %>
		<div class="row">
			<div class="col-md-3 col-sm-4">
				<%= image_tag @challenge.song.cover_url, class: 'thumbnail' %>
			</div>

			<div class="col-md-9 col-sm-8">
				<p>
		  		<h3><%= @challenge.song.title%></h3>
		  		<h4><%= @challenge.song.artist.title %></h4>
		  		<div>Writer: <strong><%= @challenge.song.writer %></strong></div>
		  		<div>Publisher: <strong><%= @challenge.song.publisher %></strong></div>
		  	</p>
		  	<div><%= link_to "Change your song", for_challenge_songs_path(challenged_id: @challenge.challenged_id), {class: 'btn btn-primary', data: { toggle: "modal", target: "#selectSong" }} %></div>
			</div>
		</div>
  </section>

<% else %>

  <section>    
    <div class="header-page sub-header">			
			<%= content_tag :h2 do %>
				1. Choose the challenge
			<% end %>

			<%= content_tag 'div', class: 'header-page-btn' do %>
				<%= link_to "View more", for_challenge_songs_path(challenged_id: @challenge.challenged_id), {class: '', data: { toggle: "modal", target: "#selectSong" }} %>
			<% end %>
		</div>
    <p>
			<div class="thumbnail-grid row">
				<%= render partial: "songs/song", collection: @songs %>
			</div>
    </p>
  </section>

<% end %>

<br />

<section>
	<%= render 'shared/header_page', title: '2. Choose friend to challenge', sub_header: true %>
	<div class="row">
		<div class="col-md-3 col-sm-5 col-xs-5 text-center">
			<%= image_tag @challenge.challenger.imagename_url, class: "thumbnail" %>
    	<h4><%= @challenge.challenger.username %></h4>
		</div>
		<div class="col-md-2 col-sm-2 col-xs-2 text-center">
			<br /><br />
			<h3 class="text-center">VS</h3>
		</div>
		<div class="col-md-3 col-sm-5 col-xs-5 text-center">
			<% if @challenge.challenged %>				
	      <%= image_tag @challenge.challenged.imagename_url, class: "thumbnail" %>
	      <h4><%= @challenge.challenged.username %></h4>
      <% else %>
	      <%= link_to @challenge.select_opponent_path, class: 'thumbnail', data: { toggle: "modal", target: "#selectUser"} do %>
	      	<%= image_tag(asset_path('default_user.png')) %>
				<% end %>			      	
	    <% end %>
      <div>
        <%= @challenge.select_opponent_link %>
      </div>
	    <br />
		</div>
	</div>
</section>

<hr />

<%= content_tag 'div', class: 'btn-content' do %>
	<section>
	  <%= simple_form_for @challenge do |f| %>
	    <%= f.association :challenger, as: :hidden %>
	    <%= f.association :challenged, as: :hidden %>
	    <%= f.association :song, as: :hidden %>
	    <%= f.input :public, as: :hidden %>
	    <%= f.input :instrument, as: :hidden, input_html: { value: 'Guitar' } %>
	    <%= f.button :submit, "Start Challenge", class: 'btn btn-primary btn-lg' %>
	  <% end %>
	</section>
<% end %>

<div class="modal fade" id="selectUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content spacer">
      <div class="modal-body">
				Loading...
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="selectSong" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content spacer">
      <div class="modal-body">
				Loading...
      </div>
    </div>
  </div>
</div>
