<h1><i class="icon-challenge"></i> Create a new challenge</h1>

<% if @challenge.song %>

  <section class="row">
  	<h2 class="subtle">1. Song chosen</h2>

  	<div>
  		<img src="http://placehold.it/150x150" alt="">
  	</div>

  	<div>
  		<h3>"<%= @challenge.song.title%>"</h3>
  		<p class="subtle"><%= @challenge.song.artist.title %></p>
  		<p class="subtle">Writer: <%= @challenge.song.writer %></p>
  		<p class="subtle">Publisher: <%= @challenge.song.publisher %></p>
  	</div>
  </section>

  <section class="row">
  	<h2>2. Choose friend to challenge</h2>

    <div class="medium-4 columns">
      <p><%= image_avatar(@challenge.challenger) %></p>
      <p><%= @challenge.challenger.username %></p>
    </div>

    <div class="medium-1 columns"> VS </div>

    <div class="medium-4 columns">
      <% if @challenge.challenged %>
        <p><%= image_avatar(@challenge.challenged) %></p>
        <p><%= @challenge.challenged.username %></p>
      <% else %>
        <img src="http://placehold.it/300x300" alt="">
        <div>
          <%= link_to "Click to choose your opponent", people_path(user_action: "challenge", song_id: @challenge.song.id) %>
        </div>
        <p>Player 2</p>
      <% end %>
    </div>
  </section>

  <section class="row">
    <%= simple_form_for @challenge do |f| %>
      <%= f.association :challenger, as: :hidden %>
      <%= f.association :challenged, as: :hidden %>
      <%= f.association :song, as: :hidden %>
      <%= f.input :public, as: :hidden %>
      <%= f.input :finished, as: :hidden %>
      <%= f.input :instrument, as: :hidden, input_html: { value: 'Guitar' } %>
      <p>
        <%= f.submit "Start Challenge", {class: "btn-accent large block"} %>
      </p>
    <% end %>
  </section>

<% end %>
