<h1 class="page-header"><small><i class="glyphicon glyphicon-flag"></i></small> Choose your challenge</h1>

<% if @challenge.song %>

  <section>
  	<h3>1. Song chosen</h3>
		<div class="row">
			<div class="col-md-3 col-sm-4">
				<%= image_tag @challenge.song.cover_url, class: 'thumbnail' %>
			</div>
			
			<div class="col-md-9 col-sm-8">
				<p>
		  		<h3><%= @challenge.song.title%></h3>
		  		<h4><%= @challenge.song.artist.title %></h4>
		  		<div>Writer: <strong><%= @challenge.song.writer %></strong></div>
		  		<div>Publisher: <strong><%= @challenge.song.publisher %></strong></div>
		  	</p>
			</div>
			
			<div><%= link_to "Change your song", modal_view_songs_path(challenged_id: @challenge.challenged_id), {class: 'btn btn-link', data: { toggle: "modal", target: "#selectSong" }} %></div>
		</div>
  </section>

<% else %>

  <section>
    <h3>1. Chose your song</h3>
    <p>
      <%= link_to "Choose your song", modal_view_songs_path(challenged_id: @challenge.challenged_id), {class: 'btn btn-primary', data: { toggle: "modal", target: "#selectSong" }} %>
    </p>
  </section>

<% end %>

<hr />

<section>
	<h3>2. Choose friend to challenge</h3>
	
	<div class="row">
		<div class="col-md-3 col-sm-5 col-xs-5 text-center">
			<%= image_tag @challenge.challenger.imagename_url, class: "thumbnail" %>
    	<h4><%= @challenge.challenger.username %></h4>
		</div>
		<div class="col-md-2 col-sm-2 col-xs-2 text-center">
			<br /><br />
			<h3 class="text-center">VS</h3>
		</div>
		<div class="col-md-3 col-sm-5 col-xs-5 text-center">
			<% if @challenge.challenged %>
	      <%= image_tag @challenge.challenged.imagename_url, class: "thumbnail" %>
	      <h4><%= @challenge.challenged.username %></h4>
	      <div>
	        <% if @challenge.song %>
	        	<%= link_to "Change your opponent", modal_view_users_path(song_id: @challenge.song.id), {class: 'btn btn-link', data: { toggle: "modal", target: "#selectUser"}} %>
	        <% else %>
	          <%= link_to "Change your opponent", modal_view_users_path, {class: 'btn btn-link', data: { toggle: "modal", target: "#selectUser" }} %>
	        <% end %>
	      </div>
	    <% else %>
	      <img src="http://placehold.it/300x300" class="thumbnail">
	      <div>
	        <% if @challenge.song %>
	        	<%= link_to "Choose your opponent", modal_view_users_path(song_id: @challenge.song.id), {class: 'btn btn-link', data: { toggle: "modal", target: "#selectUser" }} %>
	        <% else %>
	          <%= link_to "Choose your opponent", modal_view_users_path, {class: 'btn btn-link', data: { toggle: "modal", target: "#selectUser" }} %>
	        <% end %>
	      </div>
	    <% end %>
	    <br />	    
		</div>
	</div>
</section>

<div class="modal fade" id="selectUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content spacer">
      <div class="modal-body">
				Loading...
      </div>
    </div>
  </div>
</div>		

<div class="modal fade" id="selectSong" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content spacer">
      <div class="modal-body">
				Loading...
      </div>
    </div>
  </div>
</div>			

<hr />

<section>
  <%= simple_form_for @challenge do |f| %>
    <%= f.association :challenger, as: :hidden %>
    <%= f.association :challenged, as: :hidden %>
    <%= f.association :song, as: :hidden %>
    <%= f.input :public, as: :hidden %>
    <%= f.input :finished, as: :hidden %>
    <%= f.input :instrument, as: :hidden, input_html: { value: 'Guitar' } %>
    <p>
      <%= f.submit "Start Challenge", {class: "btn btn-primary submit-left"} %>
    </p>
  <% end %>
</section>
