<%= render 'shared/header_page', title: 'Create Challenge' %>

<div class="row">
	<div class="col-md-4 text-center">
		<div class="thumbnail thumbnail-challenge">
			<%= image_tag @challenge.challenger.imagename_url %>	
		</div>
  	<div class="link_header"><%= @challenge.challenger.username %></div>
	</div>
	<div class="col-md-4 col-sm-2 col-xs-2 text-center">
		<h3>VS</h3>
		<br />
		<div>
			<%= link_to for_challenge_songs_path(challenged_id: @challenge.challenged_id), {class: 'thumbnail thumbnail-challenge', data: { toggle: "modal", target: "#selectSong" }} do %>
	    	<% if @challenge.song %>
	    		<%= image_tag @challenge.song.cover_url %>
	    	<% else %>
	    		<%= image_tag(asset_path('default_song.png')) %>
	    	<% end %>
			<% end %>
		</div>			
		<% if @challenge.song %>
			<div class="link_header"><%= link_to @challenge.song.title, artist_song_path(@challenge.song.artist, @challenge.song), class: "song-title" %></div>
			<div class="link_subheader"><%= link_to @challenge.song.artist.title, artist_path(@challenge.song.artist), class: "song-artist" %></div>
  	<% end %>
  	<%= @challenge.select_song_link %>
	</div>
	<div class="col-md-4 text-center">
		<div>
			<%= link_to @challenge.select_opponent_path, class: 'thumbnail thumbnail-challenge', data: { toggle: "modal", target: "#selectUser"} do %>
				<% if @challenge.challenged %>				
		      <%= image_tag @challenge.challenged.imagename_url %>
		    <% else %>
		    	<%= image_tag(asset_path('default_user.png')) %>
				<% end %>	
			<% end %>
		</div>		      	
		<% if @challenge.challenged %>
			<div class="link_header"><%= link_to @challenge.challenged.username, person_path(@challenge.challenged) %></div>
		<% end %>
		<%= @challenge.select_opponent_link %>
	</div>
</div>
<br /><br />

<% unless @challenge.song %>
	<div>
		<div class="header-page sub-header">			
			<%= content_tag :h2 do %>Choose the challenge<% end %>
			<%= content_tag 'div', class: 'header-page-btn' do %>
				<%= link_to "View more", for_challenge_songs_path(challenged_id: params[:challenged_id]), {class: '', data: { toggle: "modal", target: "#selectSong" }} %>
			<% end %>		
		</div>
	  <p>
			<div class="thumbnail-grid row">			
				<% @songs.each do |song| %>
					<div class="masonry-img col-md-2 col-sm-4 col-xs-6">
						<%= link_to new_challenge_path(song_id: song.id, challenged_id: params[:challenged_id]), class: 'thumbnail' do %>
							<%= image_tag song.cover_url, class: "song-cover" %>
						<% end %>
						<div class="actions-content">
							<div class="spacer-sm">
								<div class="link_header"><%= link_to song.title, artist_song_path(song.artist, song), class: "song-title" %></div>
								<div class="link_subheader"><%= link_to song.artist.title, artist_path(song.artist), class: "song-artist" %></div>
							</div>
					  </div>
				  </div>
				<% end %>
			</div>
	  </p>
	</div>
<% end %>

<% unless @challenge.challenged_id %>
	<div>
		<div class="header-page sub-header">			
			<%= content_tag :h2 do %>Choose friend to challenge<% end %>
			<%= content_tag 'div', class: 'header-page-btn' do %>
				<%= link_to "View more", @challenge.select_opponent_path, class: '', data: { toggle: "modal", target: "#selectUser" } %>
			<% end %>		
		</div>
	  <p>
			<div class="thumbnail-grid row">			
				<% @users.each do |user| %>
					<div class="masonry-img col-md-2 col-sm-4 col-xs-6">	
						<%= link_to new_challenge_path(song_id: params[:song_id], challenged_id: user.id), class: 'thumbnail' do %>
							<%= image_tag user.imagename_url %>
						<% end %>
						<div class="actions-content">
							<div class="spacer-sm">
								<div class="link_header"><%= link_to user.username, person_path(user) %></div>
							</div>
					  </div>
					</div>
				<% end %>
			</div>
	  </p>
	</div>
<% end %>

<% if @challenge.challenged_id and @challenge.song %>
	<br />
	<hr />
	<%= content_tag 'div', class: 'btn-content text-center' do %>
		<section>
		  <%= simple_form_for @challenge do |f| %>
		    <%= f.association :challenger, as: :hidden %>
		    <%= f.association :challenged, as: :hidden %>
		    <%= f.association :song, as: :hidden %>
		    <%= f.input :public, as: :hidden %>
		    <%= f.input :instrument, as: :hidden, input_html: { value: 'Guitar' } %>
		    <%= f.button :submit, "Start Challenge", class: 'btn btn-primary btn-lg' %>
		  <% end %>
		</section>
	<% end %>
<% end %>

<div class="modal fade" id="selectUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content spacer">
      <div class="modal-body">
				Loading...
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="selectSong" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content spacer">
      <div class="modal-body">
				Loading...
      </div>
    </div>
  </div>
</div>

