<% content_for(:facebook_og_meta) do %>
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:title" content="<%= @challenge.song.title %> challenge" />
  <meta property="og:type" content="instrumentchamp:challenge" />
  <meta property="og:image" content="<%= asset_url(@challenge.cover_url) %>" />
  <meta property="og:description" content="<%= @challenge.challenger.username %> challenged <%= @challenge.challenged.username %>" />
<% end %>

<%= content_for(:detail_header_thumb) do %>
	<%= image_tag @challenge.song.cover_url %>
<% end %>

<%= content_for(:detail_header_primary_info) do %>
	<h3>Challenge</h3>
	<h2><%= @challenge.song.title %></h2>
	<p>By: <%= link_to @challenge.song.artist.title, @challenge.song.artist %></p>
	<br class="hidden-xs hidden-sm" />
	<%= @challenge.display_start_challenge_button %>
<% end %>

<%= content_for(:detail_header_secondary_info) do %>
	Challenger: <%= link_to @challenge.challenger.username, person_path(@challenge.challenger) %><br />
	Challenged: <%= link_to @challenge.challenged.username, person_path(@challenge.challenged) %>
<% end %>

<%= content_for(:detail_header_nav_left) do %>
	<ul>
		<li class="active"><a href="#overview_tab" data-toggle="tab">Overview</a></li>
	</ul>
<% end %>

<div class="tab-content">
	<div class="tab-pane active" id="overview_tab">
		<% if signed_in? %>
			<h2>Status</h2>
			<%= render "challenge_posts/form", challenge: @challenge %>
			<hr />
		<% end %>
		<% if signed_in? %>
			<div id="challenge_activities">
				<%= render @challenge_activities %>
			</div>
		<% end %>
	</div>
</div>

<%= content_for(:detail_right_col) do %>
	<% unless @challenge.song.artist.bio.blank? %>
		<h2>About <%= link_to @challenge.song.artist.title, @challenge.song.artist %></h2>
		<p>
			<%= truncate(@challenge.song.artist.bio, length: 500, separator: ' ') { link_to "Read more", @challenge.song.artist } %>
		</p>
		<hr />
	<% end %>
	<h2>Scores</h2>
  <table width="100%" class="datagrid">
    <tr class="head">
      <td>User</td>
      <td>Instrument</td>
      <td>Points</td>
      <td></td>
    </tr>
    <tr class="odd">
      <td><%= @challenge.currently_winner.username %></td>
      <td><i class="icon-instrument <%= @challenge.winner_instrument.name.downcase if @challenge.winner_instrument %>-sm"></i></td>
      <td><%= @challenge.winner_points %></td>
      <td></td>
    </tr>
    <tr class="even">
      <td><%= @challenge.currently_loser.username %></td>
      <td><i class="icon-instrument <%= @challenge.loser_instrument.name.downcase if @challenge.loser_instrument %>-sm"></i></td>
      <td><%= @challenge.loser_points %></td>
      <td></td>
    </tr>
  </table>
<% end %>