<% if current_user.installed_desktop_app? and @autostart_challenge %>
  <META HTTP-EQUIV="Refresh" CONTENT="1; URL=<%= @autostart_challenge.desktop_app_uri %>">
<% end %>

<div id="fb-root"></div>

<% if @open_fb_notification_popup %>

  <%= content_for(:js_scripts) do %>
    <!--
    <script src="https://connect.facebook.net/en_US/all.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        FB.init({
          appId: "<%= FACEBOOK_APP_ID %>",
          cookie: true,
          status: true,
          xfbml: true,
          display: 'popup'
        });

        FB.ui({
          method: 'feed',
          to: "<%= @autostart_challenge.challenged.facebook_uid %>",
          link: "<%= challenge_url(@autostart_challenge) %>",
          picture: "<%= asset_url(@autostart_challenge.song.cover.url) %>",
          description: "<%= @autostart_challenge.challenger.username %> challenged <%= @autostart_challenge.challenged.username %> on InstrumentChamp"
        }, function(response) { alert(response) });
      });
    </script>
    -->
  <% end %>

<% end %>

<h1 class="page-header"><small><i class="glyphicon glyphicon-flag"></i></small> Your challenges</h1>

<ul class="media-list">
	<% unless @challenges.blank? %>
		<%= render partial: "challenge", collection: @challenges %>
	<% else %>
</ul>

<p class="no-content">
  No open challenges right now
</p>

<% end %>

<% if @open_fb_notification_popup %>
  <!-- Modal -->
  <div class="modal fade" id="facebook_send_message_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Send a message to your facebook friend</h4>
        </div>
        <div class="modal-body">
          <iframe height="400" width="550" frameBorder="0" src="https://www.facebook.com/dialog/feed?app_id=<%= FACEBOOK_APP_ID %>&link=<%= challenge_url(@autostart_challenge) %>&redirect_uri=<%= challenges_url %>&display=iframe&access_token=<%= current_user.facebook_credentials.oauth_token %>&to=<%= @autostart_challenge.challenged.facebook_uid %>&picture=<%= asset_url(@autostart_challenge.song.cover.url) %>&description=<%= @autostart_challenge.challenger.username %> challenged <%= @autostart_challenge.challenged.username %> on InstrumentChamp">
          </iframe>
        </div>
      </div>
    </div>
  </div>

  <%= content_for(:js_scripts) do %>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#facebook_send_message_modal').modal('toggle');
      });
    </script>
  <% end %>
<% end %>
