<% if current_user.installed_desktop_app? and @autostart_challenge and !is_mobile? %>
  <META HTTP-EQUIV="Refresh" CONTENT="1; URL=<%= @autostart_challenge.desktop_app_uri %>">
<% end %>

<%= render 'shared/header_page', title: 'Your challenges' %>

<% unless @challenges.blank? %>
  <ul class="media-list clearfix">
    <%= render partial: "challenge", collection: @challenges %>
  </ul>
  <hr />
  <%= paginate @challenges %>
<% else %>

<p class="no-content">
  No challenges right now
</p>

<% end %>

<% if @open_fb_notification_popup %>
  <%= render "facebook_friend_message_modal/new", challenge: @autostart_challenge %>
<% end %>