<% if current_user.installed_desktop_app? and @autostart_challenge %>
  <META HTTP-EQUIV="Refresh" CONTENT="1; URL=<%= @autostart_challenge.desktop_app_uri %>">
<% end %>

<div id="fb-root"></div>

<% if @open_fb_notification_popup %>

  <%= content_for(:js_scripts) do %>
    <script src="https://connect.facebook.net/en_US/all.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        FB.init({
          appId: "<%= FACEBOOK_APP_ID %>",
          cookie: true,
          status: true,
          xfbml: true,
          display: 'popup'
        });

        FB.ui({
          method: 'feed',
          to: "<%= @autostart_challenge.challenged.facebook_uid %>",
          link: "<%= challenge_url(@autostart_challenge) %>",
          picture: "<%= asset_url(@autostart_challenge.song.cover.url) %>",
          description: "<%= @autostart_challenge.challenger.username %> challenged <%= @autostart_challenge.challenged.username %> on InstrumentChamp"
        });
      });
    </script>
  <% end %>

<% end %>

<h1 class="page-header"><small><i class="glyphicon glyphicon-flag"></i></small> Your challenges</h1>

<ul class="media-list">
	<% unless @challenges.blank? %>
		<%= render partial: "challenge", collection: @challenges %>
	<% else %>
</ul>

<p class="no-content">
  No open challenges right now
</p>

<% end %>
