<h1>Download the game for free</h1>
<br />
<p class="description">
  Download and install the game to play your first challenges. You can then find more songs and friends in the online community.
</p>

<% if current_user %>
  <% unless current_user.installed_desktop_app? %>
    <br />
    <div class="well well-sm">
      This is your verification code for account verification: <b class="primary-text-color"><%= current_user.auth_token %></b>
    </div>
  <% end %>
<% end %>

<br />

<div id="download-btn"></div>

<br /><br />
<ul class="list-inline download-img">
  <li>
    <%= image_tag(asset_path('download_step1.png')) %>
    <h5>Download</h5>
  </li>
  <li>
    <%= image_tag(asset_path('download_step2.png')) %>
    <h5>Run the installer</h5>
  </li>
  <li>
    <%= image_tag(asset_path('download_step3.png')) %>
    <h5>Login</h5>
  </li>
  <li>
    <%= image_tag(asset_path('download_step4.png')) %>
    <h5>Have fun!</h5>
  </li>
</ul>

<br /><br />

<div class="panel-group text-left" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Click here for step by step instructions and system requirements
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <h3>Step by step instructions:</h3>
        <ol>
          <li>Download the InstrumentChamp software for PC or MAC.</li>
          <li>Install InstrumentChamp on your computer.</li>
          <li>Connect your keyboard or digital drumset. Make sure your microphone is activated on your computer to play with acoustic instruments.</li>
          <li>Start InstrumentChamp.</li>
        </ol>

        <div class="bs-callout bs-callout-info">
          <h4>System requirements:</h4>
          <p>
            <ul class="no-style">
              <li>Operating system: Windows XP/Vista/7/8. OSX7+</li>
              <li>Operating system version (bit/SP): SP 3 (XP)</li>
              <li>Memory: 1 GB</li>
              <li>Hard drive (GB): 0,5</li>
              <li>Sound Card.</li>
              <li>Microphone.</li>
            </ul>
          </p>
          <h4>You can play with one or more musical instruments:</h4>
          <p>
            <ul class="no-style">
              <li><strong>Guitar requirements:</strong> Play with any acoustic or electric guitar.</li>
              <li><strong>Piano requirements:</strong> Recommended digital piano. You can also play with acoustic piano, but it needs to be perfectly in tune.</li>
              <li><strong>Drums:</strong> Play with digital drumset with usb or midi-port.</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Click here to contact our help desk
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <p>You can get help to install and get started with InstrumentChamp on our <a href="https://instrumentchamp.zendesk.com" target="_blank">Zendesk</a> or by sending an email to the <a href="mailto: support@instrumentchamp.com">support team</a>.</p>
      </div>
    </div>
  </div>
</div>

<%= content_for(:js_scripts) do %>
  <script type="text/javascript">
    $(document).ready(function() {
      var node = $("#download-btn");
      if (navigator.appVersion.indexOf("Mac")!=-1){
        //node.html('<a class="download_btn mac" href=""><img src="http://blog.instrumentchamp.com/wp-content/uploads/2014/01/download_ic_osx.png" alt="Download InstrumentChamp for Windows" class="downloadbutton"/></a>');
        node.html('<a class="btn btn-primary btn-lg btn-dwn btn-full-width" href="#">Start download</a>');
      } else {
        node.html('<a class="btn btn-primary btn-lg btn-dwn btn-full-width" href="#">Start download</a>');
      }

      function download_action() {
        $("#getReady").modal("show");
        if (navigator.appVersion.indexOf("Mac")!=-1){
          window.location = "<%= mac_download_link %>";
        } else {
          window.location = "<%= windows_download_link %>";
        }
        window.focus();
      }

      $(".btn-dwn").click(function(e) {
        e.preventDefault();
        download_action();
      });

      $('#getReady').on('hidden.bs.modal', function (e) {
        window.location = "<%= home_path %>";
      })

      <% if params[:auto_download] or !current_user.installed_desktop_app? %>
        $(window).load(function() {
          //download_action();
        });
      <% end %>
    });

  </script>
<% end %>

<div class="modal fade" id="getReady" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="text-center">Install InstrumentChamp and get your <%= display_instrument %> ready</h3>
      </div>
    </div>
  </div>
</div>