<div class="text-center">
  <h1>Invite your friends</h1>
  <br />
  <p class="description">
    Music is social, invite your friends to join InstrumentChamp. You will get a surprise bonus when they join!
  </p>
  <br />

  <div class="row">
    <div class="col-sm-6">
      <a class="fb_button xs full-width" href="#" id="share_on_facebook">
        <span class="separator"></span>
        <span class="text">Share on facebook</span>
      </a>
    </div>
    <br class="visible-xs" />
    <div class="col-sm-6">
      <a class="fb_button xs full-width" href="#" id="invite_fb_friends">
        <span class="separator"></span>
        <span class="text">Invite facebook friends</span>
      </a>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-sm-6">
      <%= link_to twitter_signin_path, id: "twitter_signin", class: 'tweet twitter_button xs full-width', title: "Join me on @InstrumentChamp. It's a game and social network for music players! #PlayMusic" do %>
        <span class="separator"></span>
        <span class="text">Share on twitter</span>
      <% end %>
    </div>
    <br class="visible-xs" />
    <div class="col-sm-6">
      <%= simple_form_for @user_invitation, remote: true, wrapper: "inline", html: {class: "pos-relative"} do |f| %>
        <%= f.input :friend_email, placeholder: "Invite with email", label: false, wrapper_html: {class: "full-width"} %>
        <%= f.button :submit, "Invite", class: "invite-btn" %>
      <% end %>
    </div>
  </div>

  <br /><br />

  <%= link_to "Continue", getting_started_download_path, class: "btn btn-primary btn-lg btn-full-width" %>
</div>

<%= render "shared/facebook_invite.js" %>