<h1 class="page-header"><small><i class="glyphicon glyphicon-plus"></i></small> Premium</h1>

<div class="row">
	<div class="col-md-6 col-sm-6">
		<div class="well text-center">
			<h2>Free</h2>
			<p>
				Learn to play your favorite instrument <br />
				Challenge your friends online <br />
				Completely free
			</p>
			<p>
				<i class="glyphicon glyphicon-phone glyphicons-lg"></i>
				<i class="glyphicon glyphicon-phone glyphicons-lg"></i>
			</p>
			<p>
				Play with guitar, piano or drums made possible by ads
			</p>
			<%= link_to 'Get Free', get_free_path, class: 'btn btn-default btn-lg' %>
		</div>
	</div>
	<div class="col-md-6 col-sm-6">
		<div class="well text-center">
			<h2>Premium</h2>
			<p>
				Play in a band with your friends - Multiplayer game <br />
				Ad -free <br />
				$9.99 per month <br />
			</p>
			<p>
				<i class="glyphicon glyphicon-phone glyphicons-lg"></i>
				<i class="glyphicon glyphicon-phone glyphicons-lg"></i>
				<i class="glyphicon glyphicon-phone glyphicons-lg"></i>
			</p>
			<p>
				Extended catalogue of free songs
			</p>

			<%= link_to "Get Premium", "#", {class: "btn btn-primary btn-lg premium_plan_selected", data: {premium_plan_id: 1}} %>
		</div>
	</div>

  <div class="hide" id="select_payment_method">
    <h4>Select a payment type</h4>
    <% PaymentMethod.default_order.each do |payment_method| %>
      <%= link_to payment_method.name, "#", {class: "btn btn-warning user_premium_subscription_select_payment_method", id: payment_method.html_id, data: {payment_method_id: payment_method.id}} %>
    <% end %>
  </div>

  <div class="hide" id="user_premium_subscription_form">
    <%= simple_form_for @user_premium_subscription_form, url: user_premium_subscriptions_path do |f| %>
      <%= f.input :premium_plan_id %>
      <%= f.input :payment_method_id %>
      <%= f.button :submit, "Pay now", class: "btn btn-primary btn-lg" %>
    <% end %>
  </div>

</div>
