<%= render 'shared/header_page', title: 'Choose your membership' %>

<div class="row">
	<div class="col-md-6">
		<div class="well text-center well-plan">
    	<div class="plan-title">
    		<h2>Premium</h2>
    	</div>
      <div class="plan-descripction">
      	<p>
      		Learn to play guitar, piano and drums<br />
					Play in a band with your friends<br />
					Extended catalogue of free songs
      	</p>
      	<p>
      		<%= image_tag(asset_path('plan_premium_icons.png')) %>
				</p>
				<p>
					Ad-free
				</p>
				<hr />
				<h3 class="font-weight-normal spacer-md">Choose membership</h3>
				<div class="row">
				  <% @premium_plans.each do |premium_plan| %>
				    <div class="col-md-4 col-sm-4">
			      	<div class="plan-title">
			      		<h4><%= premium_plan.name %></h4>
			      	</div>
			        <div class="plan-descripction">
			        	<span class="plan-currency"><%= premium_plan.currency %></span>
			          <span class="plan-price"><%= premium_plan.price %></span>
			          <%= premium_plan.save_percentage %>
			          <br />
			          <div>
			            <%= link_to "Get Premium", new_user_premium_subscription_path(premium_plan_id: premium_plan.id), {class: "btn btn-primary premium_plan_selected"} %>
			          </div>
			        </div>
				    </div>
				  <% end %>
			  </div>
      </div>
    </div>
	</div>
	<div class="col-md-6">
		<div class="well text-center well-plan">
    	<div class="plan-title_">
    		<h2>Free</h2>
    	</div>
      <div class="plan-descripction">
      	<p>
					Learn to play your favorite instrument <br />
					Challenge your friends online <br />
					Free access to basic songs
      	</p>
      	<p>
      		<%= image_tag(asset_path('plan_free_icons.png')) %>
				</p>
				<p>
      		Ad-supported
      	</p>
        <div>
          <a href="<%= apps_path(auto_download: true) %>" data-no-turbolink='true' class="btn btn-primary btn-lg premium_plan_selected free">
          	Download InstrumentChamp for free
          </a>
        </div>
      </div>
    </div>
	</div>
</div>

<% if @user_premium_subscription_form.premium_plan %>
	<div class="modal fade" id="checkout_modal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h2 class="modal-title">Checkout</h2>
	      </div>
	      <%= simple_form_for @user_premium_subscription_form, url: user_premium_subscriptions_path, html: {id: "user_purchase_form", class: "checkout-form"} do |f| %>
		      <div class="modal-body">
						<div id="user_premium_subscription_form">
				      <%= render "shared/credit_card_details", f: f, form_object: @user_premium_subscription_form %>

				      <%= f.input :premium_plan_id, as: :hidden %>
				      <%= f.input :payment_method_id, input_html: { value: PaymentMethod::CREDIT_CARD_ID }, as: :hidden %>
				      <%= f.input :amount, input_html: { value: @user_premium_subscription_form.premium_plan.price, id: "amount" }, as: :hidden %>
				      <%= f.input :currency, input_html: { value: @user_premium_subscription_form.premium_plan.currency, id: "currency" }, as: :hidden %>
					  </div>
		      </div>
		      <div class="modal-footer">
		      	<div class="row">
		      		<div class="col-lg-6 spacer-md">
		      			<%= image_tag(asset_path('secure_form.png')) %>
		      		</div>
							<div class="col-lg-6">
								<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			      		<%= f.button :submit, "Continue", {class: "btn btn-primary", id: "submit_purchase_form"} %>
							</div>
		      	</div>
		      	<br />
		      	<div class="text-center">
		      		<div class="spacer-sm">This payment will be billed to the card you specified. The name on the statement will be instrumentchamp.com</div>
		      		Submit a question to our <a href="mailto: support@instrumentchamp.com">support team</a>.
		      	</div>
			    </div>
				<% end %>
	    </div>
	  </div>
	</div>

	<%= content_for(:js_scripts) do %>
    <script type="text/javascript">
      var PAYMILL_PUBLIC_KEY = "<%= PAYMILL_PUBLIC_KEY %>";

      $(document).ready(function() {
        submit_credit_card_payment();
        $('#checkout_modal').modal({
		      show: true,
		      backdrop: 'static'
		    });
      });
    </script>
    <script type="text/javascript" src="https://bridge.paymill.com/"></script>
  <% end %>
<% end %>

