<%= render 'shared/header_page', title: 'Premium' %>

<p>
  Great! You are now a premium user. You can see more details below:
</p>

<p>
  <div>
    <b>Subscription:</b> <%= @user_premium_subscription.premium_plan.name %>
  </div>
  <div>
    <b>Premium until:</b> <%= current_user.premium_until %>
  </div>
</p>

<% if @paymill_payment_details %>
  <p>
  	<h2>Your payment details</h2>
    <div>
      <b>Card:</b> <%= @paymill_payment_details["card_type"] %>
    </div>
    <div>
      <b>Card Holder:</b> <%= @paymill_payment_details["card_holder"] %>
    </div>
    <div>
      <b>Card Number:</b> **** **** **** <%= @paymill_payment_details["last4"] %>
    </div>
    <div>
      <b>Exipers on:</b> <%= @paymill_payment_details["expire_month"] %>/<%= @paymill_payment_details["expire_year"] %>
    </div>
  </p>
<% end %>

<br />
<%= link_to "Cancel subscription", user_premium_subscription_path, {method: :delete, class: "btn btn-danger"} %>
