<%= render 'shared/header_page', title: 'Invite members' %>

<%= render 'users/search_form', action: "index", controller: "group_invitations" %>
<br />

<%= render "users/users_list", users_list: @fb_top_friends, modal: true %>

<%= render "users/users_list", users_list: @regular_users, modal: true %>

<%= render 'shared/header_page', title: 'Email', sub_header: true %>

<%= form_tag({action: "via_email", method: :post}, {class: "form-inline form-inline-xs"}) do %>
  <div class="form-group">
  	<%= text_field_tag "email_group_invitation", nil, class: "form-control", placeholder: "Invite via email" %>
  	<%= submit_tag "Invite", {id: "group_invitation_via_email_submit", class: 'btn btn-primary'} %>
  </div>
<% end %>

<%= render 'shared/header_page', title: 'Facebook', sub_header: true %>

<a class="fb_button xs" href="#" id="invite_fb_friends">
  <span class="separator"></span>
  <span class="text">Invite facebook friends</span>
</a>

<a class="fb_button xs" href="#" id="share_on_facebook">
  <span class="separator"></span>
  <span class="text">Share on facebook</span>
</a>

<div id="fb-root"></div>

<%= render 'shared/header_page', title: 'Twitter', sub_header: true %>

<div class="row">
	<div class="col-md-6">
		<%= form_tag "/auth/twitter", {method: :get} do %>
		  <div class="form-group">
		    <%= text_area_tag "tweet_text", "Join me on @InstrumentChamp. It's a game and social network for music players! #PlayMusic", {class: 'form-control', rows: 3} %>
		    <%= hidden_field_tag "tweet", 'true' %>
		  </div>
		    <%= submit_tag "Share on Twitter", {class: "btn btn-primary"} %>
		<% end %>
	</div>
</div>

<% if @tweet %>
  <!-- Modal -->
  <div class="modal fade" id="tweet_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">This is the tweet</h4>
        </div>
        <div class="modal-body">
          <iframe border=0 frameborder=0 height=250 width=600 src="https://twitframe.com/show?url=https://twitter.com/<%= @user_twitter_account.username %>/status/<%= @tweet.id %>">
          </iframe>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#tweet_modal').modal('toggle');
    });
  </script>
<% end %>

<br />
