<% if params[:next] %>
  <%= render "shared/onboarding_process_header" %>
<% end %>

<%= render 'shared/header_page', title: 'Choose the instrument you want to play' %>

<%= simple_form_for current_user, url: user_instrument_path(current_user.id, next: params[:next]) do |f| %>

  <div class="row">
    <% @instruments.each do |instrument| %>
    	<div class="col-md-3 col-sm-6 col-xs-6">
      	<%= link_to(image_tag(instrument.image_url, class: "thumbnail"), "#", {class: "select_instrument", data: {"instrument-id" => instrument.id}}) %>
  		</div>
    <% end %>
  </div>

  <div>
    <%= f.hidden_field :instrument_id %>
  </div>

<% end %>
