<!doctype html>
<html>
<head>
  <%= render "layouts/head" %>
</head>
<body role="application" class="<%= body_classes %>">
	<header role="banner">
		<div class="row">
			<h1 class="medium-3 columns"><%= link_to :root, class: "logo" do %><i class="icon-music"></i></%>InstrumentChamp<% end %></h1>
			<div class="medium-2 columns">
				<div class="header-controls">
					<%= link_to logout_path, {class: "btn small", id: "sign_out"} do %>
            <i class="icon-logout"></i> Sign out
          <% end %>
				</div>
			</div>
		</div>
	</header>

	<div class="page-wrap row collapse">

	  <% if signed_in? %>
  		<div class="medium-4 columns">
  			<section class="side-panel">
  				<%= render current_user, locals: {user: current_user} %>

          <%= render "shared/left_menu" %>
  			</section>
  		</div>
    <% end %>

		<div class="medium-12 columns">
			<main role="main" class="row">
				<%= yield %>
			</main>
		</div>
	</div>

  <footer role="contentinfo">
    <div class="row">
      <div class="medium-4 columns">
        <p>
           © <%= link_to "Music360", :root %>
        </p>
      </div>

      <div class="medium-9 columns">
        <p>
           Prototype
        </p>
      </div>
    </div>
  </footer>

  <!-- Code by Johan (http://johanbrook.com) -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= js_scripts %>
</body>
</html>
