<!doctype html>
<html>
<head>
  <%= render "layouts/head" %>
</head>
<body role="application" class="<%= body_classes %>">
	<div id="fb-root"></div>
	<header>

		<% if signed_in? %>
			<%= render "shared/welcome_modal" %>
		<% end %>

		<nav class="navbar navbar-default navbar-fixed-top" role="navbar">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
				    <div class="navbar-header pull-left">
				      <%= link_to :root, class: "logo" do %>
				      	<%= image_tag(asset_path('logo_alpha.png')) %>
				      <% end %>
				    </div>
				    <div class="navbar-header pull-right">
				    	<% if signed_in? %>
                <% if current_user.admin? %>
                  <%= link_to admin_dashboard_path, {class: "btn", target: "_blank"} do %>
                    <i class="glyphicon glyphicon-eye-open"></i> Admin
                  <% end %>
                <% end %>
					      <%= link_to logout_path, {class: "btn", id: "sign_out"} do %>
				          <i class="glyphicon glyphicon-log-out"></i> Sign out
				        <% end %>
				      <% else %>
				      	<%= link_to 'Sign up', signup_path, class: 'btn btn-link' %>
					    	<a href="#" class="btn btn-primary sign-in-btn" data-toggle="modal" data-target="#SignIn" id="sign_in_btn">Sign in</a>
					    <% end %>
				    </div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<%= render 'sessions/sign_in' %>
	<%= render 'shared/loading_modal' %>

	<div id="page-wrap">
		<div class="container">
			<div class="row">
			  <% if signed_in? %>
		  		<div class="col-md-2 col-sm-3">
		  			<section class="side-panel pos-relative">
		  				<%= render "users/left_menu_header", user: current_user %>

		          <%= render "shared/left_menu" %>
		  			</section>
		  		</div>
		    <% end %>

				<div class="col-md-10 col-sm-9">

          <% flash.each do |name, msg| %>
            <%= content_tag :div, class: "alert alert-#{name} #{alert_class(name)} alert-dismissable" do %>
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <%= msg %>
            <% end %>
          <% end %>

					<main role="main">
						<%= yield %>
					</main>
				</div>
			</div>
		</div>
	</div>

  <%= render "shared/footer" %>

  <!-- Code by Johan (http://johanbrook.com) -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= js_scripts %>
</body>
<%= render "shared/zendesk_feedback_tab" %>
</html>