<!doctype html>
<html>
  <head>
    <%= render "layouts/head" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </head>
  <body role="application" class="<%= body_classes %>">
    <div id="fb-root"></div>
    <header>

      <% if signed_in? %>
        <%= render 'pages/home_welcome_modal' %>
      <% end %>

      <%= render 'layouts/main_nav' %>

      <%= render 'sessions/sign_in' %>
      <%= render 'shared/loading_modal' %>

	  </header>

      <div id="page-wrap">
        <div class="container">
          <div class="row">
            <% if signed_in? %>
            <div class="col-md-2 col-sm-3">
              <section class="side-panel pos-relative">
                <%= render "shared/left_menu" %>
              </section>
            </div>
            <% end %>
            <div class="col-md-10 col-sm-9">
              <% flash.each do |name, msg| %>
	              <%= content_tag :div, class: "alert alert-#{name} #{alert_class(name)} alert-dismissable" do %>
		              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
		                &times;
		              </button>
		              <%= msg %>
	              <% end %>
              <% end %>
              <main role="main">
                <%= content_for?(:content) ? yield(:content) : yield %>
              </main>
            </div>
          </div>
        </div>
      </div>

      <% if signed_in? %>
        <div class="modal fade" id="add_to_shooping_cart_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content spacer">
              <div class="modal-body">
                <div class="detail-item"></div>
                <div class="text-right">
                  <%= link_to "View cart", cart_path(current_user.current_cart), class: "btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="add_to_wishlist_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content spacer">
              <div class="modal-body">
                <div class="detail-item"></div>
                <div class="text-right">
                  <%= link_to "View wishlist", wishlist_path(current_user.current_wishlist), class: "btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <%= render "shared/footer" %>
      <%= js_scripts %>
  </body>
  <script src="https://connect.facebook.net/en_US/all.js"></script>
  <%= render "shared/zendesk_feedback_tab" %>
</html>