<!doctype html>
<html>
  <head>
    <%= render "layouts/head" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </head>
  <body role="application" class="<%= body_classes %>">
    <div id="fb-root"></div>
    <header>

      <% if signed_in? %>
      <%= render "shared/welcome_modal" %>
      <% end %>

      <nav class="navbar navbar-default navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <%= link_to :root, class: "logo navbar-brand" do %>
                <%= image_tag(asset_path('logo_alpha.png')) %>
                <% end %>
              </div>

              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              	<% if signed_in? %>
	              	<ul class="nav navbar-nav navbar-left">
	              		<li class="progress-bar-header hidden-xs">
											<%= render 'shared/progress_bar' %>
                  	</li>
	                  <li>
	                    <%= render "searches/new" %>
	                  </li>
	              	</ul>
              	<% end %>
                <ul class="nav navbar-nav navbar-right">
                  <% if signed_in? %>

	                  <li class="profile-section">
	                  	<div class="dropdown">
											  <a class="btn dropdown-toggle clearfix" data-toggle="dropdown">
											  	<div class="pull-left">
											  		<%= image_tag current_user.imagename_url, alt: current_user.username, class: "header-avatar" %>
											  	</div>
											  	<div class="pull-left">
											  		<b><%= current_user.username %></b><br />
														<%= current_user.level %>
											  	</div>
											  </a>
											  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
											  	<li role="presentation"><%= link_to "Account", overview_accounts_path %></li>
											    <li role="presentation"><%= link_to "Upgrade", new_user_premium_subscription_path if !current_user.premium? %></li>
											    <li role="presentation"><%= link_to "Admin", admin_dashboard_path, {target: "_blank"} if current_user.admin? %></li>
											    <li role="presentation" class="divider"></li>
											    <li role="presentation"><%= link_to "Sign out", logout_path %></li>
											  </ul>
											</div>
	                  </li>
	                  <li>
	                  	<% if !current_user.installed_desktop_app? %>
												<%= link_to "Download", is_mobile? ? mobile_landing_path : apps_path, {class: "btn btn-primary btn-lg download-modal-btn btn-huge-header"} %>
	                  	<% else %>
	                  		<%= link_to "Premium", !current_user.premium? ? new_user_premium_subscription_path : subscription_accounts_path, {class: "btn btn-primary btn-lg download-modal-btn btn-huge-header"} %>
	                  	<% end %>

	                  </li>
                  <% else %>
	                  <li>
	                    <a href="<%= help_path %>" class="btn btn-link" target="_blank">Help</a>
	                  </li>
	                  <li>
	                    <a href="#" class="btn btn-link authentication-btn" data-id="login">Log in</a>
	                  </li>
	                  <li>
	                    <a href="#" class="btn btn-primary btn-lg authentication-btn download-modal-btn" data-id="download">Download</a>
	                  </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <%= render 'sessions/sign_in' %>
      <%= render 'shared/loading_modal' %>

	  </header>

      <div id="page-wrap">
        <div class="container">
          <div class="row">
            <% if signed_in? %>
            <div class="col-md-2 col-sm-3">
              <section class="side-panel pos-relative">
                <div class="visible-sm visible-xs">
                  <ul id="sidebar" class="nav nav-stacked main-menu-mobile clearfix">
                    <li>
                      <a href="<%= home_path %>" id="home"><i class='glyphicon glyphicon-home'></i></a>
                    </li>
                    <li>
                      <a href="<%= people_path %>" id="people"><i class='glyphicon glyphicon-user'></i></a>
                    </li>
                    <li>
                      <a href="<%= artists_path %>" id="people"><i class='glyphicon glyphicon-star'></i></a>
                    </li>
                    <li>
                      <a href="<%= songs_path %>" id="songs"><i class='glyphicon glyphicon-music'></i></a>
                    </li>
                    <li>
                      <a href="<%= challenges_path %>" id="challenges"><i class='glyphicon glyphicon-flag'></i></a>
                    </li>
                  </ul>
                  <hr />
                </div>
                <%= render "shared/left_menu" %>
              </section>
            </div>
            <% end %>
            <div class="col-md-10 col-sm-9">
              <% flash.each do |name, msg| %>
	              <%= content_tag :div, class: "alert alert-#{name} #{alert_class(name)} alert-dismissable" do %>
		              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
		                &times;
		              </button>
		              <%= msg %>
	              <% end %>
              <% end %>
              <main role="main">
                <%= content_for?(:content) ? yield(:content) : yield %>
              </main>
            </div>
          </div>
        </div>
      </div>

      <%= render "shared/footer" %>
      <%= js_scripts %>
  </body>
  <%= render "shared/zendesk_feedback_tab" %>
</html>