<!doctype html>
<html>
  <head>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= render "layouts/head" %>
  </head>

  <body role="landing" class="<%= body_classes %>">
    <div id="fb-root"></div>

    <nav class="navbar navbar-default navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="pull-left">
          <%= link_to :root, class: "logo navbar-brand" do %>
            <%= image_tag(asset_path('logo_beta.png')) %>
          <% end %>
          <span class="getting-started-label primary-text-color">
            Getting started
          </span>
        </div>
        <div class="pull-right">
          <%= render "layouts/step_counter", step: @step %>
        </div>
      </div>
    </nav>

    <section class="getting-started-content">
      <div class="text-center">
        <div class="container">
          <%= yield %>
        </div>
        <%= yield(:more) %>
      </div>
    </section>

    <%= js_scripts %>
  </body>
  <script src="https://connect.facebook.net/en_US/all.js"></script>

</html>