<!doctype html>
<html>
  <head>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= render "layouts/head" %>
  </head>

  <body role="getting-started" class="<%= body_classes %>">
    <div id="fb-root"></div>

    <nav class="navbar navbar-default navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <%= link_to :root, class: "logo navbar-brand" do %>
          <%= image_tag(asset_path('logo_beta.png')) %>
        <% end %>
      </div>
    </nav>

    <section class="getting-started-content">
      <div class="text-center">
        <div id="getting_started_header" class="clearfix">
          <div class="pull-left">
            <span class="getting-started-label">
              Getting started
            </span>
          </div>
          <div class="pull-right">
            <%= render "layouts/step_counter", step: @step %>
          </div>
        </div>
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </section>

    <%= js_scripts %>
  </body>
  <script src="https://connect.facebook.net/en_US/all.js"></script>

</html>