<%= content_for :content do %>
	<%= render "groups/group_header" %>
	<div class="row">
		<div class="col-lg-8">
			<%= yield %>
		</div>
		<div class="col-lg-4">
			<h2>About</h2>
			<p>
				<%= @group.show_description %>
			</p>
			<hr />
			<%= render "groups/members", group: @group %>
	    <hr />
	    <%= render "groups/leaderboard", group_leaders: @group_leaders %>
		</div>
	</div>
<% end %>

<%= render template: "layouts/application" %>