<!doctype html>
<html>
	<head>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= render "layouts/head" %>		
	</head>

	<body role="landing" class="<%= body_classes %>" data-spy="scroll" data-target=".navbar-custom-links" data-offset="300">
		<%= yield %>
	</body>	
	<%= render "shared/zendesk_feedback_tab" %>
</html>
