<%= content_for(:detail_header_thumb) do %>
	<%= image_tag @user.imagename_url %>
<% end %>

<%= content_for(:detail_header_primary_info) do %>
	<h3>User</h3>
	<h2><%= @user.username %></h2>
<% end %>

<%= content_for(:detail_header_secondary_info) do %>
	<%= render "user_level_info" %>
<% end %>

<%= content_for(:detail_header_nav_left) do %>
	<ul>
		<li class="<%= 'active' if current_page?(overview_accounts_path) %>"><%= link_to "Overview", overview_accounts_path %></li>
		<li class="<%= 'active' if current_page?(profile_accounts_path) %>"><%= link_to "Profile", profile_accounts_path %></li>
		<li class="<%= 'active' if current_page?(subscription_accounts_path) %>"><%= link_to "Subscription", subscription_accounts_path %></li>
		<li class="<%= 'active' if current_page?(receipts_accounts_path) %>"><%= link_to "Receipts", receipts_accounts_path %></li>
	</ul>
<% end %>