<ul class="nav nav-pills spacer-sm">
  <li class="<%= 'active' if current_page?(overview_accounts_path) %>"><%= link_to "Overview", overview_accounts_path %></li>
  <li class="<%= 'active' if current_page?(profile_accounts_path) %>"><%= link_to "Profile", profile_accounts_path %></li>
  <li class="<%= 'active' if current_page?(subscription_accounts_path) %>"><%= link_to "Subscription", subscription_accounts_path %></li>
</ul>

<br />