<div class="icon-level level<%= @user.get_level.number %> user-level-display"><span><%= @user.xp %>MP</span></div>
<% if @user.instrument %>
	<div>
		<div class="icon-instrument guitar-<%= @user.instrument.name.downcase == "guitar" ? "active" : "disabled" %>"></div>
		<div class="icon-instrument piano-<%= @user.instrument.name.downcase == "piano" ? "active" : "disabled" %>"></div>
		<div class="icon-instrument drums-<%= @user.instrument.name.downcase == "drums" ? "active" : "disabled" %>"></div>
	</div>
<% end %>