<%= render 'nav_menu' %>

<h2>Profile</h2>

<ul class="no-style info-label">
	<li><span>Username:</span> <%= @user.username %></li>
	<li><span>Email:</span> <%= @user.email %></li>
	<li><span>Career level:</span> <%= @user.level %></li>
	<li><span>Instrument:</span>
    <% if @user.instrument %>
      <%= @user.instrument.name %>
    <% else %>
      No instrument chosen
    <% end %>
	</li>
  <li>
    <span>Following:</span> <%= link_to @user.followed_users.count, following_path(@user) %>
  </li>
	<li>
	  <span>Followers:</span> <%= link_to @user.followers.count, user_follower_path(@user) %>
	</li>
</ul>

<br />
<%= link_to 'View complete profile', profile_accounts_path %>
<br /><br />

<h2>Subscription status</h2>

<% if @user.premium %>
	<% if @subscription %>
		<p>
			Your <b>InstrumentChamp</b> subscription will be automatically renewed the <%= l @user.premium_until, format: :notime %>, unless you cancel your subscription before that time.
		</p>
	<% else %>
		<p>
			Your <b>InstrumentChamp</b> subscription will be active until the <%= l @user.premium_until, format: :notime %>
		</p>
	<% end %>
	<%= link_to 'Manage subscriptions', subscription_accounts_path %>
<% else %>
	<p>You are currently using InstrumentChamp Free. To get the most out of InstrumentChamp, sign up for InstrumentChamp Premium.</p>
	<br />
	<%= link_to 'Upgrade to premium user', new_user_premium_subscription_path, class: 'btn btn-primary' %>
<% end %>

<%= content_for(:detail_right_col) do %>
<% end %>