<%= render 'nav_menu' %>

<h2>Status</h2>

<% if @user.premium %>
	<% if @subscription %>
		<p>
			Your <b>InstrumentChamp</b> subscription will be automatically renewed the <%= l @user.premium_until, format: :notime %>, unless you cancel your subscription before that time.
		</p>
		<br />
		<div class="panel-group no-style" id="accordion">
		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <div class="panel-title">
		        <a data-toggle="collapse" data-parent="#accordion" href="#read_more">
		          Click here to read more
		        </a>
		      </div>
		    </div>
		    <div id="read_more" class="panel-collapse collapse">
		      <div class="panel-body">
		      	<br />
		      	<p>If for some reason you do not want to continue with your premium account, simply cancel your subscription.</p>

				    <a data-toggle="modal" data-target="#confirm_modal" href="#">
		          Cancel your subscription
		        </a>
		      </div>
		    </div>
		  </div>
		</div>

		<div id="confirm_modal" class="modal fade">
		  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			     <a class="close" data-dismiss="modal">×</a>
			     <h4>Are you sure you want cancel your subscription?</h4>
			   </div>
			   <div class="modal-footer">
			     <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
			     <%= link_to "Continue", user_premium_subscription_path(@subscription), method: :delete, class: 'btn btn-primary' %>
			   </div>
			 </div>
			</div>
		</div>

	<% else %>
		<p>
			Your <b>InstrumentChamp</b> subscription will be active until the <%= l @user.premium_until, format: :notime %>
		</p>
	<% end %>
<% else %>
	<p>You are currently using InstrumentChamp Free. To get the most out of InstrumentChamp, sign up for InstrumentChamp Premium.</p>
	<br />
	<%= link_to 'Upgrade to premium user', new_user_premium_subscription_path, class: 'btn btn-primary' %>
<% end %>

